/* Adjust validation icons for bootstrap4 components */
.form-control-feedback{
    right:14px;
}

.form-inline .form-control-feedback{
    right: 0px;
}
.input-group ~ .form-control-feedback {
    right: -14px;
}

.radio-inline .form-control-feedback{
    right:-28px;
    top:-8px;
}

.form-inline .control-label{
    margin-right:2px;
}

/* Complete marks are hidden by default */
i.complete-mark {
    display: none;
}

/* Display when parent element has 'complete' class */
.complete > i.complete-mark {
    display: unset;
}

.btn-link {
    padding: 0;
}

/* Hack the label class so, when used as an input button, is displayed */
input.label:empty {
    display: inherit;
}

/* Extended jQuery UI Autocomplete widgets */
.ui-menu.fm-autocomplete-menu {
  overflow-y: scroll;
}


/** This resets the default that come from the jq autocomplete that makes
the current behaviour jumpy and inconsistent **/
.ui-menu.fm-autocomplete-menu .ui-menu-item-wrapper.ui-state-active {
  border: none;
  background: none;
  margin: none;
  color: red;
  margin-left:-15px;
  margin-right:-15px;
  margin-top:0px;
  margin-bottom:0px;
}

img.enrolled-icon {
    height: 1.5em;
}

label.required:before {
    content: " *";
    color: red;
}
