.revert-field {
    color: #3F6EB5;
    background-color: transparent !important;
    size: 1px;
    border: hidden;
    margin: 2px;
}

.import-field {
    color: #3F6EB5;
    background-color: transparent !important;
    size: 1px;
    border: hidden;
    margin: 2px;
}

.import-data {
    background-color: lightgoldenrodyellow !important;
    display: inline;
    white-space: nowrap;
}

.import-data-parent {
    white-space: nowrap;
}

select.import-data {
    width: 75%;
}

/* Adjust validation icons for bootstrap4 components */
.form-control-feedback {
    right: 14px;
}

.form-inline .form-control-feedback {
    right: 0px;
}

.input-group ~ .form-control-feedback {
    right: -14px;
}

.radio-inline .form-control-feedback {
    right: -28px;
    line-height: normal;
}

.form-inline .control-label {
    margin-right: 2px;
}

/* Used for multi-field controls such as radio groups. Icon is placed into this location via FV::onPlaced event */
.fv-plugins-message-container .form-control-feedback {
    line-height: normal;
    top: 3px;
    right: 0;
}

/*Space out inline radios a little more than the default of 10px to make room for validation icons*/
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-left: 20px;
}

/* Complete marks are hidden by default */
i.complete-mark {
    display: none;
}

/* Display when parent element has 'complete' class */
.complete > i.complete-mark {
    display: unset;
}

.btn-link {
    padding: 0;
}

/* Hack the label class so, when used as an input button, is displayed */
input.label:empty {
    display: inherit;
}

/* Extended jQuery UI Autocomplete widgets */
.ui-menu.fm-autocomplete-menu {
    overflow-y: scroll;
}


/** This resets the default that come from the jq autocomplete that makes
the current behaviour jumpy and inconsistent **/
.ui-menu.fm-autocomplete-menu .ui-menu-item-wrapper.ui-state-active {
    border: none;
    background: none;
    margin: none;
    color: red;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

img.enrolled-icon {
    height: 1.5em;
}

label.required > input[required=required] {
    margin-left: -25px;
}

p.required:before, label.required:before {
    content: " *";
    color: red;
    letter-spacing: -2px;
}

#nodule-table .form-group-sm {
    margin: 5px 5px 5px 5px;
}

/*hide dotted line under abbreviations where browsers already do it.*/
abbr[title] {
    text-decoration: none;
}

/* W3C recommended way to hide an element that is technically necessary for accessibility, but not
functionally/visually necessary. See: https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements*/
.aria-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    /* necessary? display: none; */
}

.radio-label, .checkbox-label {
    margin-top: 10px;
}

pre.wrappable {
    overflow-x: auto;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: keep-all;        /* force words to stay together */
}
