/* Adjust validation icons for bootstrap4 components */
.fv-form-bootstrap4:not(.form-inline) label ~ .fv-control-feedback {
    top: 38px;
    right: -14px;
}

/* Complete marks are hidden by default */
i.complete-mark {
    display: none;
}

/* Display when parent element has 'complete' class */
.complete > i.complete-mark {
    display: unset;
}