*~
.*~
.DS_Store
**/build
**/out
.idea/
.dtool
java/tests/.gradle/
docs/src/doc/**
/venv/
/.gradle/
/gradle/wrapper/
/gradlew
/docs/src/.venv
/docs/src/forms-mount-sinai/**
/docs/src/js-mount-sinai/**
