<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    {# PULMONARY ABNORMALITIES #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" href="#pulmonary-container"
             aria-expanded="true" aria-controls="pulmonary-container"
             data-field-name="cepa" style="cursor:pointer;">
            <h4 class="panel-title">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up" style="display: none;"></i>
                Pulmonary
            </h4>
        </div>
        <div id="pulmonary-container" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <input type="hidden" name="cepa"/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>RUL</th>
                            <th>RML</th>
                            <th>RLL</th>
                            <th>LUL</th>
                            <th>LLL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set rf = ["rul","rml","rll","lul","lll"] %}
                        <tr>
                            <td><label class="control-label" for="cecbc-n">Cysts</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cecbc") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cecbc-container">
                                        {{ f.checkbox("cecbcl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td><label class="control-label" for="cecbb-n">Blebs/Bullae</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cecbb") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cecbb-container">
                                        {{ f.checkbox("cecbbl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td><label class="control-label" for="cerdc-n">Regional or diffuse
                                consolidation</label><br/>
                                <small>(focal - put in nodule grid)</small>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cerdc") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cerdc-container">
                                        {{ f.checkbox("cerdcl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td><label class="control-label" for="cescr-n">Scarring</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cescr") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cescr-container">
                                        {{ f.checkbox("cescrl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td style="border-top:none;"></td>
                            <td colspan="6" style="border-top:none;">
                                <div class="form-group form-inline cescr-container">
                                    <label>Apical</label>&nbsp;
                                    {{ f.checkbox("cescrl6","au","Unilateral") }}
                                    {{ f.checkbox("cescrl7","ab","Bilateral") }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="control-label"
                                       for="cebrsb-n">Bronchiectasis</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cebrsb") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cebrsb-container">
                                        {{ f.checkbox("cebrsbl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td><label class="control-label" for="cebrss-n">Small airways disease</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cebrss") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cebrss-container">
                                        {{ f.checkbox("cebrssl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="cebs-n">Post-surgical findings</label><br/>
                                <small>(i.e. bronchial resection margin)</small>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ f.inlineRadio("cebs", "cebs-n","n","N/A") }}
                                    {{ f.inlineRadio("cebs", "cebs-o","o","Normal") }}
                                    {{ f.inlineRadio("cebs", "cebs-y","y","Abnormal") }}
                                    {{ f.inlineRadio("cebs", "cebs-e","e","Not visible") }}
                                </div>
                            </td>
                            <td colspan="5">
                                <div class="form-group form-inline">
                                    {{ f.checkbox("cebsrt", "r", "Right") }}
                                    &nbsp;
                                    {{ f.checkbox("cebslt", "l", "Left") }}
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <h4>Early and Late Findings of Interstitial Lung Disease</h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label class="control-label" for="cerb-n">Traction bronchiectasis in a peripheral
                                location</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cerb") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cerb-container">
                                        {{ f.checkbox("cerbl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td><label class="control-label" for="cepgo-n">Peripheral ground-glass opacities</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cepgo") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cepgo-container">
                                        {{ f.checkbox("cepgol"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td><label class="control-label" for="ceret-n">Reticulations</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceret") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group ceret-container">
                                        {{ f.checkbox("ceretl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td><label class="control-label" for="cephc-n">Honeycombing</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cephc") }}
                                </div>
                            </td>
                            {% for i in [1,2,3,4,5] %}
                                <td>
                                    <div class="form-group cephc-container">
                                        {{ f.checkbox("cephcl"+i|string, rf[i-1], "") }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="7">
                                <div class="form-group">
                                    <label for="ceoppa">Additional comments on pulmonary abnormalities</label>
                                    <textarea name="ceoppa" id="ceoppa"
                                              class="form-control"></textarea>
                                    {{ f.inlineCheckbox("ceoppai", "y", "Include in impression") }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# PLEURAL ABNORMALIITES #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" href="#pleural-container"
             aria-expanded="true" aria-controls="pleural-container" data-field-name="ceppra" style="cursor:pointer;">
            <h4 class="panel-title">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up" style="display: none;"></i>
                Pleural or pleural-related
            </h4>
        </div>
        <div id="pleural-container" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <input type="hidden" name="ceppra"/>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label" for="cept-n">Pleural thickening/plaques</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cept") }}
                                </div>
                            </td>
                            <td colspan="5">
                                <div class="form-group form-inline cept-container">
                                    {{ f.checkbox("ceptrt", "r", "Right") }}
                                    &nbsp;
                                    {{ f.checkbox("ceptlt", "l", "Left") }}
                                    &nbsp;
                                    {{ f.checkbox("ceptct", "c", "Calcification") }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="control-label" for="cebatr-n">Rounded atelectasis</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cebatr") }}
                                </div>
                            </td>
                            <td colspan="5">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>RUL</th>
                                        <th>RML</th>
                                        <th>RLL</th>
                                        <th>LUL</th>
                                        <th>LLL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {% for i in [1,2,3,4,5] %}
                                            <td>
                                                <div class="form-group cebatr-container">
                                                    {{ f.checkbox("cebatrl"+i|string, rf[i-1], "") }}
                                                </div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>

                        <tr>
                            <td><label class="control-label" for="cepev">Pleural
                                effusion</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cepev") }}
                                </div>
                            </td>
                            <td colspan="5" class="cepev-container">
                                <div class="form-group pull-left">
                                    <label for="ceper">Right</label>
                                    <select id="ceper" name="ceper" class="form-control" required="required">
                                        <option value="-"> -</option>
                                        <option value="no"> None</option>
                                        <option value="sm"> Small</option>
                                        <option value="mo"> Moderate</option>
                                        <option value="lg"> Large</option>
                                    </select>
                                </div>

                                <div class="form-group pull-left">
                                    <label for="cepel">Left</label>
                                    <select id="cepel" name="cepel" class="form-control" required="required">
                                        <option value="-"> -</option>
                                        <option value="no"> None</option>
                                        <option value="sm"> Small</option>
                                        <option value="mo"> Moderate</option>
                                        <option value="lg"> Large</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="control-label" for="cepu-n">Pleural tumor</label></td>
                            <td colspan="6">
                                <div class="form-group">
                                    {{ f.yesCheckbox("cepu") }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div class="form-group">
                                    <label for="ceoppab">Additional comments on pleural
                                        abnormalities</label>
                                    <textarea name="ceoppab" id="ceoppab"
                                              class="form-control"></textarea>
                                    {{ f.inlineCheckbox("ceoppabi", "y", "Include in impression") }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# CARDIAC ABNORMALITIES #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" href="#cardiac-container"
             aria-expanded="true" aria-controls="cardiac-container" data-field-name="ceca" style="cursor:pointer;">
            <h4 class="panel-title">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up" style="display: none;"></i>
                Cardiac and aortic
            </h4>
        </div>
        <div id="cardiac-container" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <input type="hidden" name="ceca"/>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label" for="cecca">Aortic calcifications</label>
                            </td>
                            <td colspan="5">
                                <div class="form-group">
                                    <select name="cecca" class="form-control"
                                            title="Aortic Calcifications">
                                        <option value="-"> -</option>
                                        <option value="no"> None</option>
                                        <option value="mi"> Minimal < &frac13;</option>
                                        <option value="mo"> Moderate</option>
                                        <option value="ex"> Extensive > &frac23;</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="control-label" for="ceprevm">Pericardial effusion severity</label></td>
                            <td colspan="5">
                                <div class="form-group">
                                    <select name="ceprevm" id="ceprevm" class="form-control"
                                            title="Pericardial Effusion Severity">
                                        <option value="-"> -</option>
                                        <option value="no"> None</option>
                                        <option value="mi"> Minimal</option>
                                        <option value="mo"> Moderate</option>
                                        <option value="ex"> Extensive</option>
                                    </select>
                                </div>

                        <tr>
                            <td colspan="2">
                                <label class="control-label" for="cepaw"> Pulmonary artery width (mm)</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="cepaw" name="cepaw" size="4"
                                           class="form-control numeric decimalformat" title="Pulmonary Artery Width">
                                </div>
                            </td>
                            <td colspan="4">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="2"><label class="control-label" for="ceaow">Ascending aorta width (mm)</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="ceaow" name="ceaow" size="4"
                                           class="form-control numeric decimalformat"
                                           title="Ascending Aorta Width">
                                </div>
                            </td>
                            <td colspan="4">
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><label class="control-label" for="cepar">Pulmonary artery/aorta
                                ratio</label><br/>
                                <small>(calculated)</small>
                            </td>
                            <td colspan="5">
                                <div class="form-group">
                                    <span id="cepar-text"></span>
                                    <input type="hidden" id="cepar" name="cepar">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div class="form-group">
                                    <label for="cecommca">Additional comments on cardiac abnormalities</label>
                                    <textarea name="cecommca" id="cecommca"
                                              class="form-control"></textarea>
                                    {{ f.inlineCheckbox("cecommcai", "y", "Include in impression") }}
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Neck and Mediastinal Abnormalities #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" href="#neck-container"
             aria-expanded="true" aria-controls="neck-container"
             data-field-name="ceoma" style="cursor:pointer;">
            <h4 class="panel-title">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up" style="display: none;"></i>
                Neck and mediastinal
            </h4>
        </div>
        <div id="neck-container" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <input type="hidden" name="ceoma"/>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label class="control-label" for="ceata-n">Thyroid</label></td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceata") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceata-container">
                                    {{ f.checkbox("ceatc","c","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceaty","y","Cyst/nodule < 15 mm") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceatm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceato","o","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceatos" id="ceatos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="control-label" for="ceaya-n">Thymus</label><br/>
                                <small>(report if ovoid &gt; 7 mm or if thymic shape with width &gt; 1.3cm)
                                </small>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceaya") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceaya-container">
                                    {{ f.checkbox("ceayc","c","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceayy","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceaym","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceayo","o","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceayos" id="ceayos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Lymph Nodes
                        <small>(w/o central fat)</small>
                    </h4>

                    <table class="table">
                        <tbody>

                        <tr>
                            <td>
                                Any enlarged or growing hilar or mediastinal lymph nodes<br/>
                                <small>(short axis &gt; 10mm)<br/>
                                    <strong>(any size for para-esophageal)</strong></small>
                            </td>
                            <td>
                                <div class="form-group form-inline">
                                    {{ f.yesCheckbox("cemln") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group" id="cemln-container">
                                    <label for="cemlnl1">Level</label>
                                    <small class="text-muted">8<sup>th</sup> edition
                                        classification: CHEST 2017; 151: 193-203
                                    </small>
                                    {{ f.checkbox("cemlnl1","N1","N1: Low cervical, supraclavicular, and sternal notch nodes") }}
                                    {{ f.checkbox("cemlnl2r","N2R","N2R: Upper paratracheal (right)") }}
                                    {{ f.checkbox("cemlnl2l","N2L","N2L: Upper paratracheal (left)") }}
                                    {{ f.checkbox("cemlnl3a","N3A","N3A: Prevascular") }}
                                    {{ f.checkbox("cemlnl3p","N3P","N3P: Retrotracheal") }}
                                    {{ f.checkbox("cemlnl4r","N4R","N4R: Lower paratracheal (right)") }}
                                    {{ f.checkbox("cemlnl4l","N4L","N4L: Lower paratracheal (left)") }}
                                    {{ f.checkbox("cemlnl5","N5","N5: Subaortic") }}
                                    {{ f.checkbox("cemlnl6","N6","N6: Para-aortic (ascending aorta or phrenic)") }}
                                    {{ f.checkbox("cemlnl7","N7","N7: Subcarinal") }}
                                    {{ f.checkbox("cemlnl8","N8","N8: Paraesophageal (below carina)") }}
                                    {{ f.checkbox("cemlnl9","N9","N9: Pulmonary ligament") }}
                                    {{ f.checkbox("cemlnl10","N10","N10: Hilar") }}
                                    {{ f.checkbox("cemlnl11","N11","N11: Interlobar") }}
                                    {{ f.checkbox("cemlnl12","N12","N12: Lobar") }}
                                    {{ f.checkbox("cemlnl13","N13","N13: Segmental") }}
                                    {{ f.checkbox("cemlnl14","N14","N14: Subsegmental") }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Any calcified hilar or mediastinal lymph nodes</td>
                            <td colspan="2">
                                <div class="form-group">
                                    {{ f.yesCheckbox("cemlncab") }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Abnormal axillary lymph nodes</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceagaln") }}
                                </div>
                            </td>
                            <td style="padding-top:1px;">
                                <div class="form-group form-inline ceagaln-container">
                                    {{ f.checkbox("ceagalnrt","r","Right") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceagalnlt","l","Left") }}&nbsp;&nbsp;
                                    <input type="text" name="ceagalns" id="ceagalns" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Other Vascular Abnormalities</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cemva") }}
                                </div>
                            </td>
                            <td style="padding-top:1px;">
                                <div class="form-group form-inline cemva-container">
                                    {{ f.checkbox("cemvaa","a","Aorta") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cemvap","w","Pulmonary arteries") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cemvao","o","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="cemvaos" id="cemvaos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Esophageal</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cemeln") }}
                                </div>
                            </td>
                            <td style="padding-top:1px;">
                                <div class="form-group form-inline cemeln-container">
                                    {{ f.checkbox("cemelna","a","Air-fluid level") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cemelnw","w","Wall thickening") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cemelnm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cemvlno","o","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="cemelnos" id="cemelnos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Hiatal Hernia</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("cehhn") }}
                                </div>
                            </td>
                            <td style="padding-top:1px;">
                                <div class="form-group form-inline cehhn-container">
                                    <input type="text" name="cehhnos" id="cehhnos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>Other Mediastinal Masses</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceomm") }}
                                </div>
                            </td>
                            <td style="padding-top:1px;">
                                <div class="form-group form-inline ceomm-container">
                                    {{ f.checkbox("ceamc","v","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceamy","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceamm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceamo","o","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceommos" id="ceommos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    <label for="ceotabnm">Additional comments on neck and
                                        mediastinal
                                        abnormalities</label>
                                    <textarea name="ceotabnm" id="ceotabnm" class="form-control"></textarea>
                                    {{ f.inlineCheckbox("ceotabnmi", "y", "Include in impression") }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    {# Breast Abnormalities #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" href="#breast-container"
             aria-expanded="true" aria-controls="breast-container"
             data-field-name="ceoba" style="cursor:pointer;">
            <h4 class="panel-title">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up" style="display: none;"></i>
                Breast
            </h4>
        </div>
        <div id="breast-container" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <input type="hidden" name="ceoba"/>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Right Breast</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceara") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceara-container">
                                    {{ f.checkbox("ceobarc","c","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceobary","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceobarm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceobaro","o","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceobaros" id="ceobaros" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Right Breast Density Classification (BI-RADS)</td>
                            <td>
                                <div class="form-group">
                                    <select name="ceobard" class="form-control"
                                            title="Right Breast Density Classification">
                                        <option value="-"> -</option>
                                        <option value="1"> 1 - Almost entirely fatty</option>
                                        <option value="2"> 2 - Scattered areas of fibroglandular density</option>
                                        <option value="3"> 3 - Heterogeneously dense</option>
                                        <option value="4"> 4 - Extremely dense</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Left Breast</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceafa") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceafa-container">
                                    {{ f.checkbox("ceobafc","c","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceobafy","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceobafm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceobafo","o","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceobafos" id="ceobafos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Left Breast Density Classification (BI-RADS)</td>
                            <td>
                                <div class="form-group">
                                    <select name="ceobald" class="form-control"
                                            title="Left Breast Density Classification">
                                        <option value="-"> -</option>
                                        <option value="1"> 1 - Almost entirely fatty</option>
                                        <option value="2"> 2 - Scattered areas of fibroglandular density</option>
                                        <option value="3"> 3 - Heterogeneously dense</option>
                                        <option value="4"> 4 - Extremely dense</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    <label for="ceobrc">Additional comments on breast abnormalities</label>
                                    <textarea name="ceobrc" id="ceobrc" class="form-control"></textarea>
                                    {{ f.inlineCheckbox("ceobrci", "y", "Include in impression") }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Bone Abnormalities #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" href="#bone-container" aria-expanded="true"
             aria-controls="bone-container" data-field-name="ceaba" style="cursor:pointer;">
            <h4 class="panel-title">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up" style="display: none;"></i>
                Bone
            </h4>
        </div>
        <div id="bone-container" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <input type="hidden" name="ceaba"/>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="ceaoabb">Specify bone abnormalities</label>
                        <textarea name="ceaoabb" id="ceaoabb" class="form-control"></textarea>
                        {{ f.inlineCheckbox("ceaoabbi", "y", "Include in impression") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Abdominal Abnormalities #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" href="#abdominal-container"
             aria-expanded="true" aria-controls="abdominal-container" data-field-name="ceoaa" style="cursor:pointer;">
            <h4 class="panel-title">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up" style="display: none;"></i>
                Abdominal
            </h4>
        </div>
        <div id="abdominal-container" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <input type="hidden" name="ceoaa"/>
                <div class="table-responsive" id="abdominal-container">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Gallbladder</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceaga") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceaga-container">
                                    {{ f.checkbox("ceagh","h","Cholecystectomy") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceags","s","Stones") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceagl","l","Sludge") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceago","y","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceagos" id="ceagos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Spleen</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceasa") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceasa-container">
                                    {{ f.checkbox("ceasc","y","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceasy","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceasm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceaso","y","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceasos" id="ceasos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Liver</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceala") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceala-container">
                                    {{ f.checkbox("cealc","y","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cealy","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cealm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cealh","h","HU < 40") }}&nbsp;&nbsp;
                                    {{ f.checkbox("cealo","y","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="cealos" id="cealos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>Pancreas</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceapa") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceapa-container">
                                    {{ f.checkbox("ceapc","y","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceapy","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceapm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceapo","y","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceapos" id="ceapos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Adrenals</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceaaa") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceaaa-container">
                                    {{ f.checkbox("ceaac","y","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceaay","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceaam","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceaao","y","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceaaos" id="ceaaos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Kidneys</td>
                            <td>
                                <div class="form-group">
                                    {{ f.yesCheckbox("ceaka") }}
                                </div>
                            </td>
                            <td>
                                <div class="form-group form-inline ceaka-container">
                                    {{ f.checkbox("ceakc","y","Calcification") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceaky","y","Cyst") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceakm","m","Mass") }}&nbsp;&nbsp;
                                    {{ f.checkbox("ceako","y","Other") }}&nbsp;&nbsp;
                                    <input type="text" name="ceakos" id="ceakos" class="form-control"
                                           required="required" placeholder="Specify">
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    <label for="ceaoab">Additional comments on abdominal
                                        abnormalities</label>
                                    <textarea name="ceaoab" id="ceaoab" class="form-control"></textarea>
                                    {{ f.inlineCheckbox("ceaoabi", "y", "Include in impression") }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">

    function calculatePulmonaryArteryAortaRatio() {
        let res = 0;
        const cepaw = $("#cepaw").val(), ceaow = $("#ceaow").val();
        if (ceaow > 0) {
            res = (cepaw / ceaow).toFixed(1);
            $("#cepar-text").text(res);
            $("#cepar").val(res);
        } else {
            $("#cepar-text").text("");
            $("#cepar").val("");
        }
    }

    function initAbnormalities(fv) {
        $("#cepaw, #ceaow").on('keyup change', calculatePulmonaryArteryAortaRatio);
        calculatePulmonaryArteryAortaRatio();

        //Neck and mediastinal
        $("#ceato").conditionallyDisplay({sourceValues: "o", enable: $("#ceatos")});
        $("#ceayo").conditionallyDisplay({sourceValues: "o", enable: $("#ceayos")});
        $("#cemvao").conditionallyDisplay({sourceValues: "o", enable: $("#cemvaos")});
        $("#cemvlno").conditionallyDisplay({sourceValues: "o", enable: $("#cemelnos")});
        $("#ceamo").conditionallyDisplay({sourceValues: "o", enable: $("#ceommos")});

        //at least one checkbox whose name starts with cemlnl is required if cemln==y
        $("#cemln").conditionallyEnable({enable: '#cemln-container'});

        $.each($("#abnormalities .yes-checkbox"), function (i, el) {
            const $checkbox = $(el);
            const name = $checkbox.attr('name');
            const $container = $("." + name + "-container");
            if ($container.length > 0) {
                $checkbox.conditionallyEnable({enable: $container});
            }
        });

        //Add validations after all other anonymous functions have run and fv is bound.
        if (fv) {
            fv.addField('cdoaw', {validators: {integer: {message: 'must be a whole number'}}});
            fv.addField('ceaow', {validators: {integer: {message: 'must be a whole number'}}});

            //lymph nodes; use a real element name for the field so conditional plugins can toggle the field
            fv.addField('cemlnl1', {
                selector: '[name^=cemlnl]',
                validators: {choice: {min: 1, message: 'Select one or more classification'}}
            });
        }
    }

</script>