{% set isLungRads = formPage == 'ctevaluation' %}

<div class="row">
    <div class="col-sm-12 form-group">
        <label class="control-label">Emphysema
            <i class="fa fa-question-circle-o" aria-hidden="true"
               data-html="true" data-toggle="popover" title="Help"
               data-content="Mild: splaying of vessels, occasional areas of emphysema<br/>
                                        Moderate:  emphysema in less than ½ of the lungs<br/>
                                        Severe:  emphysema in more than ½ of the lungs"></i>

        </label>
        <br/>
        {{ f.inlineRadio("ceem", "ceem-no", "no", "None") }}
        {{ f.inlineRadio("ceem", "ceem-nr", "nr", "Not reported") }}
        {{ f.inlineRadio("ceem", "ceem-nv", "nv", "Not visible") }}
        {{ f.inlineRadio("ceem", "ceem-mi", "mi", "Mild") }}
        {{ f.inlineRadio("ceem", "ceem-mo", "mo", "Moderate") }}
        {{ f.inlineRadio("ceem", "ceem-se", "se", "Severe") }}

    </div>
</div>
{% if (isLungRads) %}
    <div class="form-group">
        <label class="control-label">Coronary calcifications</label><br/>
        {{ f.inlineRadio("ceccv","ceccv-n","n","None") }}
        {{ f.inlineRadio("ceccv","ceccv-r","nr","Not reported") }}
        {{ f.inlineRadio("ceccv","ceccv-m","m","Mild") }}
        {{ f.inlineRadio("ceccv","ceccv-d","d","Moderate") }}
        {{ f.inlineRadio("ceccv","ceccv-s","s","Severe") }}
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <label class="control-label">Coronary calcifications</label>
            {{ f.checkbox("ceccv","nr","Not reported") }}
            <div class="table-responsive" id="ceccv-container">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="cecclm" class="required">Left main</label>
                                <select name="cecclm" id="cecclm" class="form-control"
                                        required="required">
                                    <option value=""> -</option>
                                    <option value="no"> None</option>
                                    <option value="mi"> Minimal < &frac13;</option>
                                    <option value="mo"> Moderate</option>
                                    <option value="ex"> Extensive > &frac23;
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="ceccld" class="required">LAD</label>
                                <select name="ceccld" id="ceccld"
                                        class="form-control"
                                        required="required">
                                    <option value=""> -</option>
                                    <option value="no"> None</option>
                                    <option value="mi"> Minimal < &frac13;</option>
                                    <option value="mo"> Moderate</option>
                                    <option value="ex"> Extensive > &frac23;
                                    </option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label for="cecccf"
                                       class="required">Circumflex</label>
                                <select name="cecccf" id="cecccf"
                                        class="form-control"
                                        required="required">
                                    <option value=""> -</option>
                                    <option value="no"> None</option>
                                    <option value="mi"> Minimal < &frac13;</option>
                                    <option value="mo"> Moderate</option>
                                    <option value="ex"> Extensive > &frac23;
                                    </option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label for="ceccrc" class="required">RCA</label>
                                <select name="ceccrc" id="ceccrc"
                                        class="form-control"
                                        required="required">
                                    <option value=""> -</option>
                                    <option value="no"> None</option>
                                    <option value="mi"> Minimal < &frac13;</option>
                                    <option value="mo"> Moderate</option>
                                    <option value="ex"> Extensive > &frac23;
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="cecccac">
                                Visual <abbr title="Coronary Artery Calcium">CAC</abbr> score
                            </label>
                        </td>
                        <td colspan="5">
                            <span id="cecccac-text"></span>
                            <input type="hidden" name="cecccac" id="cecccac">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}


<div class="row">
    <div class="col-sm-4 form-group">
        <label class="control-label" for="cepaw">Pulmonary artery width (mm)</label>
        <input type="text" id="cepaw" name="cepaw" size="4"
               class="form-control numeric decimalformat" title="Pulmonary Artery Width">
    </div>

    <div class="col-sm-4 form-group">
        <label class="control-label" for="ceaow">Ascending aorta width (mm)</label>
        <input type="text" id="ceaow" name="ceaow" size="4" class="form-control numeric decimalformat">
    </div>

    <div class="col-sm-4 form-group">
        <label class="control-label" for="cepar">Pulmonary artery/aorta ratio</label><small>(calculated)</small>
        <br/>
        <span id="cepar-text"></span>
        <input type="hidden" id="cepar" name="cepar">
    </div>
</div>

<script>
    function initEmphysema(fv) {
        function calculateVisualCacScore() {
            const $ccm = $("#cecclm");
            if ($ccm.length > 0) { //does not exist on LungRads page
                let cal1 = $("#cecclm")[0].selectedIndex;
                let cal2 = $("#ceccld")[0].selectedIndex;
                let cal3 = $("#cecccf")[0].selectedIndex;
                let cal4 = $("#ceccrc")[0].selectedIndex;
                if (cal1 > 0) cal1 = cal1 - 1;
                if (cal2 > 0) cal2 = cal2 - 1;
                if (cal3 > 0) cal3 = cal3 - 1;
                if (cal4 > 0) cal4 = cal4 - 1;
                const res = cal1 + cal2 + cal3 + cal4;
                $("#cecccac").val(res);
                $("#cecccac-text").text(res);
            }
        }

        $("#cecclm, #ceccld, #cecccf, #ceccrc").on('change', calculateVisualCacScore);
        calculateVisualCacScore();

        function calculatePulmonaryArteryAortaRatio() {
            let res = 0;
            const cepaw = $("#cepaw").val(), ceaow = $("#ceaow").val();
            if (ceaow > 0) {
                res = (cepaw / ceaow).toFixed(1);
                $("#cepar-text").text(res);
                $("#cepar").val(res);
            } else {
                $("#cepar-text").text("");
                $("#cepar").val("");
            }
        }

        $("#cepaw, #ceaow").on('keyup change', calculatePulmonaryArteryAortaRatio);
        calculatePulmonaryArteryAortaRatio();

        //Add validations after all other anonymous functions have run and fv is bound.
        if (fv) {
            fv.addField('cecclm', {validators: {notEmpty: {message: 'Left main is required'}}});
            fv.addField('ceccld', {validators: {notEmpty: {message: 'LAD is required'}}});
            fv.addField('cecccf', {validators: {notEmpty: {message: 'Circumflex is required'}}});
            fv.addField('ceccrc', {validators: {notEmpty: {message: 'RCA is required'}}});
        }

        //Hide CAC score table if not-reported is selected
        $("#ceccv").conditionallyDisplay({sourceValues: "nr", disable: "#ceccv-container"});
    }
</script>
