{% set isLungRads = base == 'lungrads' %}

<div class="row">
    <div class="col-sm-12 form-group">
        <label class="control-label">Emphysema
            <i class="fa-regular fa-circle-question" aria-hidden="true"
               data-html="true" data-toggle="popover" title="Help"
               data-content="Mild: splaying of vessels, occasional areas of emphysema<br/>
                                        Moderate:  emphysema in less than ½ of the lungs<br/>
                                        Severe:  emphysema in more than ½ of the lungs"></i>

        </label>
        <br/>
        {{ f.inlineRadio("ceem", "ceem-no", "no", "None") }}
        {{ f.inlineRadio("ceem", "ceem-nr", "nr", "Not reported") }}
        {{ f.inlineRadio("ceem", "ceem-nv", "nv", "Not visible") }}
        {{ f.inlineRadio("ceem", "ceem-mi", "mi", "Mild") }}
        {{ f.inlineRadio("ceem", "ceem-mo", "mo", "Moderate") }}
        {{ f.inlineRadio("ceem", "ceem-se", "se", "Severe") }}

    </div>
</div>

