{% set isLungRads = formPage == 'ctevaluation' %}
{% set isElcap = formPage == 'ctevaluation-elcap' %}
{% set isCT = isLungRads or isElcap %}
{% set elcapApproachValue = 'el' %}
{% set lungRadsApproachValue = 'lr' %}

<h3>Follow-Up
    {% if not isCT %}
        <label class="small required">select one or more</label>
    {% endif %}
</h3>

{% if isCT %}
    <div class="row">
        <div class="col-sm-12 form-group">
            {# NB: cefu prefix is used for follow-up options validator so not used here#}
            <label class="required">Follow-up approach:</label><br/>
            {{ f.inlineRadio("cefpa", "cefpa-lr", lungRadsApproachValue, "Lung-RADS", true) }}
            {{ f.inlineRadio("cefpa", "cefpa-el", elcapApproachValue, "I-ELCAP") }}
        </div>
    </div>

    {# Place holder for Lung-RADS section #}
    <div id="lung-rads-top"></div>

    {#Options header is really only needed for CT Eval form because it has other sections#}
    <h4>
        Options
        <label class="small required">select one or more</label>
    </h4>
{% endif %}


<div class="row">
    <div class="col-sm-12 form-group">
        <label>LDCT follow-up:</label><br/>
        {{ f.inlineRadio("cefuw", "cefuw-1y", "1y", "Annual repeat") }}
        {{ f.inlineRadio("cefuw", "cefuw-nw", "nw", "Now") }}
        {{ f.inlineRadio("cefuw", "cefuw-1m", "1m", "1 month") }}
        {{ f.inlineRadio("cefuw", "cefuw-3m", "3m", "3 months") }}
        {{ f.inlineRadio("cefuw", "cefuw-6m", "6m", "6 months") }}
        {{ f.inlineRadio("cefuw", "cefuw-os", "os", "Other") }}
    </div>
</div>
<div id="follow-up-date-container">
    <div class="row">
        <div class="col-sm-4 col-md-4 form-group">
            <label for="cefud">Approximate follow-up date:</label><br/>
            {{ f.datepicker("cefud") }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 form-group">
        <label for="cefu">Other follow-up:</label><br/>
        {{ f.inlineCheckbox("cefuaf","y", "Antibiotics") }}
        {{ f.inlineCheckbox("cefucc","y", "Contrast CT") }}
        {{ f.inlineCheckbox("cefupe","y", "PET") }}
        {{ f.inlineCheckbox("cefufn","y", "Percutaneous biopsy") }}
        {{ f.inlineCheckbox("cefubr","y", "Bronchoscopy") }}
        {{ f.inlineCheckbox("cefupc","y", "Pulmonary consultation") }}
        {{ f.inlineCheckbox("cefutb","y", "Refer to tumor board") }}
        {{ f.inlineCheckbox("cefunf","y", "No other further follow-up") }}
        {{ f.inlineCheckbox("cefuo","y", "Other") }}
    </div>
    <div class="col-sm-4 form-group" id="cefuo-container">
        <label for="cefuoo" class="control-label required">Specify</label>
        <input class="form-control" type="text" name="cefuoo" id="cefuoo"
               placeholder="specify" required="required">
    </div>
</div>

{% if isCT %}
    {# Place holder for Lung-RADS section #}
    <div id="lung-rads-bottom"></div>
    {% include "_lung-rads-fields.jinja2" %}
{% endif %}

<script>

    function moveLungRadsTop(fv) {
        $("#lung-rads").detach().appendTo("#lung-rads-top").show();

        if (fv) {
            $("#lung-rads-category-label").addClass("required");
            fv.enableValidator('celrad');
        }
    }

    function moveLungRadsBottom(fv) {
        $("#lung-rads").detach().appendTo("#lung-rads-bottom").show();
        if (fv) {
            $("#lung-rads-category-label").removeClass("required");
            fv.disableValidator('celrad')
        }
    }

    function initFollowup(fv) {
        uncheckableRadio("[name='cefuw']", "div");

        //followup approach
        $("[name=cefpa]").on('change', function () {
            const value = $("[name=cefpa]:checked").val();
            if (value === 'el') {
                moveLungRadsBottom(fv);
            } else if (value === "lr") {
                moveLungRadsTop(fv);
            }
        });

        const followUpApproach = $("[name=cefpa]:checked").val();
        if (followUpApproach === undefined) {
            const defaultApproach = '{{ elcapApproachValue if isElcap else lungRadsApproachValue}}';
            $("[name=cefpa][value=" + defaultApproach + "]").prop("checked", true);
        }

        //followup date calculation
        $("[name=cefuw]").on('change', function () {
            const when = $("[name='cefuw']:checked").val();
            let baseDate = moment($("#cedos").val());
            if (!baseDate.isValid()) {
                baseDate = moment();
            }
            const $field = $("#cefud");
            switch (when) {
                case "1y":
                    $field.val(baseDate.add(1, 'year').format(VAPALS.DATE_FORMAT));
                    break;
                case "nw":
                    $field.val(baseDate.format(VAPALS.DATE_FORMAT));
                    break;
                case "1m":
                    $field.val(baseDate.add(1, 'month').format(VAPALS.DATE_FORMAT));
                    break;
                case "3m":
                    $field.val(baseDate.add(3, 'month').format(VAPALS.DATE_FORMAT));
                    break;
                case "6m":
                    $field.val(baseDate.add(6, 'month').format(VAPALS.DATE_FORMAT));
                    break;
                default:
                    $field.val("").focus();
            }

            if (typeof fv !== 'undefined' && fv.fields['cefud']) {
                fv.revalidateField('cefud');
            }
        });

        //display other followup specify field if "other" checkbox is enabled.
        $("[name=cefuo]").conditionallyDisplay({sourceValues: "y", enable: "#cefuo-container"});

        //Add validations after all other anonymous functions have run and fv is bound.
        if (fv) {
            fv.addField('cecclm', {validators: {notEmpty: {message: 'Left main is required'}}});
            fv.addField('celrad', {validators: {notEmpty: {message: 'Lung-RADS category is required'}}})
        }

        {% if (isLungRads) %}
            moveLungRadsTop(fv);
        {% elif (isElcap) %}
            moveLungRadsBottom(fv);
        {% endif %}
    }
</script>