<div class="row">
    <div class="col-sm-12 form-group">
        <label for="cefuw-nw">LDCT follow up:</label><br/>
        {{ f.inlineCheckbox("cefuw", "1y","Annual repeat", {'id':'cefuw-1y'}) }}
        {{ f.inlineCheckbox("cefuw", "nw","Now", {'id':'cefuw-nw'}) }}
        {{ f.inlineCheckbox("cefuw", "1m","1 month", {'id':'cefuw-1m'}) }}
        {{ f.inlineCheckbox("cefuw", "3m","3 months", {'id':'cefuw-3m'}) }}
        {{ f.inlineCheckbox("cefuw", "6m","6 months", {'id':'cefuw-6m'}) }}
        {{ f.inlineCheckbox("cefuw", "os","Other", {'id':'cefuw-os'}) }}
    </div>
</div>
<div id="follow-up-date-container">
    <div class="row">
        <div class="col-sm-4 col-md-4 form-group">
            <label for="cefud">Approximate follow-up date:</label><br/>
            {{ f.datepicker("cefud", "future") }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 form-group">
        <label for="cefu">Other follow up:</label><br/>
        {{ f.inlineCheckbox("cefuaf","y", "Antibiotics") }}
        {{ f.inlineCheckbox("cefucc","y", "Contrast CT") }}
        {{ f.inlineCheckbox("cefupe","y", "PET") }}
        {{ f.inlineCheckbox("cefufn","y", "Percutaneous biopsy") }}
        {{ f.inlineCheckbox("cefubr","y", "Bronchoscpy") }}
        {{ f.inlineCheckbox("cefupc","y", "Pulmonary consultation") }}
        {{ f.inlineCheckbox("cefutb","y", "Refer to tumor board") }}
        {{ f.inlineCheckbox("cefunf","y", "No other further follow-up") }}
        {{ f.inlineCheckbox("cefuo","y", "Other") }}
    </div>
    <div class="col-sm-4 form-group" id="cefuo-container">
        <label for="cefuo" class="control-label required">Specify</label>
        <input class="form-control" type="text" name="cefuoo" id="cefuoo"
               placeholder="specify" required="required">
    </div>

</div>

<script language="JavaScript">

    function initFollowup(fv) {
        exclusiveCheckbox("[name='cefuw']", "div");

        //followup date calculation
        $("[name=cefuw]").on('change', function () {
            const when = $("[name='cefuw']:checked").val();
            const $field = $("#cefud");
            switch (when) {
                case "1y":
                    $field.val(moment().add(1, 'year').format(VAPALS.DATE_FORMAT));
                    break;
                case "nw":
                    $field.val(moment().format(VAPALS.DATE_FORMAT));
                    break;
                case "1m":
                    $field.val(moment().add(1, 'month').format(VAPALS.DATE_FORMAT));
                    break;
                case "3m":
                    $field.val(moment().add(3, 'month').format(VAPALS.DATE_FORMAT));
                    break;
                case "6m":
                    $field.val(moment().add(6, 'month').format(VAPALS.DATE_FORMAT));
                    break;
                default:
                    $field.val("").focus();
            }

            if (fv) {
                fv.revalidateField('cefud');
            }
        });

        //display other followup specify field if "other" checkbox is enabled.
        $("[name=cefuo]").conditionallyDisplay({sourceValues: "y", enable: "#cefuo-container"});

        function setCtFollowUpOther() {
            $("[name=cefuw]").prop('checked', false).filter("[value=os]").prop('checked', true);
        }

        //auto-select "other" if user modifies the date
        $("#cefud").on('keyup paste', setCtFollowUpOther).closest(".datepicker").on('dp.change', setCtFollowUpOther);

        //Add validations after all other anonymous functions have run and fv is bound.
        if (fv) {
            fv.addField('cecclm', {validators: {notEmpty: {message: 'Left main is required'}}});
            fv.addField('cefud', {
                validators: {
                    date: {min: VAPALS.todaysDate(), message: 'Follow up date must be at least today\'s date'}
                }
            });
        }
    }
</script>