{#<div class="alert alert-success" id="infoMessages"></div>#}
{#<div class="alert alert-warning" id="warnMessages"></div>#}
{#<div class="alert alert-danger" id="errorMessages"></div>#}


<div class="row">
    <div class="col-md-12">
        <div id="message-area-static" class="message-area-static">
        </div>
    </div>
</div>