<div class="row">
    <div class="col-md-12">
        <table class="table" id="pack-years-history">
            <thead>
            <tr>
                <th>Form</th>
                <th>Reported Date</th>
                <th>Pack Years</th>
                <th>Cumulative</th>
            </tr>
            </thead>
            <tbody>
            {% if mockup %}
                <tr>
                    <td>Intake</td>
                    <td class="reported-date">2/11/2017</td>
                    <td class="pack-years">32.5</td>
                    <td class="cumulative-pack-years">32.5</td>
                </tr>
                <tr data-current-form="true">
                    <td>Followup</td>
                    <td class="reported-date">08/15/2018</td>
                    <td class="pack-years">0.3</td>
                    <td class="cumulative-pack-years">32.8</td>
                </tr>
                <tr>
                    <td>Followup</td>
                    <td class="reported-date">08/15/2019</td>
                    <td class="pack-years">0.5</td>
                    <td class="cumulative-pack-years">33.3</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        /**
         * helper function that modifies the pack years history datatable to visually indicate which row represents
         * the current form (based on the presence of the data-current-form attribute
         */
        $("tr[data-current-form]").each(function () {
            const $row = $(this);
            const colCount = $row.find("td").length;
            $row.addClass("active");
            const $cell = $row.find("td:first");
            const cellText = $cell.text();
            $cell.text("* " + cellText);
            const $table = $row.parents("table");
            let $tfoot = $table.find("tfoot");
            if ($tfoot.length === 0) {
                $tfoot = $("<tfoot><tr><td colspan=\"" + colCount + "\"><em><small>* denotes current form</small></em></td></tr></tfoot>");
                $table.append($tfoot);
            }
        });
    })
</script>