<div class="row">
    <div class="col-md-12">
        <table class="table" id="pack-years-history">
            <thead>
            <tr>
                <th>Form</th>
                <th>Reported Date</th>
                <th>Pack Years</th>
                <th>Cumulative</th>
            </tr>
            </thead>
            <tbody>
            {% if mockup %}
                <tr>
                    <td>Intake</td>
                    <td class="reported-date">2/11/2018</td>
                    <td class="pack-years">32.5</td>
                    <td class="cumulative-pack-years">32.5</td>
                </tr>
                <tr>
                    <td>Followup</td>
                    <td class="reported-date">08/15/2018</td>
                    <td class="pack-years">0.3</td>
                    <td class="cumulative-pack-years">32.8</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>