<div id="sf8">
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb1", "1. Overall, how would you rate your health during the
                                <U>past 4 weeks</U>") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb1", ["Excellent","Very Good","Good","Fair","Poor","Very Poor"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb2", "2. During the
                                <U>past 4 weeks</U>, how much did physical health problems limit your usual physical
                                activities(such as walking or climbing stairs)") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb2", ["Not at all","Very little","Somewhat","Quite a lot","Could not do physical activities"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb3", "3.During the
                                <U>past 4 weeks</U>, how much difficulty did you have doing your daily work, both at
                                home and away from home, because of your physical health?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb3", ["None at all","A little bit","Some","Quite a lot","Could not do daily work"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb4", "4. How much
                                <U>bodily</U> pain have you had during the
                                <U>past 4 weeks</U>?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb4", ["None","Very mild","Mild","Moderate","Very Severe"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb5", "5. During the
                                <U>past 4 weeks</U>, how much energy did you have?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb5", ["Very much","Quite a lot","Some","A little","None"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb6", "6. During the
                                <U>past 4 weeks</U>, how much did your physical health or emotional problems limit your
                                usual social activities with family or friends?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb6", ["None at all","Very little","Somewhat","Quite a lot","Could not do social activities"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb7", "7. During the
                                <U>past 4 weeks</U>, how much have you been bothered by
                                <B><U>emotional problems</U></B>(such as feeling anxious, depressed or irritable)?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb7", ["Not at all","Slightly","Moderately","Quite a lot","Extremely"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sfb8", "8. During the
                                <U>past 4 weeks</U>, how much did personal or emotional problems keep you from doing
                                your usual work, school or other daily activities?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sfb8", ["Not at all","Very little","Somewhat","Quite a lot","Could not do daily activities"]) }}
        </div>
    </div>
</div>
<!-- End of Deprecated SF8 Health Survey -->

<!-- SF12 Health Survey -->
<div id="sf12">
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sf1", "1. In general, would you say your health is:") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf1", ["Excellent","Very good","Good","Fair","Poor"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 form-group">
            {{ f.floatingLeftLabel(prefix+"sf2", "2. The following questions are about activities you might do
                            during a typical day. Does <em>your health now limit you</em> in these activities? If so,
                            how much?") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "a) <U>Moderate activities</U>, such as moving a table, pushing a
                            vacuum cleaner, bowling, or playing golf") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf2", ["Yes, limited a lot","Yes, limited a little","No, not limited at all"]) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "b) Climbing <U>several</U> flights of stairs") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf3", ["Yes, limited a lot","Yes, limited a little","No, not limited at all"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 form-group">
            {{ f.floatingLeftLabel("", "3. During the
                                <U>past 4 weeks</U>, how much of the time have you had any of the following problems
                                with your work or other regular daily activities
                                <U>as a result of your physical health</U>?") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "a) <U>Accomplished less</U> than you would like") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf4", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "b) Were limited in the
                                <U>kind</U> of work or other activities") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf5", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "4. During the <U>past 4 weeks</U>, how much of the time have you had any of the following problems with your work or other regular daily activities <U>as a result of any emotional problems</U> (such as feeling depressed or anxious)?") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "a) <U>Accomplished less</U> than you would like") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf6", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "b) Did work or other activities
                                <U>less carefully than usual</U>") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf7", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sf8", "5. During the
                                <U>past 4 weeks</U>, how much did
                                <U>pain</U> interfere with your normal work (including both work outside the home and
                                housework)?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf8", ["Not at all","A little bid","Moderately", "Quite a bit", "Extremely"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 form-group">
            {{ f.floatingLeftLabel(prefix+"sf9", "6. These questions are about how you feel and how things have been with you during the
                                <U>past 4 weeks</U>. For each question, please give the one answer that comes closest to
                                the way you have been feeling. How much of the time during the
                                <U>past 4 weeks</U>...") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "a) have you felt calm and peaceful?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf9", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "b) did you have a lot of energy?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf10", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel("", "c) have you felt downhearted and depressed?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf11", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ f.floatingLeftLabel(prefix+"sf12", "7. During the <U>past 4 weeks</U>, how much of the time
                            has your <U>physical health or emotional problems</U> interfered with your social activities
                            (like visiting friends, relatives, etc.)?") }}
        </div>
        <div class="col-md-12 form-group">
            {{ f.inlineRadioOptions(prefix+"sf12", ["All of the time","Most of the time","Some of the time", "A little of the time", "None of the time"]) }}
        </div>
    </div>
</div>
<script>
    $(function () {
        // Determine which health survey to show based on the data that is present
        // 1. Data present for SF-12 -> show SF-12
        // 2. Data present for both SF-12 and SF-8 -> show SF-12
        // 3. Data present for only SF-8 -> show SF-8
        // 4. Data present for neither -> show SF-12
        const sf12data = $("[name=sisf1]").val();
        const sf8data = $("[name=sisfb1]").val();

        if (sf12data) {
            $("#sf8").hide();
        } else if (sf8data) {
            $("#sf12").hide();
        } else {
            $("#sf8").hide();
        }
    });
</script>