{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>Background
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <hr>
        <form action="{{ formPage+".html" if mockup else "/vapals" }}" method="{{ formMethod }}" id="main-form"
              class="validated">
            <input type="hidden" name="samiroute" value="postform"/>
            <input type="hidden" name="studyid" value="@@SID@@"/>
            <input type="hidden" name="form" value="@@FORMKEY@@"/>

            <h3>Self-report of Comorbidities and Exposures</h3>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <label for="sbahao-i" class="control-label">Have you ever worked in any of the following?</label>
                </div>
                <div class="col-sm-6 col-md-8">
                    <div class="form-group">
                        {{ f.checkbox("sbahaoc", "ao", "Agent orange") }}
                        {{ f.checkbox("sbahaoi", "i", "Asbestos product manufacturing") }}
                        {{ f.checkbox("sbahaoj", "j", "Auto repair") }}
                        {{ f.checkbox("sbahaoh", "h", "Building maintenance") }}
                        {{ f.checkbox("sbahaoc", "bp", "Burn pits") }}
                        {{ f.checkbox("sbahaof", "f", "Chemical industry/foundary/refinery") }}
                        {{ f.checkbox("sbahaoa", "a", "Construction/demolition") }}
                        {{ f.checkbox("sbahaoe", "e", "Mining") }}
                        {{ f.checkbox("sbahaog", "g", "Nuclear industry") }}
                        {{ f.checkbox("sbahaoc", "c", "Ship construction/repair") }}
                        {{ f.checkbox("sbahaoo", "o", "Other") }}
                        <label for="sbahas" class="aria-hidden">Other work</label>
                        <input class="form-control input-sm" type="text" name="sbahas" id="sbahas"/>
                    </div>
                </div>
            </div>
            <hr class="visible-xs-block visible-sm-block"/>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label for="sblcs-n">Have you experienced any symptoms indicative of lung cancer?</label>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="form-group">
                        {{ f.inlineRadio("sblcs","sblcs-n","n", "No") }}
                        {{ f.inlineRadio("sblcs","sblcs-y","y", "Yes") }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-6" id="sblcs-container" style="display: none;">
                    <div class="form-group">
                        <p><em>Check all that apply</em></p>
                        {{ f.checkbox("sbwcb", "b", "Cough producing bloody material") }}
                        {{ f.checkbox("sbwcl", "l", "Unexplained weight loss greater than 20 lbs.") }}
                        {{ f.checkbox("sbwch", "h", "Unexplained hoarseness") }}
                        {{ f.checkbox("sbwco", "o", "Other") }}
                        <label for="sbwcos" class="aria-hidden">Other symptom</label>
                        <input class="form-control input-sm" type="text" name="sbwcos" id="sbwcos"/>
                    </div>
                </div>
            </div>
            <hr class="visible-xs-block visible-sm-block"/>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label for="sbact" class="control-label">When did you most recently have a chest CT?</label>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="form-group">
                        <select id="sbact" name="sbact" class="form-control input-sm">
                            <option value="-">&mdash;</option>
                            <option value="a">Less than 6 months ago</option>
                            <option value="b">6–18 months ago</option>
                            <option value="f">18 months to 3 years ago</option>
                            <option value="c">3 years to 5 years ago</option>
                            <option value="d">Over 5 years ago</option>
                            <option value="e">Never</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-6 form-inline" id="sbact-container" style="display: none;">
                    <div class="form-group">
                        <label for="sbahcl" class="control-label">Where was the test done?</label>
                        <input type="text" name="sbahcl" id="sbahcl" class="form-control input-sm"/>
                    </div>

                </div>
            </div>
            <hr class="visible-xs-block visible-sm-block"/>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label for="sbahpft-n" class="control-label">Have you had a pulmonary function test within the last
                        five years?</label>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="form-group">
                        {{ f.inlineRadioNY("sbahpft") }}
                    </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-6 form-inline" id="sbahpft-container" style="display: none;">
                    <div class="form-group">
                        <label for="sbfev1">FEV1 (L/s)</label>
                        <input class="form-control input-sm" type="text" name="sbfev1" id="sbfev1" size="4">
                    </div>
                    <div class="form-group">
                        <label for="sbfvc">FVC (L)</label>
                        <input class="form-control input-sm" type="text" name="sbfvc" id="sbfvc" size="4">
                    </div>
                    <div class="form-group">
                        <label for="sbcop">Diffusion capacity (mL/min/mm Hg)</label>
                        <input class="form-control input-sm" type="text" name="sbcop" id="sbcop" size="4">
                    </div>
                    <div class="alert alert-info" id="ffr-message" style="display: none; margin-top:5px;">
                        FEV1/FVC (%) is <strong><span id="ffr-value"></span></strong>
                    </div>
                    <input type="hidden" name="sbffr" id="sbffr"/>
                </div>
            </div>
            <hr class="visible-xs-block visible-sm-block"/>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label for="sbqtatt" class="control-label">If you currently smoke, how many times have you attempted
                        to quit in the last 12 months?</label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input class="form-control input-sm numeric" type="text" name="sbqtatt" id="sbqtatt"
                               size="4" maxlength="4">
                    </div>
                </div>
            </div>
            <hr class="visible-xs-block visible-sm-block"/>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label for="sbscs-n" class="control-label">Have you been provided with smoking cessation
                        services?</label>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="form-group">
                        {{ f.inlineRadioNY("sbscs") }}
                    </div>
                </div>
            </div>
            <div class="row" id="sbscs-container">
                <div class="col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="sbscsw">When?</label>
                                {{ f.datepicker("sbscsw","past") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sbscsmv">Have you used any of the following medications?</label>
                                <em>Check all that apply</em>
                                <div class="form-group">
                                    {{ f.checkbox("sbscsmv", "v", "Varenicline") }}
                                    {{ f.checkbox("sbscsmb", "b", "Buproprion") }}
                                    {{ f.checkbox("sbscsmp", "p", "Patch") }}
                                    {{ f.checkbox("sbscsml", "l", "Lozenges") }}
                                    {{ f.checkbox("sbscsmg", "g", "Gum") }}
                                    {{ f.checkbox("sbscsmo", "o", "Other") }}
                                    <label for="sbscsmoo" class="aria-hidden">Other medication</label>
                                    <input class="form-control input-sm" type="text" name="sbscsmoo" id="sbscsmoo"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sbscs5a-n">Have you been counseled on the 5 A’s (Ask, Assess, Advise,
                                    Assist, Arrange)?</label><br/>
                                {{ f.inlineRadioNY("sbscs5a") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sbscsref-n">Have you been referred for smoking cessation
                                    services?</label><br/>
                                {{ f.inlineRadioNY("sbscsref") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="visible-xs-block visible-sm-block"/>

            <label>Do you know if you have had any of the following?</label>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cancers</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbfc-n', 'Family history of lung cancer') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbfc") }}
                            </div>
                        </div>
                        <div id="sbfc-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbfcf-n">Father?</label><br/>
                                {{ f.inlineRadio("sbfcf","sbfcf-n","n", "No") }}
                                {{ f.inlineRadio("sbfcf","sbfcf-y","y", "Yes") }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbfcm-n">Mother?</label><br/>
                                {{ f.inlineRadio("sbfcm","sbfcm-n","n", "No") }}
                                {{ f.inlineRadio("sbfcm","sbfcm-y","y", "Yes") }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbfcs-n">Siblings?</label><br/>
                                {{ f.inlineRadio("sbfcs","sbfcs-n","n", "No") }}
                                {{ f.inlineRadio("sbfcs","sbfcs-y","y", "Yes") }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbhlc-n', 'Lung cancer') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbhlc") }}
                            </div>
                        </div>
                        <div id="sbhlc-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbhlcdt">Year</label>
                                {{ f.yearpicker("sbhlcdt", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbhme-n', 'Melanoma') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbhme") }}
                            </div>
                        </div>
                        <div id="sbhme-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbhmedt">Year</label>
                                {{ f.yearpicker("sbhmedt", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbhba-n', 'Basal/squamous-cell skin cancer') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbhba") }}
                            </div>
                        </div>
                        <div id="sbhba-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbhbadt">Year</label>
                                {{ f.yearpicker("sbhbadt", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbhle-n', 'Leukemia') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbhle") }}
                            </div>
                        </div>
                        <div id="sbhle-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbhledt">Year</label>
                                {{ f.yearpicker("sbhledt", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbhly-n', 'Lymphoma') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbhly") }}
                            </div>
                        </div>
                        <div id="sbhly-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbhlydt">Year</label>
                                {{ f.yearpicker("sbhlydt", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbaoc', 'Any other cancer(s)') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbaoc") }}
                            </div>
                        </div>
                        <div id="sbaoc-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbaocsp">Specify</label>
                                <input type="text" name="sbaocsp" id="sbaocsp" class="form-control input-sm"/>
                            </div>

                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbaocyr">Year</label>
                                {{ f.yearpicker("sbaocyr", false, true) }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="control-label" for="sbaocps">Primary site</label>
                                <input class="form-control input-sm" type="text" name="sbaocps"
                                       id="sbaocps"/>
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pulmonary problems</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpa-n', 'Asthma') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpa") }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7" id="sbmpa-container" style="display: none;">
                            <div class="form-group">
                                <label for="sbmpat-n">Under current treatment?</label><br/>
                                {{ f.inlineRadio("sbmpat","sbmpat-n","n", "No") }}
                                {{ f.inlineRadio("sbmpat","sbmpat-y","y", "Yes") }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpc-n', 'COPD/Emphysema/Chronic bronchitis') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpc") }}
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2" id="sbmpc-container" style="display: none;">
                            <div class="form-group">
                                <label class="control-label" for="sbmpcw">Year</label>
                                {{ f.yearpicker("sbmpcw", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpn-n', 'Childhood pneumonia') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpn") }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Diabetes</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpd-n', 'Diabetes') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpd") }}
                            </div>
                        </div>
                        <div id="sbmpd-container" style="display: none;">
                            <div class=" col-sm-4 col-md-2 form-group">
                                <label class="control-label" for="sbmpdw">Starting at what age?</label>
                                <input class="form-control input-sm numeric" type="text" name="sbmpdw" id="sbmpdw"
                                       size="4" maxlength="4">
                            </div>

                            <div class=" col-sm-4 col-md-2 form-group">
                                <label class="control-label" for="sbmpdt-n">Treated?</label><br/>
                                {{ f.inlineRadio("sbmpdt", "sbmpdt-n", "n", "No") }}
                                {{ f.inlineRadio("sbmpdt", "sbmpdt-y", "y", "Yes") }}
                            </div>

                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cardiac Diseases</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpmi-n', 'Myocardial Infarction (MI)') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpmi") }}
                            </div>
                        </div>
                        <div id="sbmpmi-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmpmid">Year</label>
                                {{ f.yearpicker("sbmpmid", false, true) }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmpmiw">Where Treated</label>
                                <input class="form-control input-sm" type="text" name="sbmpmiw" id="sbmpmiw"/>
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpas-n', 'Angiostents') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpas") }}
                            </div>
                        </div>
                        <div id="sbmpas-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmpasw">Year</label>
                                {{ f.yearpicker("sbmpasw", false, true) }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="control-label" for="sbmpast">Where Treated</label>
                                <input class="form-control input-sm" type="text" name="sbmpast" id="sbmpast"/>
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpcabg-n', '<abbr title="coronary artery bypass grafting">CABG<abbr>') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpcabg") }}
                            </div>
                        </div>
                        <div id="sbmpcabg-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmpcaby">Year</label>
                                {{ f.yearpicker("sbmpcaby", false, true) }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="control-label" for="sbmpcawt">Where Treated</label>
                                <input class="form-control input-sm" type="text" name="sbmpcawt" id="sbmpcawt"/>
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpangi-n', 'Angina') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpangi") }}
                            </div>
                        </div>
                        <div id="sbmpangi-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmpangy">Year</label>
                                {{ f.yearpicker("sbmpangy", false, true) }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="control-label" for="sbmpanwt">Where Treated</label>
                                <input class="form-control input-sm" type="text" name="sbmpanwt" id="sbmpanwt"/>
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmphf-n', 'Heart Failure') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmphf") }}
                            </div>
                        </div>
                        <div id="sbmphf-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmphfy">Year</label>
                                {{ f.yearpicker("sbmphfy", false, true) }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="control-label" for="sbmphfwt">Where Treated</label>
                                <input class="form-control input-sm" type="text" name="sbmphfwt" id="sbmphfwt">
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmphc-n', 'High cholesterol') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmphc") }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vascular Diseases</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmps-n', 'Stroke') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmps") }}
                            </div>
                        </div>
                        <div id="sbmps-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmpsd">Year</label>
                                {{ f.yearpicker("sbmpsd", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmppv-n', 'Peripheral vascular disease') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmppv") }}
                            </div>
                        </div>
                        <div id="sbmppv-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="control-label" for="sbmppvd">Year</label>
                                {{ f.yearpicker("sbmppvd", false, true) }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpht-n', 'Hypertension') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpht") }}
                            </div>
                        </div>
                        <div id="sbmpht-container" style="display: none;">
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="form-check-inline" for="sbmphtt-n">Treated?</label><br/>
                                {{ f.inlineRadio("sbmphtt", "sbmphtt-n", "n", "No") }}
                                {{ f.inlineRadio("sbmphtt", "sbmphtt-y", "y", "Yes") }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="control-label" for="sbmphtsw">Year</label>
                                {{ f.yearpicker("sbmphtsw", false, true) }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2" style="vertical-align: top;">
                                <label class="control-label numeric" for="sbmphthv">Highest Value</label>
                                <input class="form-control input-sm numeric decimalformat" type="text" name="sbmphthv"
                                       id="sbmphthv"/>
                            </div>

                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Other Diseases</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpct-n', 'Connective tissue diseases') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpct") }}
                            </div>
                        </div>
                        <div id="sbmpct-container" style="display: none;">
                            <div class="form-group col-sm-12 col-md-6 col-lg-7">
                                <label class="control-label" for="sbmpctsp">Specify</label>
                                <input type="text" name="sbmpctsp" id="sbmpctsp" class="form-control input-sm"/>
                            </div>
                        </div>

                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpulce-n', 'Ulcer') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpulce") }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpld-n', 'Liver disease') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpld") }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmprd-n', 'Renal disease') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmprd") }}
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>

                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            {{ f.floatingLabel('sbmpoth-n', 'Other') }}
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                {{ f.inlineRadioNYQ("sbmpoth") }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7" id="sbmpoth-container" style="display: none;">
                            <div class="form-group">
                                <label class="control-label" for="sbmpod">Specify</label><br/>
                                <input class="form-control" type="text" name="sbmpod" id="sbmpod">
                            </div>
                        </div>
                    </div>
                    <hr class="visible-xs-block visible-sm-block"/>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="sbcmnt">Comments</label>
                        <textarea name="sbcmnt" id="sbcmnt" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="pull-left">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
            <div class="pull-right">
                <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
            </div>
        </form>
    </div>

    {{ f.deleteFormModal("background.html", mockup, formMethod) }}

{% endblock %}

{% block script %}
    <script lang="JavaScript">

        function createFormValidator() {

            const $form = $('#main-form');
            const multiInputValidators = ['sbfcf', 'sbfcm', 'sbfcs'];
            const thisYear = VAPALS.todaysYear();
            const minYear = thisYear - 100;
            const yearValidationMessage = 'Must be between ' + minYear + ' and ' + thisYear;
            const pastYearValidator = {between: {message: yearValidationMessage, min: minYear, max: thisYear}};
            $form.formValidation({
                    fields: {
                        //Cancers
                        sbhlcdt: {validators: pastYearValidator}, // lung cancer
                        sbhmedt: {validators: pastYearValidator}, // melanima
                        sbhbadt: {validators: pastYearValidator}, // basal/squamous-cell skin
                        sbhledt: {validators: pastYearValidator}, // leukemia
                        sbhlydt: {validators: pastYearValidator}, // lymphoma
                        sbaocyr: {validators: pastYearValidator},

                        //Pulmonary
                        sbmpcw: {validators: pastYearValidator}, // COPD

                        //Diabetes
                        sbmpdw: {validators: {between: {message: 'Must be between 1 and 100', min: 1, max: 100}}},

                        //Cardiac
                        sbmpmid: {validators: pastYearValidator}, // MI
                        sbmpasw: {validators: pastYearValidator}, // Angiostents
                        sbmpcaby: {validators: pastYearValidator}, // CABG
                        sbmpangy: {validators: pastYearValidator}, // Angina
                        sbmphfy: {validators: pastYearValidator}, // heart failure

                        //Vascular
                        sbmpsd: {validators: pastYearValidator}, // stroke
                        sbmppvd: {validators: pastYearValidator}, // peripheral vascular disease
                        sbmphtsw: {validators: pastYearValidator}, // hypertension
                        sbmphthv: {
                            validators: {
                                numeric: {message: 'Must be a number'},
                                greaterThan: {min: 0, message: 'Value must be greater than 0'}
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bootstrap3: new FormValidation.plugins.Bootstrap3(),
                        submitButton: new FormValidation.plugins.SubmitButton({selector: "#submit-button"}),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        excluded: new FormValidation.plugins.Excluded(), //disable validators on hidden, disabled fields
                        icon: new FormValidation.plugins.Icon({
                            valid: '',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh',
                            onPlaced: function (e) {
                                if (multiInputValidators.indexOf(e.field) > -1) {
                                    $("#" + e.element.id).closest(".form-group").append(e.iconElement);
                                }
                            },
                        })
                    }
                }
            );

            const fv = $form.data('formValidation');
            fv.on('core.form.invalid', VAPALS.autoScrollToErrorField);
            fv.on('core.element.validated', VAPALS.hideSuccessFormatting);

            return fv;
        }

        $(function () {

            createFormValidator();

            //hook for calculating Pulmonary function test percentage (FFR)
            $("#sbfev1, #sbfvc").on('change', function () {
                const fev1 = $("#sbfev1").val();
                const fvc = $("#sbfvc").val();
                const ffr = VAPALS.calculatePulmonaryFunction(fev1, fvc);
                if (ffr > 0) {
                    $("#sbffr").val(ffr);
                    $("#ffr-value").text(ffr);
                    $("#ffr-message").show();
                } else {
                    $("#sbffr").val("");
                    $("#ffr-message").hide();
                }

            }).first().trigger('change');

            //Uncheckable radio names
            const uncheckableRadioFieldNames = Array(
                "sblcs",                                                        // lung cancer indicative
                "sbahpft",                                                      // pulmonary function test
                "sbscs", "sbscs5a", "sbscsref",                                 // smoking cessation
                "sbfc", "sbhlc", "sbhme", "sbhba", "sbhle", "sbhly", "sbaoc",   //cancers
                "sbmpa", "sbmpc",                                               //pulmonary
                "sbmpd",                                                        //diabetes
                "sbmpmi", "sbmpas", "sbmpcabg", "sbmpangi", "sbmphf",           //cardiac
                "sbmps", "sbmppv", "sbmpht",                                    //vascular
                "sbmpct", "sbmpoth",                                            //Other disease
            );

            $.each(uncheckableRadioFieldNames, function (idx, name) {
                $("[name=" + name + "]").conditionallyDisplay({enable: "#" + name + "-container"});
                uncheckableRadio("[name='" + name + "']", "div.form-group");
            });


            $("#sbahaoo").conditionallyDisplay({sourceValues: "o", enable: "#sbahas"}); //41
            $("#sbwco").conditionallyDisplay({sourceValues: "o", enable: "#sbwcos"}); //64
            $("[name=sbact]").conditionallyDisplay({
                sourceValues: function (actualValue) {
                    return actualValue !== '-' && actualValue !== 'e';
                }, enable: "#sbact-container" //88
            });

            $("#sbscsmo").conditionallyDisplay({sourceValues: "o", enable: "#sbscsmoo"}); //163

        });

    </script>
{% endblock %}