{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% import 'sf12.jinja2' as sf12 %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>Background
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <hr>
        <form action="background.html" class="validated" method="post"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh"
              data-fv-button-selector="#submit-button">
            <div>
                <!--TABS-->
                <ul class="nav nav-tabs" id="myTabs" role="tablist" style="margin-bottom: 15px;">
                    <li role="presentation" class="active">
                        <a class="nav-link" id="visit-tab" data-toggle="tab" role="tab" href="#visit"
                           aria-controls="visit" aria-expanded="true"
                           aria-selected="true">Visit <i class="fa fa-check-circle-o complete-mark"
                                                         title="This tab is complete"></i></a>
                    </li>
                    <li role="presentation">
                        <a class="nav-link" id="scan-order-tab" data-toggle="tab" role="tab" href="#scan-order"
                           aria-controls="scan-order" aria-selected="false">CT Order <i
                                class="fa fa-check-circle-o complete-mark" title="This tab is complete"></i></a>
                    </li>
                    <li role="presentation">
                        <a class="nav-link" id="history-tab" data-toggle="tab" role="tab" href="#history"
                           aria-controls="history"
                           aria-selected="false">Medical History <i class="fa fa-check-circle-o complete-mark"
                                                                    title="This tab is complete"></i></a>
                    </li>
                    <li role="presentation">
                        <a class="nav-link" id="smoking-tab" data-toggle="tab" role="tab" href="#smoking"
                           aria-controls="smoking"
                           aria-selected="false">Smoking History <i class="fa fa-check-circle-o complete-mark"
                                                                    title="This tab is complete"></i></a>
                    </li>
                    <li role="presentation">
                        <a class="nav-link" id="health-tab" data-toggle="tab" role="tab" href="#health"
                           aria-controls="health"
                           aria-selected="false">Health Survey <i class="fa fa-check-circle-o complete-mark"
                                                                  title="This tab is complete"></i></a>
                    </li>
                </ul>


                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane active" id="visit" role="tabpanel" aria-labelledby="visit-tab">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                                <label for="sbdop" class="control-label">Visit Date</label>
                                <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="popover"
                                   title="Visit Date"
                                   data-content="And here's some amazing content. It's very engaging. Right?"></i>
                                {{ f.datepicker("sbdop", true, "Visit date is required") }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                                <label for="sbdob" class="control-label">Date of Birth</label>
                                {{ f.datepicker("sbdob", true, "Date of birth is required") }}
                            </div>
                            <div class="col-sm-2 col-md-1 form-group">
                                <label class="control-label">Age</label>
                                <p class="form-control-static" id="sbage">-</p>
                            </div>

                            <div class="col-sm-3 col-md-3 form-group">
                                <label for="sbsex-m" class="control-label">Sex</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sbsex" id="sbsex-m" value="m" required="required">
                                        Male
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sbsex" id="sbsex-f" value="f" required="required">
                                        Female
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-lg-2 form-group">
                                <label for="sbph" class="control-label">Height</label>
                                <div class="input-group">
                                    <input class="form-control numeric" name="sbph" id="sbph" data-fv-numeric="true"
                                           data-fv-numeric-decimalseparator="."
                                           data-fv-numeric-message="Value must be a valid decimal number" min="1"
                                           required="required">
                                    <input type="hidden" name="sbphu" id="sbphu" value="i"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                id="sbphu-btn"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">in
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a class="dropdown-item" href="#"
                                                   onclick="$('#sbphu').val('i').trigger('change');$('#sbphu-btn').text('in')">in</a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"
                                                   onclick="$('#sbphu').val('c').trigger('change');$('#sbphu-btn').text('cm')">cm</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-2 form-group">
                                <label for="sbpw" class="control-label">Weight</label>
                                <div class="input-group">
                                    <input class="form-control numeric" name="sbpw" id="sbpw" data-fv-numeric="true"
                                           data-fv-numeric-decimalseparator="."
                                           data-fv-numeric-message="Value must be a valid decimal number" min="1"
                                           required="required">
                                    <input type="hidden" name="sbpwu" id="sbpwu" value="p"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                id="sbpwu-btn"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">lbs
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a class="dropdown-item" href="#"
                                                   onclick="$('#sbpwu').val('p').trigger('change');$('#sbpwu-btn').text('lbs')">lbs</a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"
                                                   onclick="$('#sbpwu').val('k').trigger('change');$('#sbpwu-btn').text('kg')">kg</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="sbbmi" id="sbbmi"/>
                        </div>

                        <div class="col-md-12 alert alert-info" id="bmi-message" style="display:none;">
                            The patients calculated BMI (<strong><span id="bmi-value"></span></strong>) is considered
                            <strong>
                                <span id="bmi-descriptor"></span></strong>.
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="sbocc" class="control-label">Occupation</label>
                                <input type="text" class="form-control" id="sbocc" name="sbocc" required="required"/>
                                <small class="form-text text-muted">If retired, indicate previous occupation.</small>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="sboccc" class="control-label">Occupation Code</label>
                                <select class="form-control" id="sboccc" name="sboccc">
                                    {% for key,value in occupations.items() -%}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="sbet" class="control-label">Ethnicity</label>
                                <select class="form-control" id="sbet" name="sbet">
                                    <option value="-" selected>&mdash;</option>
                                    <option value="y">Hispanic or Latino</option>
                                    <option value="n">Not Hispanic or Latino</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="sbrc" class="control-label">Race</label>
                                <select class="form-control" id="sbrc" name="sbrc">
                                    <option value="-" selected>&mdash;</option>
                                    <option value="w">White</option>
                                    <option value="b">Black or African American</option>
                                    <option value="i">American Indian</option>
                                    <option value="k">Alaska Native</option>
                                    <option value="a">Asian</option>
                                    <option value="p">Native Hawaiian or Other Pacific Islander</option>
                                    <option value="t">Two or more</option>
                                    <option value="o">Other (specify)</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group" id="sbrcs-container">
                                <label for="sbrcs" class="control-label">Other</label>
                                <input type="text" class="form-control" id="sbrcs" name="sbrcs" required="required"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="sbed" class="control-label">Level of Education</label>
                                <select class="form-control" id="sbed" name="sbed">
                                    <option value="-" selected>&mdash;</option>
                                    <option value="n">did not complete high school</option>
                                    <option value="hs">completed high school</option>
                                    <option value="sc">started college</option>
                                    <option value="ts">completed trade school</option>
                                    <option value="ad">completed 2-year college degree</option>
                                    <option value="bd">completed 4-year college degree</option>
                                    <option value="gd">advanced degree (e.g. Master’s, J.D., M.D., Ph.D.)</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="sbmly-y" class="control-label">Served in the military?</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sbmly" id="sbmly-y" value="y" required="required"> Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sbmly" id="sbmly-n" value="n" required="required"> No
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-9 form-group" id="sbmlyo-container">
                                <label for="sbmlyo" class="control-label">Branch</label>
                                <input type="text" class="form-control" id="sbmlyo" name="sbmlyo" required="required"/>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane " id="scan-order" role="tabpanel" aria-labelledby="scan-order-tab">
                        <p class="lead">
                            Ordering information is <em>required</em> for all patients undergoing a screening exam using
                            the G0297 code.
                        </p>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="sbmeq-y" class="control-label">Was a CT lung screening scan ordered for
                                    this patient (CPT code G0297)?</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sbmeq" id="sbmeq-n" value="n" required="required"> No
                                        (remaining questions in this section are optional)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sbmeq" id="sbmeq-y" value="y" required="required"> Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div id="sbmeq-container">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ f.floatingLabel('sbopln', 'Ordering Practitioner') }}
                                </div>
                                <div class="col-md-8">
                                    <div class="form-inline form-group">
                                        <div class="form-group">
                                            <label class="sr-only" for="sbopln">Last Name</label>
                                            <input type="text" class="form-control" id="sbopln" name="sbopln"
                                                   placeholder="Last Name" required="required"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="sbopfn">First Name</label>
                                            <input type="text" class="form-control" id="sbopfn" name="sbopfn"
                                                   placeholder="First Name" required="required"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ f.floatingLabel('sbopnpi', 'NPI') }}
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" class="form-control numeric" id="sbopnpi" name="sbonpi"
                                           data-fv-numeric="true" data-fv-numeric-decimalseparator="."
                                           data-fv-numeric-message="Value must be a valid decimal number" min="1"
                                           required="required"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 ">
                                    {{ f.floatingLabel('sbdsd-n', 'Documentation of shared decision making') }}
                                </div>
                                <div class="col-md-8 form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="sbdsd" id="sbdsd-n" value="n"> No
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sbdsd" id="sbdsd-y" value="y"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sbdsd" id="sbdsd-q" value="?"> ?
                                    </label>
                                    <small class="form-text text-muted">required for reimbursement for G0297 examples on
                                        baseline <em>only</em></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ f.floatingLabel('sbopss-c', 'Reported smoking status') }}
                                </div>
                                <div class="col-md-8 form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="sbopss" id="sbopss-c" value="c" required="required">
                                        Current
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sbopss" id="sbopss-f" value="f" required="required">
                                        Former
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ f.floatingLabel('sboppy', 'Reported pack years') }}
                                </div>
                                <div class="col-md-8 form-group">
                                    <input class="form-control" type="text" name="sboppy" id="sboppy"
                                           required="required">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ f.floatingLabel('sbopqy', 'Reported years since quit') }}
                                </div>
                                <div class="col-md-8 form-group">
                                    <input class="form-control" type="text" name="sbopqy" id="sbopqy"
                                           required="required">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ f.floatingLabel('sboas-n', 'Reported asymptomatic for lung cancer') }}
                                </div>
                                <div class="col-md-8 form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="sboas" id="sboas-n" value="n" required="required">
                                        No
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sboas" id="sboas-y" value="y" required="required">
                                        Yes
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ f.floatingLabel('sbopci', 'Clinical Information') }}
                                </div>
                                <div class="col-md-8 form-group">
                                    <textarea class="form-control" id="sbopci" name="sbopci" rows="3"></textarea>
                                    <small class="form-text text-muted">information will be copied to CT report</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="history" role="tabpanel" aria-labelledby="history-tab">

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbfc-n', 'Family history of lung cancer?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbfc") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbfc-container">
                                <div class="form-group">
                                    <label class="control-label" for="sbfcf-n">Father?</label>
                                    {{ f.inlineRadio("sbfcf","sbfcf-n","n", "No") }}
                                    {{ f.inlineRadio("sbfcf","sbfcf-y","y", "Yes") }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="sbfcm-n"
                                           style="padding-left:15px;">Mother?</label>
                                    {{ f.inlineRadio("sbfcm","sbfcm-n","n", "No") }}
                                    {{ f.inlineRadio("sbfcm","sbfcm-y","y", "Yes") }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="sbfcs-n"
                                           style="padding-left:15px;">Siblings?</label>
                                    {{ f.inlineRadio("sbfcs","sbfcs-n","n", "No") }}
                                    {{ f.inlineRadio("sbfcs","sbfcs-y","y", "Yes") }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbhco-n', 'Any Cancer?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbhco") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbhco-container">
                                <div class="form-group">
                                    {{ f.yearpicker("sbhcdod", true, true, true) }}
                                </div>
                                <div class="form-group" style="vertical-align: top;">
                                    <input class="form-control input-sm" type="text" name="sbhcpbo"
                                           id="sbhcpbo" placeholder="Primary site?" required="required">
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmpa-n', 'Asthma?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmpa") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmpa-container">
                                <div class="form-group">
                                    <label for="sbmpat-n" class="">Under current treatment?</label>
                                    {{ f.inlineRadio("sbmpat","sbmpat-n","n", "No", true) }}
                                    {{ f.inlineRadio("sbmpat","sbmpat-y","y", "Yes", true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmpc-n', 'Emphysema or Chronic Bronchitis (COPD)?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmpc") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmpc-container">
                                <div class="form-group">
                                    {{ f.yearpicker("sbmpcw", true, true, true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmpht-n', 'High Blood Pressure?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmpht") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmpht-container">
                                <div class="form-group" style="vertical-align: top;">
                                    <label class="form-check-inline" for="sbmphtt-n">Treated?</label>
                                    {{ f.inlineRadio("sbmphtt", "sbmphtt-n", "n", "No") }}
                                    {{ f.inlineRadio("sbmphtt", "sbmphtt-y", "y", "Yes") }}
                                </div>
                                <div class="form-group" style="vertical-align: top;margin-left:10px;">
                                    {# TODO: set max year#}
                                    <input class="form-control input-sm numeric" type="text" name="sbmphtsw"
                                           id="sbmphtsw" placeholder="Since (year)?" required="required"
                                           data-fv-integer="true" maxlength="4">

                                </div>
                                <div class="form-group" style="vertical-align: top;">
                                    <input class="form-control input-sm" type="text" name="sbmphthv"
                                           id="sbmphthv"
                                           placeholder="Highest Value?">
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmphc-n', 'High Cholesterol?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmphc") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmphc-container">
                                <div class="form-group">
                                    <label class="control-label" for="sbmphct-n">Treated?</label>
                                    {{ f.inlineRadio("sbmphct", "sbmphct-n", "n", "No") }}
                                    {{ f.inlineRadio("sbmphct", "sbmphct-y", "y", "Yes") }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmpas-n', 'Had an angioplasty or Stent?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmpas") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmpas-container">
                                <div class="form-group">
                                    {{ f.yearpicker("sbmpasw", true, true, true) }}
                                </div>
                                <div class="form-group" style="vertical-align: top;">
                                    <input class="form-control input-sm" type="text" name="sbmpast" id="sbmpast"
                                           placeholder="Where treated?" required="required">
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmpmi-n', 'MI?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmpmi") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmpmi-container">
                                <div class="form-group">
                                    {{ f.yearpicker("sbmpmid", true, true, true) }}
                                </div>
                                <div class="">
                                    <input class="form-control input-sm" type="text" name="sbmpmiw" id="sbmpmiw"
                                           placeholder="Where treated?">
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmps-n', 'Stroke?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmps") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmps-container">
                                <div class="form-group">
                                    {{ f.yearpicker("sbmpsd", true, true, true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmppv-n', 'Peripheral Vascular Disease (Poor Circulation)?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmppv") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmppv-container">
                                <div class="form-group">
                                    {{ f.yearpicker("sbmppvd", true, true, true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmpd-n', 'Diabetes?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmpd") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmpd-container">
                                <div class="form-group form-inline">
                                    <label class="control-label" for="sbmpdw">Starting at what age?</label>
                                    <input class="form-control input-sm numeric" type="text" name="sbmpdw"
                                           id="sbmpdw" size="4" data-fv-integer="true" maxlength="4">
                                </div>

                                <div class="form-group" style="padding-left:10px;">
                                    <label class="control-label" for="sbmpdt-n">Treated?</label>
                                    {{ f.inlineRadio("sbmpdt", "sbmpdt-n", "n", "No") }}
                                    {{ f.inlineRadio("sbmpdt", "sbmpdt-y", "y", "Yes") }}
                                </div>

                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmpld-n', 'Liver Disease?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmpld") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmpld-container">
                                <div class="form-group">
                                    <label class="control-label" for="sbmpldt-m">Severity?</label>
                                    {{ f.inlineRadio("sbmpldt", "sbmpldt-m", "m", "Mild") }}
                                    {{ f.inlineRadio("sbmpldt", "sbmpldt-s", "s", "Severe") }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sbmprd-n', 'Kidney (Renal) Disease?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadioNYQ("sbmprd") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbmprd-container">
                                <div class="form-group">
                                    <label class="control-label" for="sbmprdt-m">Severity?</label>
                                    {{ f.inlineRadio("sbmprdt", "sbmprdt-m", "m", "Mild") }}
                                    {{ f.inlineRadio("sbmprdt", "sbmprdt-s", "s", "Severe") }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                {{ f.floatingLabel('sblcs-n', 'Have you experienced any symptoms indicative of lung cancer?') }}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadio("sblcs","sblcs-n","n", "No") }}
                                    {{ f.inlineRadio("sblcs","sblcs-y","y", "Yes") }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7" id="sblcs-container">
                                <div class="form-group">
                                    <p><em>Check all that apply</em></p>
                                    {{ f.checkbox("sbwcb", "b", "cough producing bloody material") }}
                                    {{ f.checkbox("sbwcl", "l", "unexplained weight loss greater than 20 lbs.") }}
                                    {{ f.checkbox("sbwch", "h", "unexplained hoarseness") }}
                                    {{ f.checkbox("sbwco", "o", "other") }}
                                    <input class="form-control input-sm" type="text" name="sbwcos"
                                           id="sbwcos" title="Other symptom" required="required">
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <label for="sbact" class="control-label">When did you most recently have a chest
                                    CT?</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    <select id="sbact" name="sbact" class="form-control input-sm">
                                        <option value="-" selected>&mdash;</option>
                                        <option value="a">less than 6 months ago</option>
                                        <option value="b">6–18 months ago</option>
                                        <option value="f">18 months to 3 years ago</option>
                                        <option value="c">3 years to 5 years ago</option>
                                        <option value="d">over 5 years ago</option>
                                        <option value="e">never</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbact-container">
                                <div class="form-group">
                                    <label for="sbahcl">If so, where was the test done?</label>
                                    <input type="text" name="sbahcl" id="sbahcl" class="form-control input-sm"/>
                                </div>

                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <label for="sbahpft-n" class="control-label">Have you had a pulmonary function test
                                    within the last five years?</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbahpft","sbahpft-n","n", "No") }}
                                    {{ f.inlineRadio("sbahpft","sbahpft-y","y", "Yes") }}
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-7 form-inline" id="sbahpft-container">
                                <div class="form-group">
                                    <label for="sbfev1">FEV1 (L/s)</label>
                                    <input class="form-control input-sm" type="text" name="sbfev1" id="sbfev1" size="4">
                                </div>
                                <div class="form-group">
                                    <label for="sbfvc">FVC (L)</label>
                                    <input class="form-control input-sm" type="text" name="sbfvc" id="sbfvc" size="4">
                                </div>
                                <div class="form-group">
                                    <label for="sbcop">Diffusion Capacity (mL/min/mm Hg)</label>
                                    <input class="form-control input-sm" type="text" name="sbcop" id="sbcop" size="4">
                                </div>
                                <div class="alert alert-info" id="ffr-message" style="display: none;">
                                    FEV1/FVC (%) is <strong><span id="ffr-value"></span></strong>
                                </div>
                                <input type="hidden" name="sbffr" id="sbffr"/>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <label for="sbaha-n" class="control-label">To your knowledge, have you been exposed
                                    to asbestos?</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbaha","sbaha-n","n", "No") }}
                                    {{ f.inlineRadio("sbaha","sbaha-y","y", "Yes") }}
                                </div>
                            </div>


                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <label for="sblcs-n" class="control-label">Have you ever worked in any of the
                                    following?</label>
                            </div>
                            <div class="col-sm-6 col-md-9">
                                <div class="form-group">
                                    {{ f.checkbox("sbahaoi", "i", "asbestos product manufacturing") }}
                                    {{ f.checkbox("sbahaoj", "j", "auto repair") }}
                                    {{ f.checkbox("sbahaoh", "h", "building maintenance") }}
                                    {{ f.checkbox("sbahaof", "f", "chemical industry/foundary/refinery") }}
                                    {{ f.checkbox("sbahaoa", "a", "construction/demolition") }}
                                    {{ f.checkbox("sbahaoe", "e", "mining") }}
                                    {{ f.checkbox("sbahaog", "g", "nuclear industry") }}
                                    {{ f.checkbox("sbahaoc", "c", "ship construction/repair") }}
                                    {{ f.checkbox("sbahaoo", "o", "other") }}
                                    <input class="form-control input-sm" type="text" name="sbahas" id="sbahas"
                                           title="Other work" required="required">
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                    </div>
                    <div class="tab-pane " id="smoking" role="tabpanel" aria-labelledby="smoking-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbsru-n', 'Have you smoked at least 100 cigarettes in your lifetime? (100 cigarettes = 5 packs)') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbsru","sbsru-n","n","No",true) }}
                                    {{ f.inlineRadio("sbsru","sbsru-y","y","Yes",true) }}
                                </div>

                                <div class="form-group" id="sbsru-container">
                                    <label for="sbsru-n" class="control-label">Were you exposed to secondhand
                                        smoke?</label>
                                    {{ f.inlineRadio("sbsruyn","sbsruyn-n","n","No",true) }}
                                    {{ f.inlineRadio("sbsruyn","sbsruyn-y","y","Yes",true) }}
                                </div>
                            </div>

                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>


                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbsas', 'About how old were you when you first started smoking cigarettes regularly?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group form-inline">
                                    <input class="form-control input-sm" type="text" name="sbsas" id="sbsas"
                                           size="5">
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbshsa-n', 'Over the past month, have you smoked at all, even one cigarette?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbshsa","sbshsa-n","n","No",true) }}
                                    {{ f.inlineRadio("sbshsa","sbshsa-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div id="non-smoking-container">
                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbsdlcd', 'If no, when was the date of your last cigarette?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group" style="float:left;">
                                        <select class="form-control input-sm" id="sbsdlcd" name="sbsdlcd"
                                                title="Last cigarette day">
                                            <option value="-" selected>&mdash;</option>
                                            {% for i in range(0,31) %}
                                                <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="small text-muted">Day</span>
                                    </div>
                                    <div class="form-group" style="float:left;">
                                        <select class="form-control input-sm" id="sbsdlcm" name="sbsdlcm"
                                                title="Last cigarette month">
                                            <option value="-" selected>&mdash;</option>
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                        <span class="small text-muted">Month</span>
                                    </div>
                                    <div class="form-group" style="float:left;">
                                        {{ f.yearpicker("sbsdlcy", true, true, true, "Year") }}
                                    </div>
                                    <div class="alert alert-info" id="sbsdlc-message"
                                         style="display: none; float:left;margin-left: 5px;">
                                        Number of years since quit: <strong><span id="sbsdlc-value"></span></strong>
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbfdpw', 'When you were a smoker, on approximately how many days per week did you smoke cigarettes?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <input class="form-control input-sm" type="text" name="sbfdpw"
                                               id="sbfdpw" size="5" data-fv-lessthan="true" data-fv-lessthan-value="7">
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbfppd', 'On the days that you did smoke, approximately how many packs of cigarettes did you smoke per day (PPD)?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <input class="form-control input-sm" type="text" name="sbfppd"
                                               id="sbfppd" size="5">
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbfdur', 'For approximately how many years did you smoke this amount?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <input class="form-control input-sm" type="text" name="sbfdur"
                                               id="sbfdur" size="5">
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>
                        </div>

                        <div id="smoking-container">
                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbcdpw', 'On average, on how many days per week do you (or did you) smoke cigarettes?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <input class="form-control input-sm" type="text" name="sbcdpw"
                                               id="sbcdpw" size="5" data-fv-lessthan="true" data-fv-lessthan-value="7">
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbcppd', 'On average, how many packs ofcigarettes do you (or did you) smoke per day (PPD)?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <input class="form-control input-sm" type="text" name="sbcppd"
                                               id="sbcppd" size="5">
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbcdur', 'For approximately how many years have you smoked this amount?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <input class="form-control input-sm" type="text" name="sbcdur" id="sbcdur"
                                               size="5">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-lg-4 col-sm-offset-6 col-lg-offset-">
                                    <input type="hidden" name="sbntpy" value=""/>
                                    <div class="alert alert-info" id="sbntpy-message" style="display: none;">
                                        <strong><span id="sbntpy-value"></span> total pack-years</strong>
                                        <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="popover"
                                           title="Pack-Years calculation"
                                           data-content="Pack-Years is calculated by multiplying the average number of packs per day by
                            the number of years smoking. For example: a person who has smoked 15 cigarettes a day for 40 years has a (15/20) x 40 = 30 pack-year smoking history."></i>
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbqttq-n', 'Have you ever tried to quit smoking?') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        {{ f.inlineRadio("sbqttq","sbqttq-n","n","No",true) }}
                                        {{ f.inlineRadio("sbqttq","sbqttq-y","y","Yes",true) }}
                                    </div>
                                    <div class="form-group" id="sbqttq-container">
                                        <label for="sbqttqtb" class="control-label">How many times?</label>
                                        <select id="sbqttqtb" name="sbqttqtb" class="form-control input-sm">
                                            <option value="-" selected>&mdash;</option>
                                            <option value="a">1</option>
                                            <option value="b">2–5</option>
                                            <option value="c">6–10</option>
                                            <option value="d">10+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row" id="sbqly2-container">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbqly2', 'In the last 12 months, how many times have you quit smoking for at least 24 hours?') }}
                                </div>
                                <div class="form-group col-sm-6 col-lg-4">
                                    <select id="sbqly2" name="sbqly2" class="form-control input-sm">
                                        <option value="-" selected>&mdash;</option>
                                        <option value="e">0</option>
                                        <option value="a">1</option>
                                        <option value="b">2–5</option>
                                        <option value="c">6–10</option>
                                        <option value="d">10+</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbqst', 'Are you seriously thinking of quitting smoking?') }}
                                </div>
                                <div class="form-group col-sm-6 col-lg-4">
                                    <select id="sbqst" name="sbqst" class="form-control input-sm">
                                        <option value="-" selected>&mdash;</option>
                                        <option value="y">yes, within the next 30 days</option>
                                        <option value="m">yes, within the next six months</option>
                                        <option value="n">no, not thinking of quitting</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>

                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    {{ f.floatingLabel('sbcpd-n', 'Smoking cessation information or counseling was offered to subject') }}
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        {{ f.inlineRadio("sbcpd","sbcpd-n","n","No",true) }}
                                        {{ f.inlineRadio("sbcpd","sbcpd-y","y","Yes",true) }}
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs-block visible-sm-block"/>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbsews-n', 'After age 18, did you work for more than one year in a worksite where smoking was allowed?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbsews","sbsews-n","n","No",true) }}
                                    {{ f.inlineRadio("sbsews","sbsews-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbsehs-n', 'Did you ever work for more than one year in a job where you were exposed to other people’s tobacco smoke?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbsehs","sbsehs-n","n","No",true) }}
                                    {{ f.inlineRadio("sbsehs","sbsehs-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>

                        <div class="row" id="sbsehs-container">
                            <hr class="visible-xs-block visible-sm-block"/>
                            <div class="col-md-12">
                                <label>List the occasions from the most recent:</label>
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Age Range</th>
                                        <th scope="col">Job</th>
                                        <th scope="col">Smoking</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in range(0,4) %}
                                        {% set j = i + 1 %}
                                        <tr>
                                            <td><input type="text" name="sbsehsa{{ j }}" class="form-control"
                                                       title="Age Range {{ j }}"/>
                                            </td>
                                            <td><input type="text" name="sbsehsj{{ j }}" class="form-control"
                                                       title="Job {{ j }}"/></td>
                                            <td>
                                                <div class="form-group">
                                                    {{ f.inlineRadio("sbsehsr"+j|string,"sbsehsr"+j|string+"-n","n","not permitted",true) }}
                                                    {{ f.inlineRadio("sbsehsr"+j|string,"sbsehsr"+j|string+"-r","r","restricted",true) }}
                                                    {{ f.inlineRadio("sbsehsr"+j|string,"sbsehsr"+j|string+"-y","y","allowed anywhere",true) }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbhsy-n', 'Did anyone in your house smoke in the home while you were under 18?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbhsy","sbhsy-n","n","No",true) }}
                                    {{ f.inlineRadio("sbhsy","sbhsy-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbhsyh-n', 'Was smoking allowed inside the house?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbhsyh","sbhsyh-n","n","Not permitted",true) }}
                                    {{ f.inlineRadio("sbhsyh","sbhsyh-r","r","Resticted",true) }}
                                    {{ f.inlineRadio("sbhsyh","sbhsyh-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbmsy-n', 'Did your mother/primary caregiver smoke when you were under age 7?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbmsy","sbmsy-n","n","No",true) }}
                                    {{ f.inlineRadio("sbmsy","sbmsy-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbmst-n', 'Did your mother/primary caregiver smoke when you were ages 7–18?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbmst","sbmst-n","n","No",true) }}
                                    {{ f.inlineRadio("sbmst","sbmst-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbosy-n', 'Did anyone else beside your mother/primary caregiver smoke in the home when you were under 18?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbosy","sbosy-n","n","No",true) }}
                                    {{ f.inlineRadio("sbosy","sbosy-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbslws-n', 'Do you currently live with a smoker?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbslws","sbslws-n","n","No",true) }}
                                    {{ f.inlineRadio("sbslws","sbslws-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                {{ f.floatingLabel('sbhso-n', 'After age 18, did you live with someone for more than one year who smoked in your presence?') }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    {{ f.inlineRadio("sbhso","sbhso-n","n","No",true) }}
                                    {{ f.inlineRadio("sbhso","sbhso-y","y","Yes",true) }}
                                </div>
                            </div>
                        </div>

                        <div class="row" id="sbhso-container">
                            <hr class="visible-xs-block visible-sm-block"/>
                            <div class="col-md-12">
                                <label>
                                    If yes, at what ages did you live with someone who smoked around you and how much
                                    did they smoke? (List the occasions from the most recent)
                                </label>
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th scope="col">Age Range</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Smoking</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in range(0,4) %}
                                        {% set j = i + 1 %}
                                        <tr>
                                            <td><input type="text" name="sbhsa{{ j }}" class="form-control"
                                                       title="Age Range {{ j }}"/></td>
                                            <td>
                                                <select name="sbhsas{{ j }}" class="form-control"
                                                        title="Amount {{ j }}">
                                                    <option value="-">&mdash;</option>
                                                    <option value="a">1–14 cigarettes a day</option>
                                                    <option value="b">15–24 cigarettes a day</option>
                                                    <option value="c">25+ cigarettes a day</option>
                                                    <option value="d">Don’t know</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    {{ f.inlineRadio("sbhsasr"+j|string,"sbhsasr"+j|string+"-n","n","not permitted",true) }}
                                                    {{ f.inlineRadio("sbhsasr"+j|string,"sbhsasr"+j|string+"-r","r","restricted",true) }}
                                                    {{ f.inlineRadio("sbhsasr"+j|string,"sbhsasr"+j|string+"-y","y","allowed anywhere",true) }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <hr class="visible-xs-block visible-sm-block"/>


                    </div>
                    <div class="tab-pane " id="health" role="tabpanel" aria-labelledby="health-tab" style="margin-bottom: 15px;">
                        {{ sf12.sf12("sb") }}
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-prev">Previous</button>
                <button type="button" class="btn btn-default btn-next">Next</button>
            </div>
            <div class="pull-right">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script language="JavaScript">
        $(function () {
            // $('#scan-order-tab').tab('show'); //TODO: remove utility to set the initial tab (debugging form development)
            {#$("#myTabs a[href='#smoking']").tab('show')#}

            //hooks for calculating BMI on fields that would affect it (height, weight, units of each)
            $("input[id^='sbpw'],input[id^='sbph']").on('change', function () {
                var height = $("#sbph").val(), heightUnits = $("#sbphu").val();
                var weight = $("#sbpw").val(), weightUnits = $("#sbpwu").val();
                if (height > 0 && weight > 0) {
                    var bmi = VAPALS.computeBMI(parseInt(height), heightUnits, parseInt(weight), weightUnits);
                    if (bmi > 0) {
                        $("#sbbmi").val(bmi);
                        $("#bmi-value").text(bmi);
                        $("#bmi-descriptor").text(VAPALS.computeBmiDescriptor(bmi));
                        $("#bmi-message").show();
                    }
                    else {
                        $("#sbbmi").val("");
                        $("#bmi-message").hide();
                    }
                }
            }).first().trigger("change"); //trigger on page load for existing data

            //hook for calculating Pulmonary function test percentage (FFR)
            $("#sbfev1, #sbfvc").on('change', function () {
                var fev1 = $("#sbfev1").val();
                var fvc = $("#sbfvc").val();
                if (fev1 > 0 && fvc > 0) {
                    var ffr = Math.round(100.0 * fev1 / fvc);
                    if (ffr > 0) {
                        $("#sbffr").val(ffr);
                        $("#ffr-value").text(ffr);
                        $("#ffr-message").show();
                    }
                    else {
                        $("#sbffr").val("");
                        $("#ffr-message").hide();
                    }
                }
                else {
                    $("#ffr-message").hide();
                }
            }).first().trigger('change');

            //hook for years since quit
            $("[name^=sbsdlc]").on('change', function () {
                var now = moment();
                var m = (parseInt($("#sbsdlcm").val()) - 1) || now.month();
                var d = parseInt($("#sbsdlcd").val()) || now.date();
                var y = parseInt($("#sbsdlcy").val()) || now.year();
                var quitDate = moment({month: m, date: d, year: y});
                var durationYears = now.diff(quitDate, 'years', true).toFixed(1);
                if (durationYears > 0) {
                    $("#sbsdlc-value").text(durationYears);
                    $("#sbsdlc-message").show();
                }
                else {
                    $("#sbsdlc-value").text("");
                    $("#sbsdlc-message").hide();
                }
            }).first().trigger('change');

            //hook for pack years calculation
            $("[name='sbcdpw'],[name='sbcppd'],[name='sbcdur']").on('change', function () {
                var daysPerWeek = $("[name='sbcdpw']").val(),
                    packsPerDay = $("[name='sbcppd']").val(),
                    years = $("[name='sbcdur']").val(),
                    totalPackYears;
                if (daysPerWeek && packsPerDay && years) {
                    var packsPerYear = packsPerDay * (daysPerWeek / 7.0);
                    totalPackYears = (packsPerYear * years).toFixed(1);
                    $("[name='sbntpy']").val(totalPackYears);
                    $("#sbntpy-value").text(totalPackYears);
                    $("#sbntpy-message").show();
                } else {
                    $("[name='sbntpy']").val("");
                    $("#sbntpy-value").text("");
                    $("#sbntpy-message").hide();
                }
            }).first().trigger('change');

            //conditionally enabled fields
            $("#sbrc").conditionallyEnable({sourceValues: "o", enable: "#sbrcs-container"}); // when race is "other", enable "race other"
            $("[name=sbmly]").conditionallyEnable({enable: "#sbmlyo-container"}); //military service
            $("[name=sbmeq]").conditionallyEnable({enable: "#sbmeq-container"}); //entire CT scan page
            $("[name=sbfc]").conditionallyEnable({enable: "#sbfc-container"});
            $("[name=sbhco]").conditionallyEnable({enable: "#sbhco-container"});
            $("[name=sbmpa]").conditionallyEnable({enable: "#sbmpa-container"});
            $("[name=sbmpc]").conditionallyEnable({enable: "#sbmpc-container"});
            $("[name=sbmpht]").conditionallyEnable({enable: "#sbmpht-container"});
            $("[name=sbmphc]").conditionallyEnable({enable: "#sbmphc-container"});
            $("[name=sbmpas]").conditionallyEnable({enable: "#sbmpas-container"});
            $("[name=sbmpmi]").conditionallyEnable({enable: "#sbmpmi-container"});
            $("[name=sbmps]").conditionallyEnable({enable: "#sbmps-container"});
            $("[name=sbmppv]").conditionallyEnable({enable: "#sbmppv-container"});
            $("[name=sbmpd]").conditionallyEnable({enable: "#sbmpd-container"});
            $("[name=sbmpld]").conditionallyEnable({enable: "#sbmpld-container"});
            $("[name=sbmprd]").conditionallyEnable({enable: "#sbmprd-container"});
            $("[name=sblcs]").conditionallyEnable({
                enable: $("#sblcs-container").find("label, input[id!=sbwcos]")
            });
            $("#sbwco").conditionallyEnable({sourceValues: "o", enable: "#sbwcos"});
            $("[name=sbact]").conditionallyEnable({
                sourceValues: function (actualValue) {
                    return actualValue !== '-' && actualValue !== 'e';
                }, enable: "#sbact-container"
            });
            $("[name=sbahpft]").conditionallyEnable({enable: "#sbahpft-container"});
            $("#sbahaoo").conditionallyEnable({sourceValues: "o", enable: "#sbahas"});
            $("[name=sbsru]").conditionallyEnable({sourceValues: "n", enable: "#sbsru-container"});
            $("[name=sbqttq]").conditionallyEnable({
                enable: "#sbqttq-container, #sbqly2-container"
            });
            $("[name=sbhso]").conditionallyEnable({enable: "#sbhso-container"});
            $("[name=sbshsa]").conditionallyEnable({
                enable: "#smoking-container",
                disable: "#non-smoking-container"
            });
            $("[name=sbsehs]").conditionallyEnable({enable: "#sbsehs-container"});


            //setup tab navigation prev/next buttons
            function getCurrentTab() {
                return $("#myTabContent").find("> div:visible");
            }

            function getNextTabId() {
                return getCurrentTab().next().attr("id");
            }

            function getPrevTabId() {
                return getCurrentTab().prev().attr("id");
            }


            $(".btn-next").on("click", function () {
                var nextTabId = getNextTabId();
                // CB: form validation occurs on tab hide event
                $("#myTabs").find("a[href='#" + nextTabId + "']").tab('show');

            }).toggleClass("disabled", !getNextTabId());

            $(".btn-prev").on("click", function () {
                var prevTabId = getPrevTabId();
                // CB: form validation occurs on tab hide event
                $("#myTabs").find("a[href='#" + prevTabId + "']").tab('show');
            }).toggleClass("disabled", !getPrevTabId());

            $('a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
                var currentTab = e.target;
                var tabContentSelector = $(currentTab).attr("href");
                var fv = $(".validated").data('formValidation');
                var valid = fv.validateContainer(tabContentSelector).isValid();
                $(tabContentSelector).find("input, select").first().trigger('change');
                if (!valid) {
                    console.log("tab " + tabContentSelector + " is not valid");
                    // e.preventDefault() // to cancel the navigation
                }

            }).on("shown.bs.tab", function () {
                    $(".btn-next").toggleClass("disabled", !getNextTabId());
                    $(".btn-prev").toggleClass("disabled", !getPrevTabId());
                $("#myTabContent").find("input:visible, textarea:visible, select:visible").first().focus();
            });


            function checkCompleteness($container) {
                console.log("checkCompleteness() container=" + $container);
                var $requiredFields = $container.find("[required], [data-fv-notempty=true]").filter(":enabled"),
                    $tab = $(".nav-tabs").find("a[href='#" + $container.attr("id") + "']");
                var emptyRequiredFields = $requiredFields.filter(function () {
                    var $c = $(this);
                    var value = $c.val();
                    if ($c.is(":radio")) {
                        var radioName = $c.attr("name");
                        value = $("input[type='radio'][name='" + radioName + "']:checked").val();
                    }
                    return typeof value === "undefined" || value === "";
                });
                // check tab container validity
                var fv = $(".validated").data('formValidation');
                if (fv) {
                    var valid = fv.isValidContainer($container);
                    var reallyValid = valid == null || valid === true; //consider unvalidated (null) as "valid".

                    //add completeness flag to tab if all required fields are filled in and form is likely valid.
                    $tab.toggleClass("complete", emptyRequiredFields.length === 0 && reallyValid);
                }
            }


            // trigger a check of completeness of each tab at page load and also any time an input changes.
            $(".tab-pane").each(function () {
                checkCompleteness($(this))
            }).on("keyup change", function () {
                var $container = $(this).closest(".tab-pane");
                checkCompleteness($container);
            });

            //trigger age calculation when date picker is used to select a date.
            $("#sbdob").closest(".datepicker").on("dp.change", function () {
                var dateString = $("#sbdob").val();
                if (dateString) {
                    var m = moment(dateString, VAPALS.DATE_FORMAT);
                    if (m.isValid()) {
                        $("#sbage").text(VAPALS.computeAge(m.toDate()))
                    }
                }
            });

            //Initialize Form Validation
            $(".validated").formValidation({framework: 'bootstrap'});

        });

    </script>
{% endblock %}