{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>{{ title | escape }}
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <div class="alert alert-warning">
            If a new lesion is identified at a later point and new diagnostics are performed, please use a new form.
        </div>

        <hr/>
        <form action="{{ formPage+".html" if mockup else "/vapals" }}" method="{{ formMethod }}"
              class="validated"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh"
              data-fv-button-selector="#submit-button">

            <input type="hidden" name="samiroute" value="postform"/>
            <input type="hidden" name="studyid" value="@@SID@@"/>
            <input type="hidden" name="form" value="@@FORMKEY@@"/>  

            <h3>Biopsy</h3>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="control-label required" for="bxp-n">Was a biopsy performed?</label>
                    <div>
                        {{ f.inlineRadio("bxp", "bxp-n", "n", "No", true) }}
                        {{ f.inlineRadio("bxp", "bxp-y", "y", "Yes", true) }}
                    </div>
                </div>
            </div>
            <div id="bxp-container">
                <div class="row">
                    <div class="col-sm-4 col-md-3 form-group">
                        <label class="control-label required" for="bxdos">Procedure date</label>
                        {{ f.datepicker("bxdos", true, false, "Procedure Date is required") }}

                    </div>
                    <div class="col-sm-8 col-md-6 form-group">
                        <label for="bxw" class="control-label required">Where was the biopsy performed?</label>
                        <input type=text id="bxw" name="bxw" class="form-control" required="required">
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label required" for="validator-bxind">Indication for biopsy</label>
                            <input type="hidden" id="validator-bxind" name="validator-bxind" value="0"/>
                        </div>
                        {{ f.checkbox("bxinds", "s", "Size") }}
                        {{ f.checkbox("bxindr", "r", "No resolution after abx") }}
                        {{ f.checkbox("bxindg", "g", "Growth") }}
                        {{ f.checkbox("bxindp", "p", "Positive PET") }}
                        {{ f.checkbox("bxindo", "o", "Other (specify)") }}

                        <div class="form-group">
                            <input type=text id="bxind" name="bxind" class="form-control input-sm" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label required" for="validator-bxloc">Lesion site</label>
                            <input type="hidden" id="validator-bxloc" name="validator-bxloc" value="0"/>
                        </div>
                        {{ f.checkbox("bxloclul", "lul", "LUL") }}
                        {{ f.checkbox("bxloclll", "lll", "LLL") }}
                        {{ f.checkbox("bxloclh", "lh", "L hilum") }}
                        {{ f.checkbox("bxloclg", "lg", "L lingula") }}
                        {{ f.checkbox("bxlocrul", "rul", "RUL") }}
                        {{ f.checkbox("bxlocrml", "rml", "RML") }}
                        {{ f.checkbox("bxlocrll", "rll", "RLL") }}
                        {{ f.checkbox("bxlocrh", "rh", "R hilum") }}
                        {{ f.checkbox("bxloce", "e", "Endobronchial") }}
                        {{ f.checkbox("bxlocm", "m", "Mediastinum") }}
                        {{ f.checkbox("bxlocp", "p", "Pleura") }}
                        {{ f.checkbox("bxloco", "o", "Other (specify)") }}
                        <div class="form-group">
                            <input type=text id="bxlocs" name="bxlocs" class="form-control input-sm"
                                   required="required">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="bxtosc"> Type of specimen </label>
                            {{ f.checkbox("bxtosc", "c", "Cytology") }}
                            {{ f.checkbox("bxtosh", "h", "Histology") }}
                        </div>

                        <div class=" form-group">
                            <label for="bxtopc"> Type of procedure </label>
                            {{ f.checkbox("bxtopc", "c", "Needle biopsy") }}
                            {{ f.checkbox("bxtopb", "b", "Bronchoscopy") }}
                            {{ f.checkbox("bxtopv", "v", "VAT") }}
                            {{ f.checkbox("bxtopt", "t", "Thoracotomy") }}
                            {{ f.checkbox("bxtopo", "o", "Other (specify)") }}
                            <div class="form-group">
                                <input type=text id="bxtopos" name="bxtopos" class="form-control" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label class="required" for="bxcp-n">Complications during biopsy?</label>
                        <div>
                            {{ f.inlineRadio("bxcp", "bxcp-n", "n","No",true) }}
                            {{ f.inlineRadio("bxcp", "bxcp-y", "y","Yes",true) }}
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div id="bxcp-container">
                            <div class="form-group">
                                <input type="hidden" id="validator-bxcp" name="validator-bxcp" value="0"/>
                            </div>
                            {{ f.checkbox("bxcpct", "c", "Chest tube") }}
                            {{ f.checkbox("bxcppt", "pt", "Pneumothorax") }}
                            {{ f.checkbox("bxcppn", "pn", "Pneumonectasis") }}
                            {{ f.checkbox("bxcpo", "o", "Other (specify)") }}
                            <div class="form-group">
                                <input type=text id="bxcpos" name="bxcpos" class="form-control input-sm"
                                       required="required">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="bxpdt"> Biopsy pathology details </label>
                        <textarea name="bxpdt" id="bxpdt" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <h3>Mediastinoscopy</h3>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="control-label required" for="rbmep-n">Was a mediastinoscopy performed?</label>
                    <div>
                        {{ f.inlineRadio("rbmep", "rbmep-n", "n", "No", true) }}
                        {{ f.inlineRadio("rbmep", "rbmep-y", "y", "Yes", true) }}
                    </div>
                </div>
            </div>
            <div id="rbmep-container">
                <div class="row">

                    <div class="col-md-3 form-group">
                        <label class="control-label required" for="rbmed">Procedure date</label>
                        {{ f.datepicker("rbmed", true) }}

                    </div>
                    <div class="col-md-6 form-group">
                        <label for="rbmel" class="control-label required">Where was the biopsy performed?</label>
                        <input type=text id="rbmel" name="rbmel" class="form-control" required="required">
                    </div>

                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-4">
                        <label class="control-label required" for="rbmllul">Lesion site</label>
                        <div class="form-group">
                            <input type="hidden" id="validator-rbml" name="validator-rbml" value="0"/>
                        </div>
                        {{ f.checkbox("rbmllul", "lul", "LUL") }}
                        {{ f.checkbox("rbmllll", "lll", "LLL") }}
                        {{ f.checkbox("rbmllh", "lh", "L hilum") }}
                        {{ f.checkbox("rbmllg", "lg", "L lingula") }}
                        {{ f.checkbox("rbmlrul", "rul", "RUL") }}
                        {{ f.checkbox("rbmlrml", "rml", "RML") }}
                        {{ f.checkbox("rbmlrll", "rll", "RLL") }}
                        {{ f.checkbox("rbmlrh", "rh", "R hilum") }}
                        {{ f.checkbox("rbmle", "e", "Endobronchial") }}
                        {{ f.checkbox("rbmlm", "m", "Mediastinum") }}
                        {{ f.checkbox("rbmlp", "p", "Pleura") }}
                        {{ f.checkbox("rbmlo", "o", "Other (specify)") }}
                        <div class="form-group">
                            <input type=text id="rbmls" name="rbmls" class="form-control input-sm" required="required">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label class="required" for="rbmec-n">Complications during procedure?</label>
                        <div>
                            {{ f.inlineRadio("rbmec", "rbmec-n", "n","No",true) }}
                            {{ f.inlineRadio("rbmec", "rbmec-y", "y","Yes",true) }}
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="rbmecos">Specify</label>
                        <input type=text id="rbmecos" name="rbmecos" class="form-control input-sm"
                               required="required">
                    </div>
                </div>
            </div>

            <h3>Molecular Testing</h3>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="control-label required" for="rbmt-n">Was molecular testing performed on the pathology
                        specimen?</label>
                    <div>
                        {{ f.inlineRadio("rbmt", "rbmt-n", "n", "No",true) }}
                        {{ f.inlineRadio("rbmt", "rbmt-y", "y", "Yes",true) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group" id="rbmt-container">
                    <div class="form-group">
                        <label class="control-label required" for="rbmte-n">EGFR</label><br/>
                        {{ f.inlineRadio("rbmte", "rbmte-n", "n", "No", true) }}
                        {{ f.inlineRadio("rbmte", "rbmte-neg", "neg", "Negative", true) }}
                        {{ f.inlineRadio("rbmte", "rbmte-pos", "pos", "Positive", true) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="rbmtk-n">K-Ras</label><br/>
                        {{ f.inlineRadio("rbmtk", "rbmtk-n", "n", "No", true) }}
                        {{ f.inlineRadio("rbmtk", "rbmtk-neg", "neg", "Negative", true) }}
                        {{ f.inlineRadio("rbmtk", "rbmtk-pos", "pos", "Positive", true) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="rbmta-n">ALK</label><br/>
                        {{ f.inlineRadio("rbmta", "rbmta-n", "n", "No", true) }}
                        {{ f.inlineRadio("rbmta", "rbmta-neg", "neg", "Negative", true) }}
                        {{ f.inlineRadio("rbmta", "rbmta-pos", "pos", "Positive", true) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label required" for="rbmtos">Other</label>
                        <input type="text" name="rbmtos" id="rbmtos" class="form-control" placeholder="specify">
                        {{ f.inlineRadio("rbmto", "rbmto-n", "n", "No", true) }}
                        {{ f.inlineRadio("rbmto", "rbmto-neg", "neg", "Negative", true) }}
                        {{ f.inlineRadio("rbmto", "rbmto-pos", "pos", "Positive", true) }}
                    </div>
                </div>
            </div>

            <hr/>
            <div class="pull-left">
                <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
            </div>

            <div class="pull-right">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
        </form>
    </div>

     {{ f.deleteFormModal("biopsy.html", mockup, formMethod)}}
{% endblock %}

{% block script %}
    <script language="JavaScript">

        $(function () {

            //Biopsy
            $("[name='bxp']").conditionallyEnable({enable: $("#bxp-container")}); //entire form
            $("#bxindo").conditionallyEnable({sourceValues: "o", enable: "#bxind"}); // other indication
            $("#bxloco").conditionallyEnable({sourceValues: "o", enable: "#bxlocs"}); //other lesion
            $("#bxtopo").conditionallyEnable({sourceValues: "o", enable: "#bxtopos"}); // other type of procedure
            $("[name='bxcp']").conditionallyEnable({enable: $("#bxcp-container")}); //procedure details
            $("#bxcpo").conditionallyEnable({sourceValues: "o", enable: "#bxcpos"}); // other complication

            //Mediastinoscopy
            $("[name='rbmep']").conditionallyEnable({enable: $("#rbmep-container")}); //entire section
            $("#rbmlo").conditionallyEnable({sourceValues: "o", enable: "#rbmls"}); //other lesion
            $("[name=rbmec]").conditionallyEnable({enable: "#rbmecos"}); // complication specificity

            //Molecular Testing
            $("[name='rbmt']").conditionallyEnable({enable: "#rbmt-container"}); //entire section

            //attach before requireOneValidators
            $(".validated").formValidation({framework: 'bootstrap'});

            requireOneValidator($("[name^=bxind]"), $("[name=validator-bxind]")); // at least one indication checkbox
            requireOneValidator($("[name^=bxloc]"), $("[name=validator-bxloc]")); // at least one lesion checkbox
            requireOneValidator($("[name^=bxtos]"), $("[name=validator-bxtos]")); // at least one type of specimen
            requireOneValidator($("[name^=bxtop]"), $("[name=validator-bxtop]")); // at least one type of procedure
            requireOneValidator($("#bxcp-container").find("[name^=bxcp]"), $("[name^=validator-bxcp]")); // at least one complication
            requireOneValidator($("[name^=rbml]"), $("[name^=validator-rbml]")) // at least one lesion
        });


    </script>

{% endblock %}