{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}

    <div class="container-fluid" style="max-width:1550px">
        <h1> PAGE NAME
            <small>CRITERIA</small>
        </h1>
        {% include '_messages.jinja2' %}
        <hr/>
        <div id="body-container">
            <!-- Insert body here -->
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock %}