{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>SSN</th>
                    <th>Name</th>
                    <th>Facility Code</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>123-45-6789</td>
                    <td>Doe, Jane M</td>
                    <td>12345</td>
                    <td>03/02/2018</td>
                    <td>
                        <form method="post" action="/vapals">
                            <input name="samiroute" type="hidden">
                            <input name="studyid" type="hidden">
                            <input value="Intake" class="btn btn-link" role="link" type="submit">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/vapals">
                            <input name="samiroute" type="hidden">
                            <input name="studyid" type="hidden">
                            <input value="New Form" class="btn label label-warning" role="link" type="submit">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>123-45-6789</td>
                    <td>-</td>
                    <td>-</td>
                    <td>03/02/2018</td>
                    <td><a href="background.html">Background</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>123-45-6789</td>
                    <td>-</td>
                    <td>-</td>
                    <td>03/02/2018</td>
                    <td><a href="ctevaluation.html">CT Evaluation</a></td>
                    <td>
                        <a href="casereview.html"><span class="label label-primary">Report</span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}