{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>SSN</th>
                    <th>Name</th>
                    <th>Facility Code</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% if mockup %}
                    <!-- These are sample rows for what might be on the actual case-review page -->
                    <tr>
                        <td>123-45-6789</td>
                        <td>Doe, Jane M</td>
                        <td>12345</td>
                        <td>03/02/2018</td>
                        <td>
                            <a class="navigation" data-method="get" data-samiroute="form" data-form="" href="intake.html">Intake</a>
                        </td>
                        <td>
                            <a class="navigation" data-method="get" data-samiroute="form" data-form="" href="newform.html">Intake</a>
                        </td>
                    </tr>
                    <tr>
                        <td>123-45-6789</td>
                        <td>-</td>
                        <td>-</td>
                        <td>03/02/2018</td>
                        <td><a class="navigation" data-method="get" data-samiroute="form" data-form=""
                               href="background.html">Background</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>123-45-6789</td>
                        <td>-</td>
                        <td>-</td>
                        <td>03/02/2018</td>
                        <td><a class="navigation" data-method="get" data-samiroute="form" data-form=""
                               href="ctevaluation.html">CT Evaluation</a></td>
                        <td>
                            <a class="navigation" data-method="get" data-samiroute="form" data-form=""
                               href="report.html"><span class="label label-primary">Report</span></a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}