{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>{{ title }}
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <hr>
        <form action="ctevaluation.html" class="validated" method="post"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh"
              data-fv-button-selector="#submit-button">

            {# TODO: inject studyID #}
            <input type="hidden" name="cesid" value="VEP0001" required="required">

            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                    <label for="cedos" class="control-label">Study Date</label>
                    {{ f.datepicker("cedos", true, "Study date is required") }}
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                    <label for="ceen">Exam Number</label>
                    <input type="text" class="form-control" id="ceen" name="ceen" required="required"/>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                    <label for="cerad">Radiologist</label>
                    <input type="text" class="form-control" id="cerad" name="cerad" required="required"/>
                </div>
                <div class="form-group">
                    {{ f.checkbox("cecon", "y", "Final Reading") }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 form-group">
                    <label>Signing Radiologist</label>
                    <select class="form-control" id="cerads" name="cerads">
                        <option value="-" selected>&mdash;</option>
                        {#TODO#}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="ceclin">Clinical Information</label>
                    <textarea class="form-control" id="ceclin" name="ceclin" rows="3"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    {{ f.checkbox("ceofr", "y", "CT Scan Performed at Outside Institution") }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="sbdsd-b">Type of Exam</label>

                    <label class="radio-inline">
                        <input type="radio" name="cetex" id="cetex-b" value="b" required="required"> Baseline
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="cetex" id="cetex-a" value="a" required="required"> Annual Repeat
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="cetex" id="cetex-d" value="d" required="required"> Follow-up (not
                        annual repeat)
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="cectp-l">CT Protocol</label>

                    <label class="radio-inline">
                        <input type="radio" name="cectp" id="cectp-l" value="l" required="required"> Low-Dose CT
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="cectp" id="cectp-d" value="d" required="required"> Standard CT
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="cectp" id="cectp-i" value="i" required="required"> Limited CT
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 form-group">
                    <label for="cectrst">Reconstructed slice thickness (mm)</label>
                    <input type="text" class="form-control" id="cectrst" name="cectrst" required="required"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-3 form-group">
                    <label for="sidoe" class="control-label">Date of Baseline CT</label>
                    {{ f.datepicker("sidoe", true, "Baseline CT date is required") }}
                </div>
                <div class="col-sm-4 col-md-3 form-group">
                    <label for="cedcs" class="control-label">Date of Most Recent Comparative Study</label>
                    {{ f.datepicker("cedcs", true, "Date is required") }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-3 form-group">
                    <div id="cetsb-alert" class="alert alert-info">
                        Time since baseline: <span id="cetsb-text">0</span> months
                    </div>
                    <input type="hidden" class="form-control" id="cetsb" name="cetsb"/>
                </div>
                <div class="col-sm-4 col-md-3 form-group">
                    <label for="cedps" class="control-label">Prior Scans</label>
                    <input type="text" class="form-control" id="cedps" name="cedps" required="required"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="censb" id="censb" value="y">
                            Normal Shortcut</label> <i class="fa fa-question-circle-o" aria-hidden="true"
                                                       data-toggle="popover"
                                                       title="Normal Shortcut"
                                                       data-content="This checkbox provides a quick shortcut for normal or
                                                   near-normal studies.  When the checkbox is checked, the majority of
                                                   the form is automatically completed to indicate the absence of
                                                   abnormal findings. Once checked, the radiologist may modify the form
                                                   to indicate the presence of any abnormalities, without having to
                                                   complete the majority of the form for a near-normal study.
                                                   Note that checking this box may delete values from a partially
                                                   completed form or one that contains pre-existing values (as on a
                                                   repeat study)."></i>

                        <span class="help-block">Short-cut to fill in "no abnormalities" in all the subsequent data
                                values. You can input data values for those which are not negative. See the yellow help button for details.</span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <h4>READ before completing the Nodule Grid</h4>
                        <ul>

                            <li> Include all Parenchymal and Endobronchial Nodules.</li>
                            <li> If # nodules > 20, estimate the correct number and state this is an estimate in the
                                nodule comment field.
                            </li>
                            <li> Note: hilar masses and focal consolidation are considered to be nodules and should
                                be included in the nodule grid.
                            </li>
                            <li> For BASELINE CT, the nodules will automatically be sorted with the largest
                                non-calcified nodule coming first.
                            </li>
                            <li> The same nodule ID will be used on all subsequent CT and other forms. NEW nodules,
                                even if LARGER, must follow nodules already listed.
                            </li>
                            <li> If there are more than 6 nodules, please fill in the grid for any nodule that is 5
                                mm or larger.
                            </li>
                            <li> Nodules classified as probably calcified will not be counted toward the number of
                                non-calcified nodules.
                            </li>
                            <li> For nodules recommended for biopsy or antibiotics, list the reason in the comments
                                field in the corresponding column.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("cenncn", "Total Number of Non-Calcified Nodules") }}
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control" id="cenncn" name="cenncn" required="required"/>
                    <span class="small help-block">list nodules >= 3 mm</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("cennod", "Total Number of Nodules") }}
                </div>

                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control" id="cennod" name="cennod" required="required"/>
                    <span class="small help-block">parenchymal and endobronchial</span>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nodule ID</th>
                                <th>Nodule 1</th>
                                <th>Nodule 2</th>
                                <th>Nodule 3</th>
                                <th>Nodule 4</th>
                                <th>Nodule 5</th>
                                <th>Additional Nodules <select name="cefctn" onChange="bm()" class="form-control">
                                    <option value="6"> Nodule 6</option>
                                    <option value="7"> Nodule 7</option>
                                    <option value="8"> Nodule 8</option>
                                    <option value="9"> Nodule 9</option>
                                    <option value="10"> Nodule 10</option>
                                </select></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set r =  [1,2,3,4,5,0] %}
                            <tr>
                                <td>
                                    Is it new? <i class="fa fa-question-circle-o" aria-hidden="true"
                                                  data-toggle="popover" title="Help" data-content="A pull-down menu
                                                      allows us to note whether a nodule is newly seen, previously seen,
                                                      or seen in retrospect, as well as any change in size. Change
                                                      (increase or decrease) refers to a change in the size of a nodule
                                                      or a change in the solid component of a part-solid nodule. There
                                                      is also an option for nodules that are not included in the scan."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <select name="cect{{ i }}ch" onChange="newStat({{ i }})">
                                            <option value="-"> -
                                            <option value="n"> newly seen</option>
                                            <option value="pn"> prev seen, no change</option>
                                            <option value="pd"> prev seen, slight decr</option>
                                            <option value="pe"> prev seen, marked decr</option>
                                            <option value="pi"> prev seen, slight incr</option>
                                            <option value="pj"> prev seen, marked incr</option>
                                            <option value="po"> prev seen, obscured</option>
                                            <option value="pw"> prev seen, resolved</option>
                                            <option value="px"> prev seen, not a nodule</option>
                                            <option value="pr"> prev seen, resected</option>
                                            <option value="rn"> retrospect, no chg</option>
                                            <option value="rd"> retrospect, decrease</option>
                                            <option value="ri"> retrospect, slight incr</option>
                                            <option value="rj"> retrospect, marked incr</option>
                                            <option value="pk"> not in outside report</option>
                                            <option value="pv"> not included in scan</option>
                                        </select>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Endobronchial? <i class="fa fa-question-circle-o" aria-hidden="true"
                                                      data-toggle="popover" title="Help"
                                                      data-content="It is required that both Endobronchial and Most
                                                          likely location be answered.  If the nodule has both a
                                                          bronchial and parenchymal component, answer both to indicate
                                                          such."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <select name="cect{{ i }}en">
                                            <option value="-"> -</option>
                                            <option value="no"> No</option>
                                            <option value="tr"> Trachea</option>
                                            <option value="rm"> Rt. Main</option>
                                            <option value="lm"> Lt. Main</option>
                                            <option value="bi"> BI</option>
                                            <option value="rul"> RUL</option>
                                            <option value="rml"> RML</option>
                                            <option value="rll"> RLL</option>
                                            <option value="lul"> LUL</option>
                                            <option value="lll"> LLL</option>
                                        </select>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Most Likely Location? <i class="fa fa-question-circle-o" aria-hidden="true"
                                                             data-toggle="popover" title="Help"
                                                             data-content="If a nodule location is different from where it was described to be previously, do not go back and change the location on the previous exams but make sure to make a note of the previously mentioned location in the Comment field (see description below)."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <select name="cect{{ i }}ll">
                                            <option value="-"> -</option>
                                            <option value="end"> Endobr</option>
                                            <option value="lul"> LUL</option>
                                            <option value="lll"> LLL</option>
                                            <option value="rul"> RUL</option>
                                            <option value="rml"> RML</option>
                                            <option value="rll"> RLL</option>
                                        </select>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Distance from the costal pleura (mm)? <i class="fa fa-question-circle-o"
                                                                             aria-hidden="true"
                                                                             data-toggle="popover" title="Help"
                                                                             data-content="The shortest distance from the nodule to the costal pleura should be measured in millimeters."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <input type="text" name="cect{{ i }}pld">
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Length (mm) <i class="fa fa-question-circle-o" aria-hidden="true"
                                                   data-toggle="popover" title="Help"
                                                   data-content="Indicate the length (largest dimension) of the nodule.  The unit of measurement is always millimeters."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <input type="text" name="cect{{ i }}sl" size="4">
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Maximum Width (mm) <i class="fa fa-question-circle-o" aria-hidden="true"
                                                          data-toggle="popover" title="Help"
                                                          data-content="Indicate the maximum width (largest perpendicular dimension to the length) of the nodule.  The unit of measurement is always millimeters."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <input type="text" name="cect{{ i }}sw" size="4">
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Nodule Consistency <i class="fa fa-question-circle-o" aria-hidden="true"
                                                          data-toggle="popover" title="Help"
                                                          data-content="Nodules may be classified into three types by attenuation characteristics: solid - nodule is uniformly solid in appearance; non-solid - nodule is uniformly non-solid (except for blood vessels) in appearance; part-solid - nodule has both solid and non-solid components"></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <select name="cect{{ i }}nt" onChange="newTexture({{ i }})">
                                            <option value="-"> -</option>
                                            <option value="s"> solid</option>
                                            <option value="m"> part-solid</option>
                                            <option value="g"> non-solid</option>
                                            <option value="o"> other (see comment)</option>
                                        </select>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Solid Comp. Length x Width <i class="fa fa-question-circle-o" aria-hidden="true"
                                                                  data-toggle="popover" title="Help"
                                                                  data-content="TODO: ELCAP missing"></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <input type="text" name="cect{{ i }}ssl" disabled="true" size="4">
                                        &nbsp; x &nbsp;
                                        <input type="text" name="cect{{ i }}ssw" disabled="true" size="4">

                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Smooth Edges <i class="fa fa-question-circle-o" aria-hidden="true"
                                                    data-toggle="popover" title="Help"
                                                    data-content="Indicate whether the nodule has a smooth-appearing margin."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            {{ f.inlineRadioNYQ("cect" + i|string + "se") }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Calcifications NOT c/w Benignity <i class="fa fa-question-circle-o"
                                                                        aria-hidden="true"
                                                                        data-toggle="popover" title="Help"
                                                                        data-content="Indicate whether the nodule has regions of calcification that are consistent with benignity.  Nodules that are considered calcified or probably calcified (?), are NOT COUNTED toward the total number of non-calcified nodules, only toward the total number of nodules."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            {{ f.inlineRadioNYQ("cect" + i|string + "ca") }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Spiculations <i class="fa fa-question-circle-o" aria-hidden="true"
                                                    data-toggle="popover" title="Help"
                                                    data-content="Indicate whether the nodule has spiculations or 'pleural tags' connecting it to the pleural surface."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            {{ f.inlineRadio("cect"+i|string+"sp", "cect"+i|string+"sp-n", "n", "absent", true) }}
                                            {{ f.inlineRadio("cect"+i|string+"sp", "cect"+i|string+"sp-y", "y", "present", true) }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Pleural Tags <i class="fa fa-question-circle-o" aria-hidden="true"
                                                    data-toggle="popover" title="Help"
                                                    data-content="Indicate whether the nodule has spiculations or 'pleural tags' connecting it to the pleural surface."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            {{ f.inlineRadio("cect"+i|string+"pt", "cect"+i|string+"pt-n", "n", "absent", true) }}
                                            {{ f.inlineRadio("cect"+i|string+"pt", "cect"+i|string+"pt-y", "y", "present", true) }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Parenchymal Abnormality within 1 cm <i class="fa fa-question-circle-o"
                                                                           aria-hidden="true"
                                                                           data-toggle="popover" title="Help"
                                                                           data-content="Emphysema or other abnormalities (i.e. cysts, scarring, atelectasis, fibrosis, etc.) seen in and throughout the lung parenchyma does not necessarily indicate that 'yes' should be answered here.  Only answer 'yes' if these abnormalities occur in the lung parenchyma within 1 cm of the nodule of interest."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            {{ f.inlineRadioNYQ("cect" + i|string + "pa") }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Nodule seen in series <i class="fa fa-question-circle-o"
                                                             aria-hidden="true"
                                                             data-toggle="popover" title="Help"
                                                             data-content="Indicate the CT series number in which the nodule appears."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            <input type="text" name="cect{{ i }}sn" size="3">
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Nodule seen in images <i class="fa fa-question-circle-o"
                                                             aria-hidden="true"
                                                             data-toggle="popover" title="Help"
                                                             data-content="Indicate the CT image numbers in which the nodule appears."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            <input type="text" name="cect{{ i }}inl" size="3">
                                            -
                                            <input type="text" name="cect{{ i }}inh" size="3">
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Nodule Status <i class="fa fa-question-circle-o"
                                                     aria-hidden="true"
                                                     data-toggle="popover" title="Help"
                                                     data-content="If nodule calcifications are seen ('yes' is selected for Calcifications), 'benign (Ca++)' will automatically appear under Nodule Status.<li> When '?' is selected under Calcifications, Nodule Status will read 'prob benign, prob Ca++' (probably benign, probably calcified).  If the nodule is 'prev seen, resolved,' as noted in the 'Is it new' field, then Nodule Status will automatically read 'resolved.'  When 'prev seen, resected' is selected for 'Is it new', 'Resected-malignant' appears under Nodule Status.  If under 'Is it new' it reads 'not included in scan,' Nodule Status will also read 'not included in scan.'  These automatic entries help to maintain a level of consistency for data entry across institutions."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            <select name="cect{{ i }}st">
                                                <option value="-"> -</option>
                                                <option value="un"> unknown</option>
                                                <option value="bc"> benign (Ca++)</option>
                                                <option value="pc"> prob benign, prob Ca++</option>
                                                <option value="re"> resolved</option>
                                                <option value="rg"> resolving</option>
                                                <option value="tn"> no change - 2 yrs</option>
                                                <option value="pp"> PET - positive</option>
                                                <option value="pn"> PET - negative</option>
                                                <option value="pi"> PET - indeterminate</option>
                                                <option value="ub"> Biopsy - unknown</option>
                                                <option value="bb"> Biopsy - benign</option>
                                                <option value="mb"> Biopsy - malignant</option>
                                                <option value="ab"> Biopsy - atyp bronch prolif</option>
                                                <option value="om"> Biopsy - metastatic</option>
                                                <option value="mr"> Resected - malignant</option>
                                                <option value="br"> Resected - benign</option>
                                            </select>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Action <i class="fa fa-question-circle-o"
                                              aria-hidden="true"
                                              data-toggle="popover" title="Help"
                                              data-content="This field becomes very important when different nodules require different follow-up.  A pull-down menu allows us to choose among six different follow-up actions -    'repeat SCT' (repeat screening CT),    'f/u\ Dx CT' (follow-up Diagnostic CT),    'Abx + f/u Dx CT' (Antibiotic + follow-up Diagnostic CT),    'biopsy',    'bronchoscopy',       or    'resection'."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            <select name="cect{{ i }}ac">
                                                <option value="-"> -</option>
                                                <option value="s"> annual repeat CT</option>
                                                <option value="f"> f/u CT</option>
                                                <option value="a"> Abx + f/u CT</option>
                                                <option value="e"> PET</option>
                                                <option value="c"> CT w contrast</option>
                                                <option value="b"> CT-guided biopsy</option>
                                                <option value="p"> bronchoscopy</option>
                                                <option value="v"> VAT</option>
                                                <option value="r"> resection</option>
                                            </select>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Comment <i class="fa fa-question-circle-o"
                                               aria-hidden="true"
                                               data-toggle="popover" title="Help"
                                               data-content="This field is for additional comments about the nodule.  If a previously seen nodule is found to be something other than a nodule, note it here."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            <input type="text" name="cect{{ i }}co" size="20">
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Pathologic Diagnosis <i class="fa fa-question-circle-o"
                                                            aria-hidden="true"
                                                            data-toggle="popover" title="Help"
                                                            data-content="If a biopsy was previously performed, the diagnosis was chosen from a pull-down menu on the Biopsy form.  When CT evaluation forms are created after the biopsy was done, the 'Pathologic Diagnosis' selected on the Biopsy Form is transferred onto the new CT evaluation Form.  Once a diagnosis has been assigned on the Biopsy Form and it pops up on the CT evaluation form, it CANNOT be changed."></i>
                                </td>
                                {% for i in r %}
                                    <td>
                                        <div class="form-group">
                                            <select name="cect{{ i }}pd">
                                                <option value="-"> -For Pathology Use Only-</option>
                                                <option value="aa"> AAH</option>
                                                <option value="ap"> atyp bronch prolif</option>
                                                <option value="ba"> BAC</option>
                                                <option value="ns"> unspec. non-small cell</option>
                                                <option value="ad"> adenocarcinoma</option>
                                                <option value="as"> adenosquamous</option>
                                                <option value="la"> large cell</option>
                                                <option value="sq"> squamous cell</option>
                                                <option value="sm"> small cell</option>
                                                <option value="ct"> carcinoid - typical</option>
                                                <option value="ca"> carcinoid - atypical</option>
                                                <option value="be"> not malignant</option>
                                                <option value="bs"> benign specific</option>
                                                <option value="os"> other (specify)</option>
                                            </select>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="cennod">Emphysema</label>
                    {{ f.checkbox("ceemv","e","n/v") }}
                    {{ f.inlineRadio("ceem", "ceem-no", "no", "none", true) }}
                    {{ f.inlineRadio("ceem", "ceem-mi", "mi", "mild", true) }}
                    {{ f.inlineRadio("ceem", "ceem-mo", "mo", "moderate", true) }}
                    {{ f.inlineRadio("ceem", "ceem-se", "se", "severe", true) }}
                </div>
            </div>


            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>RUL</th>
                        <th>RML</th>
                        <th>RLL</th>
                        <th>LUL</th>
                        <th>LLL</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set rf = ["rul","rml","rll","lul","lll"] %}
                    <tr>
                        <td>Cysts</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cecbc") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cecbcl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Blebs/Bullae</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cecbb") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cecbbl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Regional or Diffuse Consolidation<br/>
                            <small>(focal - put in nodule grid)</small>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cerdc") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cerdcl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Scarring</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cescr") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cescrl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="2" style="border-top:none;"></td>
                        <td colspan="5" style="border-top:none;">
                            <div class="form-group form-inline">
                                <label>apical</label>&nbsp;
                                {{ f.checkbox("cescrl6","au","unilateral") }}
                                {{ f.checkbox("cescrl7","ab","bilateral") }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Bronchiectasis</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cebrsb") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cebrsbl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td>Small Airways Disease</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cebrss") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cebrssl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Post-surgical findings<br/>
                            <small>(i.e. bronchial resection margin)</small>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadio("cebs", "cebs-n","n","N/A",true) }}
                                {{ f.inlineRadio("cebs", "cebs-o","o","Normal",true) }}
                                {{ f.inlineRadio("cebs", "cebs-y","y","Abnormal",true) }}
                                {{ f.inlineRadio("cebs", "cebs-e","e","n/v",true) }}
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="form-group form-inline">
                                {{ f.checkbox("cebsrt", "r", "Right") }}
                                &nbsp;
                                {{ f.checkbox("cebslt", "l", "Left") }}
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="7"><strong>Early and Late Findings of Interstitial Lung Disease</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>Traction bronchiectasis in a peripheral location</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cerb") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cerbl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td>Peripheral Ground-glass Opacities</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cepgo") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cepgol"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td>Reticulations</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceret") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("ceretl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td>Honeycombing</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cephc") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cephcl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td colspan="7">
                            <div class="form-group">
                                <label>Additional Comments on Parenchymal Abnormalities</label>
                                <textarea name="ceoppa" id="ceoppa" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="7"><strong>Pleural or pleural-related Abnormalities</strong></td>
                    </tr>
                    <tr>
                        <td>Pleural Thickening/Plaques</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cept") }}
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceptrt", "r", "Right") }}
                                &nbsp;
                                {{ f.checkbox("ceptlt", "l", "Left") }}
                                &nbsp;
                                {{ f.checkbox("ceptct", "c", "Calcification") }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Rounded Atelectasis</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cebatr") }}
                            </div>
                        </td>
                        {% for i in [1,2,3,4,5] %}
                            <td style="padding-top:0px;">
                                {{ f.checkbox("cebatrl"+i|string, rf[i-1], "") }}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td>Rounded Atelectasis</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadio("cepev", "cepev-e","e","n/v",true) }}
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="form-group pull-left">
                                <label>Right</label>
                                <select name="ceper" class="form-control" required="required">
                                    <option value="-"> -</option>
                                    <option value="no"> none</option>
                                    <option value="sm"> small</option>
                                    <option value="mo"> moderate</option>
                                    <option value="lg"> large</option>
                                </select>
                            </div>

                            <div class="form-group pull-left">
                                <label>Left</label>
                                <select name="cepel" class="form-control" required="required">
                                    <option value="-"> -</option>
                                    <option value="no"> none</option>
                                    <option value="sm"> small</option>
                                    <option value="mo"> moderate</option>
                                    <option value="lg"> large</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Pleural Tumor</td>
                        <td colspan="6">
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cepu") }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div class="form-group">
                                <label>Describe Pleural Abnormalities</label>
                                <textarea name="ceoppab" id="ceoppab" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            {# CARDIAC ABNORMALITIES #}
            <hr/>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="cennod-n">Cardiac Abnormalities</label>
                    <div>
                        {{ f.inlineRadioNYE("ceca") }}
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Coronary Calcification</td>
                        <td>{{ f.checkbox("ceccv","e","n/v") }}</td>
                        <td>
                            <div class="form-group">
                                <label for="cecclm">Left Main</label>
                                <select name="cecclm" id="cecclm" class="form-control">
                                    <option value="-"> -</option>
                                    <option value="no"> none</option>
                                    <option value="mi"> minimal</option>
                                    <option value="mo"> moderate</option>
                                    <option value="ex"> extensive</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label for="ceccld">LAD</label>
                                <select name="ceccld" id="ceccld" class="form-control">
                                    <option value="-"> -</option>
                                    <option value="no"> none</option>
                                    <option value="mi"> minimal</option>
                                    <option value="mo"> moderate</option>
                                    <option value="ex"> extensive</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label for="cecccf">Circumflex</label>
                                <select name="cecccf" id="cecccf" class="form-control">
                                    <option value="-"> -</option>
                                    <option value="no"> none</option>
                                    <option value="mi"> minimal</option>
                                    <option value="mo"> moderate</option>
                                    <option value="ex"> extensive</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label for="ceccrc">RCA</label>
                                <select name="ceccrc" id="ceccrc" class="form-control">
                                    <option value="-"> -</option>
                                    <option value="no"> none</option>
                                    <option value="mi"> minimal</option>
                                    <option value="mo"> moderate</option>
                                    <option value="ex"> extensive</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">Visual CAC Score<br/>
                            <small>(Coronary Artery Calcium)</small>
                        </td>
                        <td colspan="5">
                            {# TODO change field to read-only text, like Age in background form #}
                            <span id="cecccac-text"></span>
                            <input type="hidden" name="cecccac" id="cecccac">
                        </td>
                    </tr>

                    <tr>
                        <td>Aortic Calcification</td>
                        <td>{{ f.checkbox("ceccav","e","n/v") }}</td>
                        <td colspan="5">
                            <select name="cecca" class="form-control">
                                <option value="-"> -</option>
                                <option value="no"> none</option>
                                <option value="mi"> minimal</option>
                                <option value="mo"> moderate</option>
                                <option value="ex"> extensive</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Pericardial Effusion</td>
                        <td>{{ f.checkbox("ceprev","e","n/v") }}</td>
                        <td colspan="5">
                            <div class="form-group">
                                <label for="ceprevm">Severity</label>
                                <select name="ceprevm" id="ceprevm" class="form-control">
                                    <option value="-"> -</option>
                                    <option value="no"> none</option>
                                    <option value="mi"> minimal</option>
                                    <option value="mo"> moderate</option>
                                    <option value="ex"> marked</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">Pulmonary Artery Width (mm)</td>
                        <td colspan="5">
                            <input type="text" name="cepaw" size="4" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">Ascending Aorta Width (mm)</td>
                        <td colspan="5">
                            <input type="text" name="ceaow" size="4" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">Pulmonary Artery/Aorta Ratio<br/>
                            <small>(calculated)</small>
                        </td>
                        <td colspan="5">
                            {# TODO change field to read-only text, like Age in background form #}
                            <input type="text" name="cepar" onFocus="this.blur()" size="4" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div class="form-group">
                                <label>Additional Comments on Cardiac Abnormalities</label>
                                <textarea name="cecommca" id="cecommca" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            {# Neck and Mediastinal Abnormalities #}
            <hr/>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="ceoba-n">Neck and Mediastinal Abnormalities</label>
                    <div>
                        {{ f.inlineRadioNYE("ceoma") }}
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Thyroid</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceccv") }}
                            </div>
                        </td>
                        <td style="padding-top:0px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceatc","c","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceaty","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceatm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceato","o","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceatos" id="ceatos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Thymus<br/>
                            <small>(report if ovoid &gt; 7 mm or if thymic shape with width &gt; 1.3cm)</small>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceaya") }}
                            </div>
                        </td>
                        <td style="padding-top:0px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceayc","c","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceayy","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceaym","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceayo","o","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceayos" id="ceayos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"><strong>Lymph Nodes
                            <small>(w/o central fat)</small>
                        </strong></td>
                    </tr>

                    <tr>
                        <td>
                            Any enlarged or growing hilar or mediastinal lymph nodes<br/>
                            <small>(short axis &gt; 10mm)<br/>
                                <strong>(any size for para-esophageal)</strong></small>
                        </td>
                        <td>
                            <div class="form-group form-inline">
                                {{ f.inlineRadioNYE("cemln") }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>Level</label>
                                {{ f.checkbox("cemlnl1","N1","N1 (high mediastinal)") }}
                                {{ f.checkbox("cemlnl2r","N2R","N2R") }}
                                {{ f.checkbox("cemlnl2l","N2L","N2L (upper paratracheal)") }}
                                {{ f.checkbox("cemlnl3","N3","N3 (prevascular,retrotracheal)") }}
                                {{ f.checkbox("cemlnl4r","N4R","N4R") }}
                                {{ f.checkbox("cemlnl4l","N4L","N4L (lower paratracheal)") }}
                                {{ f.checkbox("cemlnl5","N5","N5 (subaortic (A-P window))") }}
                                {{ f.checkbox("cemlnl6","N6","N6 (para-aortic)") }}
                                {{ f.checkbox("cemlnl7","N7","N7 (subcarinal)") }}
                                {{ f.checkbox("cemlnl8","N8","N8 (para-esophageal), any size") }}
                                {{ f.checkbox("cemlnl9","N9","N9 (pulmonary ligament)") }}
                                {{ f.checkbox("cemlnl10r","N10R","N10R") }}
                                {{ f.checkbox("cemlnl10l","N10L","N10L (hilar)") }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Any calcified hilar or mediastinal lymph nodes</td>
                        <td colspan="2">
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cemlncab") }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Axillary lymph nodes</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceagaln") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceagalnrt","r","Right") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceagalnlt","l","Left") }}&nbsp;&nbsp;
                                <input type="text" name="ceagalns" id="ceagalns" class="form-control"
                                       required="required" placeholder="Specify">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Other Vascular Abnormalities</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cemva") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("cemvaa","a","Aorta") }}&nbsp;&nbsp;
                                {{ f.checkbox("cemvap","w","Pulmonary arteries") }}&nbsp;&nbsp;
                                {{ f.checkbox("cemvao","o","Other") }}&nbsp;&nbsp;
                                <input type="text" name="cemvaos" id="cemvaos" class="form-control"
                                       required="required" placeholder="Specify">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Esophageal</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cemeln") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("cemelna","a","Air-fluid level") }}&nbsp;&nbsp;
                                {{ f.checkbox("cemelnw","w","Wall thickening") }}&nbsp;&nbsp;
                                {{ f.checkbox("cemelnm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("cemvlno","o","Other") }}&nbsp;&nbsp;
                                <input type="text" name="cemelnos" id="cemelnos" class="form-control"
                                       required="required" placeholder="Specify">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Hiatal Hernia</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("cehhn") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                <input type="text" name="cehhnos" id="cehhnos" class="form-control"
                                       required="required" placeholder="Specify">
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>Other Mediastinal Masses</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceomm") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceamc","v","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceamy","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceamm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceamo","o","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceommos" id="ceommos" class="form-control"
                                       required="required" placeholder="Specify">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="form-group">
                                <label for="ceotabnm">Additional Comments on Neck and Mediastinal
                                    Abnormalities</label>
                                <textarea name="ceotabnm" id="ceotabnm" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            {# Breast Abnormalities #}
            <hr/>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="ceoba-n">Breast Abnormalities</label>
                    <div>
                        {{ f.inlineRadioNYE("ceoba") }}
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Right Breast</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceara") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceobarc","c","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceobary","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceobarm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceobaro","o","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceobaros" id="ceobaros" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Right Breast Density Classification (BI-RADS)</td>
                        <td>
                            <div class="form-group">
                                <select name="ceobard" class="form-control">
                                    <option value="-" SELECTED> -</option>
                                    <option value="1"> 1 - almost entirely fatty</option>
                                    <option value="2"> 2 - scattered areas of fibroglandular density</option>
                                    <option value="3"> 3 - heterogeneously dense</option>
                                    <option value="4"> 4 - extremely dense</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Left Breast</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceafa") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceobafc","c","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceobafy","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceobafm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceobafo","o","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceobafos" id="ceobafos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Left Breast Density Classification (BI-RADS)</td>
                        <td>
                            <div class="form-group">
                                <select name="ceobald" class="form-control">
                                    <option value="-" SELECTED> -</option>
                                    <option value="1"> 1 - almost entirely fatty</option>
                                    <option value="2"> 2 - scattered areas of fibroglandular density</option>
                                    <option value="3"> 3 - heterogeneously dense</option>
                                    <option value="4"> 4 - extremely dense</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="form-group">
                                <label for="ceobrc">Additional Comments on Breast Abnormalities</label>
                                <textarea name="ceobrc" id="ceobrc" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            {# Abdominal Abnormalities #}
            <hr/>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="ceoaa-n">Abdominal Abnormalities</label>
                    <div>
                        {{ f.inlineRadioNYE("ceoaa") }}
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <tbody>

                    <tr>
                        <td>Gall Bladder</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceaga") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceagh","h","Cholecystectomy") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceags","s","Stones") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceagl","l","Sludge") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceago","y","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceagos" id="ceagos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Spleen</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceasa") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceasc","y","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceasy","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceasm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceaso","y","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceasos" id="ceasos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Liver</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceala") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("cealc","y","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("cealy","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("cealm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("cealh","h","HU < 40") }}&nbsp;&nbsp;
                                {{ f.checkbox("cealo","y","Other") }}&nbsp;&nbsp;
                                <input type="text" name="cealos" id="cealos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>Pancreas</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceapa") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceapc","y","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceapy","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceapm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceapo","y","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceapos" id="ceapos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Adrenals</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceaaa") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceaac","y","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceaay","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceaam","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceaao","y","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceaaos" id="ceaaos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Kidneys</td>
                        <td>
                            <div class="form-group">
                                {{ f.inlineRadioNYE("ceaka") }}
                            </div>
                        </td>
                        <td style="padding-top:1px;">
                            <div class="form-group form-inline">
                                {{ f.checkbox("ceakc","y","Calcification") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceaky","y","Cyst") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceakm","m","Mass") }}&nbsp;&nbsp;
                                {{ f.checkbox("ceako","y","Other") }}&nbsp;&nbsp;
                                <input type="text" name="ceakos" id="ceakos" class="form-control" required="required"
                                       placeholder="Specify">
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td colspan="3">
                            <div class="form-group">
                                <label for="ceaoab">Additional Comments on Abdominal Abnormalities</label>
                                <textarea name="ceaoab" id="ceaoab" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            {# Bone Abnormalities #}
            <hr/>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="ceaba-n">Bone Abnormalities</label>
                    <div>
                        {{ f.inlineRadioNYE("ceaba") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="ceaoabb">Specify Bone Abnormalities</label>
                    <textarea name="ceaoabb" id="ceaoabb" class="form-control"></textarea>
                </div>
            </div>

            <hr/>
            <h3>Follow Up</h3>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="cefu">Follow-up:</label>
                    <select name="cefu" id="cefu" class="form-control">
                        <option value="-"> -</option>
                        <option value="rs"> annual repeat CT</option>
                        <option value="dx"> f/u CT</option>
                        <option value="af"> Abx + f/u CT</option>
                        <option value="pe"> PET</option>
                        <option value="cc"> CT w contrast</option>
                        <option value="fn"> CT-guided biopsy</option>
                        <option value="br"> bronchoscopy</option>
                        <option value="va"> VAT</option>
                        <option value="su"> resection</option>
                        <option value="nf"> no further follow-up</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="cefu">When:</label><br/>
                    {{ f.inlineRadio("cefuw", "cefuw-nw","nw","now") }}
                    {{ f.inlineRadio("cefuw", "cefuw-1m","1m","1 month") }}
                    {{ f.inlineRadio("cefuw", "cefuw-3m","3m","3 months") }}
                    {{ f.inlineRadio("cefuw", "cefuw-6m","6m","6 months") }}
                    {{ f.inlineRadio("cefuw", "cefuw-1y","1y","1 year") }}
                    {{ f.inlineRadio("cefuw", "cefuw-os","os","other") }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-2 form-group">
                    <label for="cefu">Follow-up Date:</label><br/>
                    {{ f.datepicker("cefud", null, "Follow up date is required") }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    {{ f.checkbox("cefusa", "y", "Special Attention") }}
                </div>
            </div>


            <hr/>
            <h3>Impression</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info">Annual repeat and follow-up CT scans should utilize the same
                        low-dose protocol used for baseline low-dose CT scans.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <strong>Nodules</strong>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimn" id="ceimn-rs" value="rs"> No evidence of nodules.
                            Follow-up as recommended above.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimn" id="ceimn-ro" value="ro"> Nodule(s) as described
                            above. Consistent with old granulomatous disease.
                            Follow-up as recommended above.
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimn" id="ceimn-ru" value="ru"> Nodule(s) unchanged, as
                            described above. Follow-up as recommended above.
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimn" id="ceimn-nf" value="nf"> Nodule(s) as described
                            above. Follow-up as recommended above.
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <strong>Other Findings</strong>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimo" id="ceimo-no" value="no"> No other abnormalities.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimo" id="ceimn-oa" value="oa"> Other abnormalities and
                            suggested follow-up as described above.
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="ceimre">Impression Remarks</label>
                    <textarea name="ceimre" id="ceimre" class="form-control"></textarea>
                </div>
            </div>


            <hr/>
            <h3>Image Quality Scale</h3>
            <p>
                Please indicate the cause(s) for the image quality problem if images were not satisfactory.<BR>
                1 = Satisfactory <BR>
                2 = Minor problem(s) not affecting the reading <BR>
                3 = Quality affects the reading but is acceptable (Does not have to be redone)
                <BR>
                4 = Not acceptable (Unreadable; may need to be redone)
            </p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><label for="cetsql">Lung Parenchyma:</label></td>
                        <td>
                            <select name="cetsql" id="cetsql" class="form-control">
                                <option value="1"> 1</option>
                                <option value="2"> 2</option>
                                <option value="3"> 3</option>
                                <option value="4"> 4</option>
                            </select>
                        </td>
                        <td>
                            {{ f.checkbox("cetdqlh","h","Patient body habitus") }}
                        </td>
                        <td>
                            {{ f.checkbox("cetdqlm","m","Patient movement") }}
                        </td>
                        <td>
                            {{ f.checkbox("cetdqli","i","Insufficient inhalation") }}
                        </td>
                        <td>
                            {{ f.checkbox("cetdqlo","o","Other (specify)") }}
                        </td>
                        <td>
                            <input type="text" name="cetsqlos" id="cetsqlos" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cetsqm">Mediastinum/Abdomen:</label></td>
                        <td>
                            <select name="cetsqm" id="cetsqm" class="form-control">
                                <option value="1"> 1</option>
                                <option value="2"> 2</option>
                                <option value="3"> 3</option>
                                <option value="4"> 4</option>
                            </select>
                        </td>
                        <td>
                            {{ f.checkbox("cetdqmh","h","Patient body habitus") }}
                        </td>
                        <td>
                            {{ f.checkbox("cetdqmm","m","Patient movement") }}
                        </td>
                        <td>
                            {{ f.checkbox("cetdqmi","i","Insufficient inhalation") }}
                        </td>
                        <td>
                            {{ f.checkbox("cetdqmo","o","Other (specify)") }}
                        </td>
                        <td>
                            <input type="text" name="cetsqmos" id="cetsqmos" class="form-control"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr/>

            <div class="row">
                <div class="col-sm-2">
                    {{ f.checkbox("cecoi","y","Case of Interest") }}
                </div>
                <div class="col-sm-10 form-group">
                    <label for="cecoico">Comments</label>
                    <input type="text" name="cecoico" id="cecoico" class="form-control">
                </div>
            </div>
            <div class="pull-right">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script language="JavaScript">

        //calculate Time Since Baseline (TSB)
        function calculateTimeSinceBaseline() {
            var baselineDateString = $("#sidoe").val();
            var studyDateString = $("#cedos").val();
            if (baselineDateString && studyDateString) {
                var baselineDate = moment(baselineDateString, VAPALS.DATE_FORMAT);
                var studyDate = moment(studyDateString, VAPALS.DATE_FORMAT);
                if (baselineDate.isValid() && studyDate.isValid()) {
                    var months = parseInt(studyDate.diff(baselineDate, "months", true))
                    $("#cetsb-text").text(months)
                    $("#cetsb").val(months);
                }
                else {
                    $("#cetsb-text").text("error")
                }
            }
        }

        function calculateVisualCacScore() {
            var res = 0;
            console.log("calculateVisualCacScore")

            var coronaryCalcification = $("#ceca").val() == "y";
            if (coronaryCalcification) {
                cal1 = $("#cecclm")[0].selectedIndex;
                cal2 = $("#ceccld")[0].selectedIndex;
                cal3 = $("#cecccf")[0].selectedIndex;
                cal4 = $("#ceccrc")[0].selectedIndex;
                if (cal1 > 0) cal1 = cal1 - 1;
                if (cal2 > 0) cal2 = cal2 - 1;
                if (cal3 > 0) cal3 = cal3 - 1;
                if (cal4 > 0) cal4 = cal4 - 1;
                res = cal1 + cal2 + cal3 + cal4;
                console.log(res)
                $("#cecccac").val(res);
                $("#cecccac-text").text(res);
            }
            if (res > 0) {
                $("ceca").val("y");
            }
            else {
                $("ceca").val("n");
            }
        }

        $(function () {
            // bind to change events on study date and baseline date to calculate "time since baseline"
            var $tsbFields = $("#sidoe, #cedos");
            $tsbFields.closest(".datepicker").on("dp.change", calculateTimeSinceBaseline); //latch onto datetimepicker change events
            $tsbFields.first().trigger("change"); //trigger on page load for existing data;

            //bind CAC Score
            {#$("#cecclm, #ceccld, #cecccf, #ceccrc").on('change', calculateVisualCacScore)#}

        });

    </script>

{% endblock %}