{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>{{ title | escape }}
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <hr/>
        <form action="{{ formPage+".html" if mockup else "/vapals" }}" method="{{ formMethod }}" class="validated"
              id="main-form">

            <input type="hidden" name="samiroute" value="postform"/>
            <input type="hidden" name="studyid" value="@@SID@@"/>
            <input type="hidden" name="form" value="@@FORMKEY@@"/>
            <div class="row">
                <div class="form-group col-sm-3 col-md-3 col-lg-2">
                    <label class="required" for="sidof">Follow-up date</label>
                    {{ f.datepicker("sidof", "future", "Follow up date is required") }}
                </div>
                <div class="form-group col-sm-3 col-md-3 col-lg-2">
                    <label class="required" for="sidoe">Date of baseline CT</label>
                    {{ f.datepicker("sidoe", "past", "Date of baseline CT is required") }}
                </div>


                <div class="col-sm-4 col-md-3 form-group">
                    <label class="required" for="sico">Coordinator</label>
                    <input type="text" name="sico" id="sico" class="form-control" required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div id="sitsb-alert" class="alert alert-info" style="display: none;">
                        Time since baseline: <span id="sitsb-text">0</span> months
                    </div>
                    <input type="hidden" class="form-control" id="sitsb" name="sitsb"/>
                </div>
            </div>

            <hr/>

            <h3>Ordering Information</h3>
            <div class="alert alert-warning">Ordering information is required <strong>ONLY</strong> for
                Medicare/Medicaid patients.
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('simeq-n', 'Was a CT lung screening scan ordered for this patient?', "required") }}
                </div>
                <div class="form-group col-sm-8">
                    <div>
                        {{ f.inlineRadio("simeq", "simeq-n", "n", "No", true) }}
                        {{ f.inlineRadio("simeq", "simeq-y", "y", "Yes", true) }}
                    </div>
                </div>
            </div>
            <div id="order-container">
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siopln', 'Ordered by') }}
                    </div>
                    <div class="col-md-4 form-group">
                        <input type=text name="siopfn" id="siopfn" class="form-control">
                        <span class="help-block small">First Name</span>
                    </div>
                    <div class="col-md-4 form-group">
                        <input type=text name="siopln" id="siopln" class="form-control">
                        <span class="help-block small">Last Name</span>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siopnpi', 'National provider ID (NPI)', "required") }}
                    </div>
                    <div class="col-sm-2 form-group">
                        <input type=text name="siopnpi" id="siopnpi" class="form-control numeric" required="required">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sidsd-n', 'Documentation of shared decision making' ,"required") }}
                    </div>
                    <div class="col-sm-8 form-group">
                        {{ f.inlineRadio("sidsd", "sidsd-n", "n", "No", true) }}
                        {{ f.inlineRadio("sidsd", "sidsd-y", "y", "Yes", true) }}
                        <p class="help-block small">(shared decision making is required for reimbursement for G0297
                            exams on baseline <strong>only</strong>)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siopss-c', 'Reported smoking status at time of order', "required") }}
                    </div>
                    <div class="col-sm-8 form-group">
                        {{ f.inlineRadio("siopss", "siopss-c", "c", "Current", true) }}
                        {{ f.inlineRadio("siopss", "siopss-f", "f", "Former", true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siopqy', 'Reported pack years at time of order',"required") }}
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" name="sioppy" id="sioppy" class="form-control numeric decimalformat"
                               required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siopqy', 'Reported years since quit at time of order') }}
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" name="siopqy" id="siopqy" class="form-control numeric decimalformat"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sioas', 'Reported asymptomatic for lung cancer at time of order', "required") }}
                    </div>
                    <div class="col-md-8 form-group">
                        {{ f.inlineRadio("sioas", "sioas-n", "n", "No", true) }}
                        {{ f.inlineRadio("sioas", "sioas-y", "y", "Yes", true) }}
                    </div>
                </div>
                <hr/>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siopci', 'Clinical Information', "required") }}
                </div>
                <div class="col-md-8 form-group">
                    <textarea class="form-control" id="siopci" name="siopci" rows="3" required="required"></textarea>
                    <small class="form-text text-muted">information will be copied to CT report</small>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siabx-n', 'Have you taken antibiotics since your last CT scan?', "required") }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("siabx", "siabx-n", "n", "No", true) }}
                    {{ f.inlineRadio("siabx", "siabx-y", "y", "Yes", true) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siaex-n', 'Is this an annual CT scan?', "required") }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("siaex", "siaex-n", "n", "No", true) }}
                    {{ f.inlineRadio("siaex", "siaex-y", "y", "Yes", true) }}
                </div>
            </div>


            <hr/>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('sisse-1', 'Which year did you last have a prolonged exposure to secondhand tobacco smoke?', "required") }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("sisse", "sisse-1", "1", "Less than 5 years ago", true) }}
                    {{ f.inlineRadio("sisse", "sisse-5", "5", "More than 5 years ago", true) }}
                    {{ f.inlineRadio("sisse", "sisse-10", "10", "More than 10 years ago", true) }}
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siwc-b', 'During the past year, have you experienced any of these symptoms?') }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.checkbox("siwcb", "b", "Cough producing bloody material") }}
                    {{ f.checkbox("siwcl", "l", "Unexplained weight loss greater than 20 lbs") }}
                    {{ f.checkbox("siwch", "h", "Unexplained hoarseness") }}
                    {{ f.checkbox("siwco", "o", "Other") }}
                    <input type="text" class="form-control input-sm" id="siwcos" name="siwcos" required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siwcp-n', 'If yes, have you seen a physician for this?') }}
                </div>
                <div class="col-md-2 form-group">
                    {{ f.inlineRadio("siwcp", "siwcp-n", "n", "No") }}
                    {{ f.inlineRadio("siwcp", "siwcp-y", "y", "Yes") }}
                </div>
                <div class="col-md-6 form-group" id="siwcw-container">
                    <label class="control-label" for="siwcw">Whom?</label>
                    <input type="text" id="siwcw" name="siwcw" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siwcp-n', 'If yes, are you now experiencing them?') }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("siwcn", "siwcn-n", "n", "No") }}
                    {{ f.inlineRadio("siwcn", "siwcn-y", "y", "Yes") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siact', 'When did you most recently have a chest CT?') }}
                </div>
                <div class="col-md-8 form-group">
                    <select id="siact" name="siact" class="form-control">
                        <option value="-"> -
                        <option value="a"> Less than 6 months ago
                        <option value="b"> 6-18 months ago
                        <option value="f"> 18 months to 3 years ago
                        <option value="c"> 3 years to 5 years ago
                        <option value="d"> Over 5 years ago
                        <option value="e"> Never
                    </select>
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="col-md-4 col-lg-6">
                    {{ f.floatingLabel('siho-n', 'Have you been hospitalized in the past year?', "required") }}
                </div>
                <div class="col-md-2 form-group">
                    {{ f.inlineRadio("siho", "siho-n", "n", "No", true) }}
                    {{ f.inlineRadio("siho", "siho-y", "y", "Yes", true) }}
                </div>
                <div class="col-md-6 col-lg-4" id="siho-container">
                    <div class="form-group">
                        <label for="sihow" class="control-label">For what?</label>
                        <input type=text id="sihow" name="sihow" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sihod">When?</label>
                        {{ f.yearpicker("sihod") }}
                    </div>
                    <div class="form-group">
                        <label for="sihol">Where?</label>
                        <input type=text id="sihol" name="sihol" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-6">
                    {{ f.floatingLabel('sicd-n', 'Have you had a diagnosis of cancer in the past year?', "required") }}
                </div>
                <div class="col-md-2 form-group">
                    {{ f.inlineRadio("sicd", "sicd-n", "n", "No", true) }}
                    {{ f.inlineRadio("sicd", "sicd-y", "y", "Yes", true) }}
                </div>
                <div class="col-md-6 col-lg-4" id="sicd-container">
                    <div class="form-group">
                        <label for="sicdl" class="control-label">What part of the body?</label>
                        <select id="sicdl" name="sicdl" class="form-control">
                            <option value="-"> -
                            <option value="br"> Breast
                            <option value="co"> Colon / rectum
                            <option value="li"> Liver
                            <option value="lu"> Lung / bronchus
                            <option value="ov"> Ovary
                            <option value="pa"> Pancreas
                            <option value="pr"> Prostate
                            <option value="sk"> Skin
                            <option value="st"> Stomach
                            <option value="ut"> Uterus
                            <option value="os"> Other (specify)
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sicdls">Other?</label>
                        <input type=text id="sicdls" name="sicdls" class="form-control input-sm">
                    </div>
                    <div class="form-group">
                        <label for="sicdd">When were you diagnosed?</label>
                        {{ f.datepicker("sicdd", "past") }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-6">
                    {{ f.floatingLabel('silcs-n', 'If lung cancer has been diagnosed, have you had surgery?', "required") }}
                </div>
                <div class="col-md-2 form-group">
                    {{ f.inlineRadio("silcs", "silcs-n", "n", "No", true) }}
                    {{ f.inlineRadio("silcs", "silcs-y", "y", "Yes", true) }}
                </div>
                <div class="col-md-6 col-lg-4" id="silcs-container">
                    <div class="form-group">
                        <label for="silcsd">When?</label>
                        {{ f.datepicker("silcsd", "past") }}
                    </div>
                    <div class="form-group">
                        <label for="silcsl">Where?</label>
                        <input type=text id="silcsl" name="silcsl" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-6">
                    {{ f.floatingLabel('sier-n', 'If a lung cancer has been removed, is there evidence of recurrence?', "required") }}
                </div>
                <div class="col-md-2 form-group">
                    {{ f.inlineRadio("sier", "sier-n", "n", "No", true) }}
                    {{ f.inlineRadio("sier", "sier-y", "y", "Yes", true) }}
                </div>
                <div class="col-md-6 col-lg-4" id="sier-container">
                    <div class="form-group">
                        <label for="sierd">Describe</label>
                        <input type=text id="sierd" name="sierd" class="form-control">
                    </div>
                </div>
            </div>


            <h3>Smoking</h3>


            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('sisa-n', 'Over the past month, have you smoked cigarettes at all, even a puff?', "required") }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("sisa", "sisa-n", "n", "No", true) }}
                    {{ f.inlineRadio("sisa", "sisa-y", "y", "Yes", true) }}
                    {{ f.inlineRadio("sisa", "sisa-o", "o", "Never smoked", true) }}
                </div>
            </div>

            <div id="sisa-container-y">
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sidpw', 'On average, on how many days per week are you currently smoking cigarettes?') }}
                    </div>
                    <div class="col-md-1 form-group">
                        <input type=text id="sierd" name="sierd" class="form-control numeric decimalformat">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sippd', 'On average, on the days that you are smoking cigarettes, how many packs of cigarettes are you currently smoking per day (PPD)?') }}
                    </div>
                    <div class="col-md-1 form-group">
                        <input type=text id="sippd" name="sippd" class="form-control numeric decimalformat">
                    </div>
                </div>
            </div>
            <div id="sisa-container-n">
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sidlcd', 'When was the date of your last cigarette?') }}
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="float:left;">
                            <select class="form-control input-sm" id="sidlcd" name="sidlcd"
                                    title="Last cigarette day">
                                <option value="-" selected>&mdash;</option>
                                {% for i in range(0,31) %}
                                    <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                                {% endfor %}
                            </select>
                            <span class="small text-muted">Day</span>
                        </div>
                        <div class="form-group" style="float:left;">
                            <select class="form-control input-sm" id="sidlcm" name="sidlcm"
                                    title="Last cigarette month">
                                <option value="-" selected>&mdash;</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                            <span class="small text-muted">Month</span>
                        </div>

                        <div class="form-group" style="float:left;">
                            {{ f.yearpicker("sidlcy", false, true, "Year") }}

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('sittq-n', 'Since your prior CT scan, have you ever tried to quit smoking?', "required") }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("sittq", "sittq-n", "n", "No", true) }}
                    {{ f.inlineRadio("sittq", "sittq-y", "y", "Yes", true) }}
                    {{ f.inlineRadio("sittq", "sittq-o", "o", "N/A", true) }}
                </div>
            </div>

            <div class="row" id="sittq-container">
                <div class="col-md-4">
                    {{ f.floatingLabel('sittqt', 'How many times have you quit smoking for at least 24 hours?') }}
                </div>
                <div class="col-md-1 form-group">
                    <input type=text id="sittqt" name="sittqt" class="form-control numeric">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{ f.floatingLabel('', 'Since your prior CT scan, what, if any, smoking cessation methods have you used?') }}

                </div>

                <div class="col-sm-8 form-group">
                    {{ f.checkbox("sisca", "a","Have not tried to quit") }}
                    {{ f.checkbox("siscb", "b","\"Cold Turkey\" by completely stopping on your own with no other assistance") }}
                    {{ f.checkbox("siscc", "c","Tapering or reducing number of cigarettes smoked per day") }}
                    {{ f.checkbox("siscd", "d","Self-help material (e.g., brochure, cessation website)") }}
                    {{ f.checkbox("sisce", "e","Individual consultation or cessation counseling") }}
                    {{ f.checkbox("siscf", "f","Telephone cessation counseling hotline (e.g., NY Smokers' Quitline)") }}
                    {{ f.checkbox("siscg", "g","Peer support (e.g., Nicotine Anonymous)") }}
                    {{ f.checkbox("sisch", "h","Nicotine replacement therapy (e.g., patch, gum, inhaler, nasal spray, lozenge)") }}
                    {{ f.checkbox("sisci", "i","Zyban") }}
                    {{ f.checkbox("siscj", "j","Hypnosis") }}
                    {{ f.checkbox("sisck", "k","Acupuncture / acupressure") }}
                    {{ f.checkbox("siscl", "l","Other (specify)") }}
                    <input type="text" class="form-control input-sm" id="siscos" name="siscos" required="required"/>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siqst', 'Are you seriously thinking of quitting smoking?') }}
                </div>
                <div class="col-md-8 form-group">
                    <select id="siqst" name="siqst" class="form-control">
                        <option value="-"> -
                        <option value="y"> Yes, within the next 30 days
                        <option value="m"> Yes, within the next 6 months
                        <option value="n"> No, not thinking of quitting
                        <option value="o"> N/A
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('sicpd-n', 'Smoking cessation materials were distributed to subject?', "required") }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("sicpd", "sittq-n", "n", "No", true) }}
                    {{ f.inlineRadio("sicpd", "sittq-y", "y", "Yes", true) }}
                </div>
            </div>
            <div class="pull-left">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
            <div class="pull-right">
                <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
            </div>
        </form>
    </div>

    {{ f.deleteFormModal("followup.html", mockup, formMethod) }}
{% endblock %}

{% block script %}
    <script language="JavaScript">
        function createFormValidator() {

            const $form = $('#main-form');
            const thisYear = VAPALS.todaysYear();
            const minYear = thisYear - 100;
            const yearValidationMessage = 'Must be between ' + minYear + ' and ' + thisYear;

            // for certain validators that use multiple inputs like checkboxes and radio groups, change the location
            // of the error icon to be based on the form-group element, instead of being immediately adjacent to the
            // first control in that group
            const multiInputValidators = ['simeq', 'siabx', 'siaex', 'sisse', 'siho', 'sicd', 'silcs', 'sier', 'sisa', 'sittq', 'sicpd'];

            $form.formValidation({
                    fields: {
                        // SCAN
                        sidof: {
                            validators: {
                                notEmpty: {message: 'Follow-up date is required'},
                                date: {min: VAPALS.todaysDate(), message: 'Follow-up date must not be in the past'}
                            }
                        },
                        sidoe: {
                            validators: {
                                notEmpty: {message: 'Baseline date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Baseline date must not be in the future'}
                            }
                        },
                        sico: {validators: {notEmpty: {message: 'Coordinator is required'}}},

                        //Ordering Information
                        simeq: {validators: {notEmpty: {message: 'Scan ordered is required'}}},
                        siopnpi: {validators: {notEmpty: {message: 'Provider ID is required'}}},
                        sidsd: {validators: {notEmpty: {message: 'Shared decision making is required'}}},
                        siopss: {validators: {notEmpty: {message: 'Smoking status is required'}}},
                        sioppy: {
                            validators: {
                                notEmpty: {message: 'Pack years is required'},
                                numeric: {message: 'Must be a number'},
                                greaterThan: {min: 0, message: 'Value must be greater than 0'}
                            }
                        },
                        sioas: {validators: {notEmpty: {message: 'Asymptomatic is required'}}},
                        siopci: {validators: {notEmpty: {message: 'Clinical information is required'}}},
                        siabx: {validators: {notEmpty: {message: 'Antibiotics is required'}}},
                        siaex: {validators: {notEmpty: {message: 'Annual scan is required'}}},
                        sisse: {validators: {notEmpty: {message: 'Prolonged exposure is required'}}},
                        siwcos: {validators: {notEmpty: {message: 'Other symptom is required'}}},
                        siwcw: {validators: {notEmpty: {message: 'Physician is required'}}},
                        siho: {validators: {notEmpty: {message: 'Hospitalized is required'}}},
                        sicd: {validators: {notEmpty: {message: 'Cancer diagnosis is required'}}},
                        silcs: {validators: {notEmpty: {message: 'Cancer surgery is required'}}},
                        sier: {validators: {notEmpty: {message: 'Recurrence is required'}}},

                        //Smoking
                        sisa: {validators: {notEmpty: {message: 'Smoking history is required'}}},
                        sidlcy: {validators: {between: {message: yearValidationMessage, min: minYear, max: thisYear}}},
                        sittq: {validators: {notEmpty: {message: 'Quit attempt is required'}}},
                        siscos: {validators: {notEmpty: {message: 'Other method is required'}}},
                        sicpd: {validators: {notEmpty: {message: 'Cessation materials is required'}}},


                        cectrsto: {
                            validators: {
                                notEmpty: {message: 'Reconstructed slice thickness is required'},
                                numeric: {message: 'Must be a number'},
                                greaterThan: {min: 0, message: 'Value must be greater than 0'}
                            }
                        },
                        cectcdti: {
                            validators: {
                                numeric: {message: 'Must be a number'},
                                greaterThan: {min: 0, message: 'Value must be greater than 0'}
                            }
                        },
                        cectdlp: {
                            validators: {
                                numeric: {message: 'Must be a number'},
                                greaterThan: {min: 0, message: 'Value must be greater than 0'}
                            }
                        },
                        cectssde: {
                            validators: {
                                numeric: {message: 'Must be a number'},
                                greaterThan: {min: 0, message: 'Value must be greater than 0'}
                            }
                        },
                        sidoe: {
                            validators: {
                                notEmpty: {message: 'Baseline CT date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Baseline CT date may not be in the future'}
                            }
                        },
                        cedcs: {
                            validators: {
                                notEmpty: {message: 'Most recent comparative study date is required'},
                                date: {
                                    max: VAPALS.todaysDate(),
                                    message: 'Most recent comparative study date may not be in the future'
                                }
                            }
                        },
                        cedps: {validators: {notEmpty: {message: 'Prior scans is required'}}},
                        //Nodule fields are defined below due to dynamic nature of them.
                        //Emphysema/Coronary Calcifications
                        cecclm: {validators: {notEmpty: {message: 'Left main is required'}}},
                        ceccld: {validators: {notEmpty: {message: 'LAD is required'}}},
                        cecclf: {validators: {notEmpty: {message: 'Circumflex is required'}}},
                        ceccrc: {validators: {notEmpty: {message: 'RCA is required'}}},

                        //Abnormalities
                        cdoaw: {validators: {integer: {message: 'must be a whole number'}}},
                        ceaow: {validators: {integer: {message: 'must be a whole number'}}},

                        //lymph nodes
                        cemlnl1: { //use a real element name for the field so conditional plugins can toggle the field
                            selector: '[name^=cemlnl]',
                            validators: {choice: {min: 1, message: 'Select one or more classification'}}
                        },

                        //Impression
                        ceimn: {validators: {notEmpty: {message: 'Nodule impression is required'}}},
                        followup: {
                            selector: '[name^=cefu][type=checkbox]',
                            validators: {choice: {min: 1, message: 'Select at least one CT or Other follow up option'}}
                        },
                        cefud: {
                            validators: {
                                date: {
                                    min: VAPALS.todaysDate(),
                                    message: 'Follow up date must be at least today\'s date'
                                }
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bootstrap3: new FormValidation.plugins.Bootstrap3(),
                        submitButton: new FormValidation.plugins.SubmitButton({selector: "#submit-button"}),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        excluded: new FormValidation.plugins.Excluded(), //disable validators on hidden, disabled fields
                        icon: new FormValidation.plugins.Icon({
                            valid: '',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh',
                            onPlaced: function (e) {
                                if (multiInputValidators.indexOf(e.field) > -1) {
                                    $("#" + e.element.id).closest(".form-group").append(e.iconElement);
                                }
                            },
                        })
                    }
                }
            );

            const fv = $form.data('formValidation');

            fv.on('core.form.invalid', VAPALS.autoScrollToErrorField);
            fv.on('core.element.validated', VAPALS.hideSuccessFormatting);

            return fv;
        }


        $(function () {

            createFormValidator();

            var $tsbFields = $("#sidof, #sidoe");
            $tsbFields.closest(".datepicker").on("dp.change", function () {
                var baselineDate = $("#sidof").val();
                var studyDate = $("#sidoe").val();
                var months = VAPALS.computeMonthsBetween(baselineDate, studyDate);
                $("#sitsb-text").text(months);
                $("#sitsb-alert").toggle(months > 0);
                $("#sitsb").val(months);
            }); //latch onto datetimepicker change events
            $tsbFields.filter(function () {
                return $(this).val();
            }).first().trigger("dp.change"); //trigger on page load for existing data;

            $("[name=simeq]").conditionallyDisplay({enable: "#order-container"});
            $("#siwco").conditionallyEnable({sourceValues: "o", enable: "#siwcos"});
            $("[name=siwcp]").conditionallyEnable({enable: "#siwcw-container"});
            $("[name=siho]").conditionallyDisplay({enable: "#siho-container"});
            $("#sicdl").conditionallyEnable({sourceValues: "os", enable: "#sicdls"});
            $("[name=sicd]").conditionallyDisplay({enable: "#sicd-container"});
            $("[name=silcs]").conditionallyDisplay({enable: "#silcs-container"});
            $("[name=sier]").conditionallyDisplay({enable: "#sier-container"});
            $("[name=sisa]").conditionallyDisplay({enable: "#sisa-container-y", disable: "sisa-container-n"});
            $("[name=sittq]").conditionallyDisplay({enable: "#sittq-container"});
            $("#siscl").conditionallyEnable({sourceValues: "l", enable: "#siscos"});

            $(".validated").formValidation({framework: 'bootstrap'});
        });

    </script>

{% endblock %}