{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>{{ title | escape }}
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <hr/>
        {% include '_messages.jinja2' %}
        <form action="{{ formPage+".html" if mockup else "/vapals" }}" method="{{ formMethod }}" class="validated"
              id="main-form">

            <input type="hidden" name="samiroute" value="postform"/>
            <input type="hidden" name="studyid" value="@@SID@@"/>
            <input type="hidden" name="site" value="@@SITE@@"/>
            <input type="hidden" name="form" value="@@FORMKEY@@"/>
            <div class="row">
                <div class="form-group col-sm-12" id="interaction-type">
                    <label class="required" for="sidof">This interaction is a</label>
                    {{ f.radio('futype', 'futype-other', 'other', 'Other communication with veteran', true) }}
                    {{ f.radio('futype', 'futype-ct', 'ct', 'CT visit and/or communication about CT results', true) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-3 col-md-3 col-lg-2">
                    <label class="required" for="sidof">Form date</label>
                    {{ f.datepicker("sidof", "past", true) }}
                </div>
                <div class="form-group col-sm-3 col-md-3 col-lg-2">
                    <label class="required" for="sidoct">Next CT follow-up</label>
                    {{ f.datepicker("sidoct", "", true) }}
                </div>
                <div class="form-group col-sm-3 col-md-3 col-lg-2">
                    <label class="required" for="sidoe">Date of baseline CT</label>
                    {{ f.datepicker("sidoe", "past", true) }}
                </div>
                <div class="col-sm-4 col-md-3 form-group">
                    <label class="required" for="sico">Coordinator</label>
                    <input type="text" name="sico" id="sico" class="form-control" required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div id="sitsb-alert" class="alert alert-info" style="display: none;">
                        Time since baseline: <span id="sitsb-text">0</span> months
                    </div>
                    <input type="hidden" class="form-control" id="sitsb" name="sitsb"/>
                </div>
            </div>

            <hr/>

            <div class="followup-ct">
                <h3>Ordering Information</h3>
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('fursnscn', 'Reason for CT scan', "required") }}
                    </div>
                    <div class="col-md-8 form-group">
                        <textarea class="form-control" id="fursnscn" name="fursnscn" rows="3"
                                  required="required"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siabx-n', 'Have you taken antibiotics since your last CT scan?', "required") }}
                    </div>
                    <div class="col-md-8 form-group">
                        {{ f.inlineRadio("siabx", "siabx-n", "n", "No", true) }}
                        {{ f.inlineRadio("siabx", "siabx-y", "y", "Yes") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siaex-n', 'Is this an annual CT scan?', "required") }}
                    </div>
                    <div class="col-md-8 form-group">
                        {{ f.inlineRadio("siaex", "siaex-n", "n", "No", true) }}
                        {{ f.inlineRadio("siaex", "siaex-y", "y", "Yes") }}
                    </div>
                </div>
                <hr/>


                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siwc-b', 'During the past year, have you experienced any of these symptoms?') }}
                    </div>
                    <div class="col-md-8 form-group">
                        {{ f.checkbox("siwcb", "b", "Cough producing bloody material") }}
                        {{ f.checkbox("siwcl", "l", "Unexplained weight loss greater than 20 lbs") }}
                        {{ f.checkbox("siwch", "h", "Unexplained hoarseness") }}
                        {{ f.checkbox("siwco", "o", "Other") }}
                        <label for="siwcos" class="aria-hidden">Other</label>
                        <input type="text" class="form-control input-sm" id="siwcos" name="siwcos" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siwcp-n', 'If yes, have you seen a physician for this?') }}
                    </div>
                    <div class="col-md-2 form-group">
                        {{ f.inlineRadio("siwcp", "siwcp-n", "n", "No") }}
                        {{ f.inlineRadio("siwcp", "siwcp-y", "y", "Yes") }}
                    </div>
                    <div class="col-md-6 form-group" id="siwcw-container">
                        <label class="control-label" for="siwcw">Whom?</label>
                        <input type="text" id="siwcw" name="siwcw" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siwcp-n', 'If yes, are you now experiencing them?') }}
                    </div>
                    <div class="col-md-8 form-group">
                        {{ f.inlineRadio("siwcn", "siwcn-n", "n", "No") }}
                        {{ f.inlineRadio("siwcn", "siwcn-y", "y", "Yes") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siact', 'When did you most recently have a chest CT?') }}
                    </div>
                    <div class="col-md-8 form-group">
                        <select id="siact" name="siact" class="form-control">
                            <option value="-">-</option>
                            <option value="a">Less than 6 months ago</option>
                            <option value="b">6 months to 18 months ago</option>
                            <option value="f">18 months to 3 years ago</option>
                            <option value="c">3 years to 5 years ago</option>
                            <option value="d">Over 5 years ago</option>
                            <option value="e">Never</option>
                        </select>
                    </div>
                </div>

                <hr/>
                <div class="row">
                    <div class="col-md-4 col-lg-6">
                        {{ f.floatingLabel('siho-n', 'Have you been hospitalized in the past year?', "required") }}
                    </div>
                    <div class="col-md-2 form-group">
                        {{ f.inlineRadio("siho", "siho-n", "n", "No", true) }}
                        {{ f.inlineRadio("siho", "siho-y", "y", "Yes") }}
                    </div>
                    <div class="col-md-6 col-lg-4" id="siho-container">
                        <div class="form-group">
                            <label for="sihow" class="control-label">For what?</label>
                            <input type=text id="sihow" name="sihow" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="sihod">When?</label>
                            {{ f.yearpicker("sihod") }}
                        </div>
                        <div class="form-group">
                            <label for="sihol">Where?</label>
                            <input type=text id="sihol" name="sihol" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-6">
                        {{ f.floatingLabel('sicd-n', 'Have you had a diagnosis of cancer in the past year?', "required") }}
                    </div>
                    <div class="col-md-2 form-group">
                        {{ f.inlineRadio("sicd", "sicd-n", "n", "No", true) }}
                        {{ f.inlineRadio("sicd", "sicd-y", "y", "Yes") }}
                    </div>
                    <div class="col-md-6 col-lg-4" id="sicd-container">
                        <div class="form-group">
                            <label for="sicdl" class="control-label">What part of the body?</label>
                            <select id="sicdl" name="sicdl" class="form-control">
                                <option value="-">-</option>
                                <option value="br">Breast</option>
                                <option value="co">Colon / rectum</option>
                                <option value="li">Liver</option>
                                <option value="lu">Lung / bronchus</option>
                                <option value="ov">Ovary</option>
                                <option value="pa">Pancreas</option>
                                <option value="pr">Prostate</option>
                                <option value="sk">Skin</option>
                                <option value="st">Stomach</option>
                                <option value="ut">Uterus</option>
                                <option value="os">Other (specify)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sicdls">Other?</label>
                            <input type=text id="sicdls" name="sicdls" class="form-control input-sm">
                        </div>
                        <div class="form-group">
                            <label for="sicdd">When were you diagnosed?</label>
                            {{ f.datepicker("sicdd", "past") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-6">
                        {{ f.floatingLabel('silcs-n', 'If lung cancer has been diagnosed, have you had surgery?', "required") }}
                    </div>
                    <div class="col-md-2 form-group">
                        {{ f.inlineRadio("silcs", "silcs-n", "n", "No", true) }}
                        {{ f.inlineRadio("silcs", "silcs-y", "y", "Yes") }}
                        {{ f.inlineRadio("silcs", "silcs-o", "o", "N/A") }}
                    </div>
                    <div class="col-md-6 col-lg-4" id="silcs-container">
                        <div class="form-group">
                            <label for="silcsd">When?</label>
                            {{ f.datepicker("silcsd", "past") }}
                        </div>
                        <div class="form-group">
                            <label for="silcsl">Where?</label>
                            <input type=text id="silcsl" name="silcsl" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-6">
                        {{ f.floatingLabel('sier-n', 'If a lung cancer has been removed, is there evidence of recurrence?', "required") }}
                    </div>
                    <div class="col-md-2 form-group">
                        {{ f.inlineRadio("sier", "sier-n", "n", "No", true) }}
                        {{ f.inlineRadio("sier", "sier-y", "y", "Yes") }}
                        {{ f.inlineRadio("sier", "sier-o", "o", "N/A") }}
                    </div>
                    <div class="col-md-6 col-lg-4" id="sier-container">
                        <div class="form-group">
                            <label for="sierd">Describe</label>
                            <input type=text id="sierd" name="sierd" class="form-control">
                        </div>
                    </div>
                </div>

                <hr/>
            </div>
            <h3>Smoking History</h3>

            {% include '_pack-year-history.jinja2' %}

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('sisa-n', 'Since your last follow-up, have you smoked cigarettes at all, even a puff?') }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("sisa", "sisa-n", "n", "No") }}
                    {{ f.inlineRadio("sisa", "sisa-y", "y", "Yes") }}
                    {{ f.inlineRadio("sisa", "sisa-o", "o", "Never smoked") }}
                </div>
            </div>

            <div id="sisa-container">
                <div class="row form-group">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sicpd', 'On average, how many cigarettes did you smoke per day?') }}
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control numeric" type="text" name="sicpd" id="sicpd" maxlength="4">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        {{ f.floatingLabel('siq', 'Quit Date') }}
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        {{ f.datepicker ("siq", "past") }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sippd', 'How many <em>packs</em> of cigarettes did you smoke per day (PPD)?') }}
                    </div>
                    <div class="col-sm-8">
                        <span id="sippd-val"></span>
                    </div>
                    <input type="hidden" name="sippd" id="sippd"/>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        {{ f.floatingLabel('sippy', 'Reported pack years') }}
                    </div>
                    <div class="col-sm-8">
                        <span id="sippy-val"></span>
                        <div class="alert alert-info" id="cumulative-pack-years-message" style="display: none"></div>
                    </div>
                    <input type="hidden" name="sippy" id="sippy"/>
                    <input type="hidden" name="sippycu" id="sippycu" title="Cumulative reported pack years"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('sittq-n', 'Since we last asked, have you ever tried to quit smoking?') }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.inlineRadio("sittq", "sittq-n", "n", "No") }}
                    {{ f.inlineRadio("sittq", "sittq-y", "y", "Yes") }}
                    {{ f.inlineRadio("sittq", "sittq-o", "o", "N/A") }}
                </div>
            </div>

            <div class="row" id="sittq-container">
                <div class="col-md-4">
                    {{ f.floatingLabel('sittqt', 'How many times have you quit smoking for at least 24 hours?') }}
                </div>
                <div class="col-md-1 form-group">
                    <input type=text id="sittqt" name="sittqt" class="form-control numeric">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{ f.floatingLabel('', 'Since we last asked what, if any, smoking cessation methods have you used?', 'radio-label') }}
                </div>

                <div class="col-sm-8 form-group">
                    {{ f.checkbox("sisca", "a","Have not tried to quit") }}
                    {{ f.checkbox("siscb", "b","\"Cold Turkey\" by completely stopping on your own with no other assistance") }}
                    {{ f.checkbox("siscc", "c","Tapering or reducing number of cigarettes smoked per day") }}
                    {{ f.checkbox("siscd", "d","Self-help material (e.g., brochure, cessation website)") }}
                    {{ f.checkbox("sisce", "e","Individual consultation or cessation counseling") }}
                    {{ f.checkbox("siscf", "f","Telephone cessation counseling hotline (e.g., 1-855-QUIT-VET, 1-800-QUIT-NOW)") }}
                    {{ f.checkbox("siscg", "g","Peer support (e.g., Nicotine Anonymous)") }}
                    {{ f.checkbox("sisch", "h","Nicotine replacement therapy (e.g., patch, gum, inhaler, nasal spray, lozenge)") }}
                    {{ f.checkbox("sisci", "i","Zyban") }}
                    {{ f.checkbox("siscj", "j","Hypnosis") }}
                    {{ f.checkbox("sisck", "k","Acupuncture / acupressure") }}
                    {{ f.checkbox("siscl", "l","Other (specify)") }}
                    <label for="siscos" class="aria-hidden">Other</label>
                    <input type="text" class="form-control input-sm" id="siscos" name="siscos" required="required"/>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ f.floatingLabel('siqst', 'Are you seriously thinking of quitting smoking?') }}
                </div>
                <div class="col-md-8 form-group">
                    <select id="siqst" name="siqst" class="form-control">
                        <option value="-"> -
                        <option value="y"> Yes, within the next 30 days
                        <option value="m"> Yes, within the next 6 months
                        <option value="n"> No, not thinking of quitting
                        <option value="o"> N/A
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 ">
                    {{ f.floatingLabel('siscmd-d', 'Tobacco cessation provided:', 'radio-label') }}
                </div>
                <div class="col-md-8 form-group">
                    {{ f.radio("siscmd", "siscmd-d", "d", "Declined") }}
                    {{ f.radio("siscmd", "siscmd-a", "a", "Advised to quit smoking; VA resources provided") }}
                    {{ f.radio("siscmd", "siscmd-i", "i", "Interested in VA tobacco cessation medication. Encouraged Veteran to talk to provider or pharmacist about which medication option is best for you.") }}
                </div>
            </div>

            <div class="row followup-other">
                <div class="col-md-4">
                    {{ f.floatingLabel('fucmotip', 'Communications method:', 'checkbox-label required') }}
                </div>

                <div class="col-md-8 form-group">
                    {{ f.checkbox("fucmotip", "1", "In person", {'group':'other-communications-method'}) }}
                    {{ f.checkbox("fucmotte", "1", "Telephone", {'group':'other-communications-method'}) }}
                    {{ f.checkbox("fucmotth", "1", "TeleHealth", {'group':'other-communications-method'}) }}
                    {{ f.checkbox("fucmotml", "1", "Mailed letter", {'group':'other-communications-method'}) }}
                    {{ f.checkbox("fucmotpp", "1", "Message in Patient Portal", {'group':'other-communications-method'}) }}
                    {{ f.checkbox("fucmotvd", "1", "Video-on-Demand (VOD)", {'group':'other-communications-method'}) }}
                    {{ f.checkbox("fucmotot", "1", "Other", {'group':'other-communications-method'}) }}
                    <label class="aria-hidden" for="fucmotoo">Other contact method</label>
                    <input class="form-control input-sm" type="text" name="fucmotoo" id="fucmotoo"
                           required="required">
                </div>
                <div class="col-md-8 col-md-offset-4 form-group">
                    <textarea class="form-control" id="fucmotde" name="fucmotde" rows="3"
                              required="required"></textarea>
                    <small class="help-block">Additional details</small>
                </div>
            </div>

            <div class="followup-ct">
                <h3>Communication about results</h3>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('fulctdt','Last CT date', 'required') }}
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-2">
                        {{ f.datepicker("fulctdt", "past", true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ f.floatingLabel('fucmctip', 'Communications method:', 'checkbox-label required') }}
                    </div>

                    <div class="col-md-8 form-group">
                        {{ f.checkbox("fucmctip", "1", "In person", {'group':'ct-communications-method'}) }}
                        {{ f.checkbox("fucmctte", "1", "Telephone", {'group':'ct-communications-method'}) }}
                        {{ f.checkbox("fucmctth", "1", "TeleHealth", {'group':'ct-communications-method'}) }}
                        {{ f.checkbox("fucmctml", "1", "Mailed letter", {'group':'ct-communications-method'}) }}
                        {{ f.checkbox("fucmctpp", "1", "Message in Patient Portal", {'group':'ct-communications-method'}) }}
                        {{ f.checkbox("fucmctvd", "1", "Video-on-Demand (VOD)", {'group':'ct-communications-method'}) }}
                        {{ f.checkbox("fucmctot", "1", "Other", {'group':'ct-communications-method'}) }}
                        <label class="aria-hidden" for="fucmctoo">Other contact method</label>
                        <input class="form-control input-sm" type="text" name="fucmctoo" id="fucmctoo"
                               required="required">
                    </div>
                    <div class="col-md-8 col-md-offset-4 form-group">
                        <textarea class="form-control" id="fucmctde" name="fucmctde" rows="3"
                                  required="required"></textarea>
                        <small class="help-block">Additional details</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        {{ f.floatingLabel('funewct', 'Has a new CT/LDCT been ordered?', 'required') }}
                    </div>
                    <div class="col-md-8 form-group">
                        {{ f.inlineRadioNY('funewct',true) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        {{ f.floatingLabel('fucompul', 'Communication to pulmonary?') }}
                    </div>
                    <div class="col-md-8 form-group">
                        {{ f.inlineRadioNY('fucompul') }}
                    </div>
                </div>
            </div>

            <div class="pull-left">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button"
                        formnovalidate="formnovalidate">Save for Later
                </button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
            <div class="pull-right">
                <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
            </div>
        </form>
    </div>

    {{ f.deleteFormModal("followup.html", mockup, formMethod) }}
{% endblock %}

{% block script %}
    <script>

        const interactionType = $("[name=futype]:checked").val();
        if (interactionType === "ct" || interactionType === "other") {
            const humanMessage = "This interaction is for a <strong>" + (interactionType === "ct" ? "CT" : "non-CT") + "</strong> follow-up";
            $message = $("<div class=\"alert alert-info\">" + humanMessage + "</div>");
            $hiddenInput = $("<input type=\"hidden\" name=\"futype\" value=\"" + interactionType + "\"/>");
            $("#interaction-type").html("").append($message).append($hiddenInput);
        }

        function createFormValidator() {

            const $form = $('#main-form');

            // for certain validators that use multiple inputs like checkboxes and radio groups, change the location
            // of the error icon to be based on the form-group element, instead of being immediately adjacent to the
            // first control in that group
            const multiInputValidators = ['siabx', 'siaex', 'siho', 'sicd', 'silcs', 'sier', 'sicpd', 'funewct'];

            $form.formValidation({
                    fields: {
                        futype: {validators: {notEmpty: {message: 'Interaction type is required'}}},
                        // SCAN
                        sidof: {
                            validators: {
                                notEmpty: {message: 'Follow-up date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Follow-up date must not be in the future'}
                            }
                        },
                        sidoe: {
                            validators: {
                                notEmpty: {message: 'Baseline date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Baseline date must not be in the future'}
                            }
                        },
                        sico: {validators: {notEmpty: {message: 'Coordinator is required'}}},

                        //Ordering Information
                        fursnscn: {validators: {notEmpty: {message: 'Reason for CT scan is required'}}},
                        siabx: {validators: {notEmpty: {message: 'Antibiotics is required'}}},
                        siaex: {validators: {notEmpty: {message: 'Annual scan is required'}}},
                        siwcos: {validators: {notEmpty: {message: 'Other symptom is required'}}},
                        siwcw: {validators: {notEmpty: {message: 'Physician is required'}}},
                        siho: {validators: {notEmpty: {message: 'Hospitalized is required'}}},
                        sicd: {validators: {notEmpty: {message: 'Cancer diagnosis is required'}}},
                        silcs: {validators: {notEmpty: {message: 'Cancer surgery is required'}}},
                        sier: {validators: {notEmpty: {message: 'Recurrence is required'}}},

                        //Smoking
                        siscos: {validators: {notEmpty: {message: 'Other method is required'}}},
                        sicpd: {
                            validators: {
                                integer: {message: 'must be a whole number'}
                            }
                        },
                        siq: {
                            validators: {
                                date: {max: VAPALS.todaysDate(), message: 'Quit date must not be in the future'}
                            }
                        },
                        fucmotoo: {validators: {notEmpty: {message: 'Other communication method is required'}}},
                        fucmotip: { //use a real element name for the field so conditional plugins can toggle the field
                            selector: '[group=other-communications-method]',
                            validators: {choice: {min: 1, message: 'Select one or more contact methods'}}
                        },
                        fulctdt: {validators: {notEmpty: {message: 'Last CT date is required'}}},
                        fucmctoo: {validators: {notEmpty: {message: 'Other communication method is required'}}},
                        fucmctip: { //use a real element name for the field so conditional plugins can toggle the field
                            selector: '[group=ct-communications-method]',
                            validators: {choice: {min: 1, message: 'Select one or more contact methods'}}
                        },
                        funewct: {validators: {notEmpty: {message: 'CT/LDCT order selection is required'}}}
                    },
                    plugins: {
                        declarative: new FormValidation.plugins.Declarative(),
                        trigger: new FormValidation.plugins.Trigger(),
                        bootstrap3: new FormValidation.plugins.Bootstrap3(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        excluded: new FormValidation.plugins.Excluded(), //disable validators on hidden, disabled fields
                        icon: new FormValidation.plugins.Icon({
                            valid: '',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh',
                            onPlaced: function (e) {
                                if (multiInputValidators.indexOf(e.field) > -1) {
                                    $fg = $("#" + e.element.id).closest(".form-group");
                                    $c = $fg.find(".fv-plugins-message-container");
                                    if ($c.length == 1) {
                                        $c.append(e.iconElement);
                                    } else {
                                        $fg.append(e.iconElement);
                                    }
                                }
                            },
                        })
                    }
                }
            );

            const fv = $form.data('formValidation');
            fv.on('core.form.invalid', VAPALS.autoScrollToErrorField);
            fv.on('core.element.validated', VAPALS.hideSuccessFormatting);

            return fv;
        }

        const originalCumulativePackYears = parseFloat($("#sippycu").val());

        function calculateCumulativePackYears() {
            const priorFormDate = getPriorFormDate();
            //NB: the last cigarette date will be the quit date IF it is after the prior form date and before the
            // current form date. Otherwise it is the form date
            const thisFormDate = VAPALS.toMoment($("#sidof").val()) || moment();
            const quitDate = VAPALS.toMoment($("#siq").val());
            const validQuitDate = quitDate.isValid() &&
                quitDate.isSameOrAfter(priorFormDate) && quitDate.isSameOrBefore(thisFormDate);
            const lastCigaretteDate = validQuitDate ? quitDate : thisFormDate;
            const daysBetween = VAPALS.computeDaysBetween(priorFormDate, lastCigaretteDate);
            console.log("packYears() thisFormDate=%s, priorFormDate=%s, validQuitDate=%s, lastCigarette=%s, daysBetween=%d",
                thisFormDate.format(), priorFormDate.format(), validQuitDate, lastCigaretteDate.format(), daysBetween);

            const yearsSinceFollowup = (daysBetween / 365.24); //NB: purposely not rounded
            const packsPerDay = parseFloat($("#sippd").val());
            console.log("packYears() yearsSinceFollowup=%f, packsPerDay=%f", yearsSinceFollowup, packsPerDay);

            //if last cigarette was before last form, pack years is 0.
            let packYears = 0;
            if (!isNaN(packsPerDay) && lastCigaretteDate.isAfter(priorFormDate)) {
                packYears = VAPALS.calculatePackYears(packsPerDay, yearsSinceFollowup);
            }

            console.log("packYears() calculated packYears value is %f", packYears);
            if (packYears > 0) {
                $("#sippy").val(packYears.toFixed(2));
                $("#sippy-val").text(packYears + " from " + priorFormDate.format(VAPALS.DATE_FORMAT) + " to " +
                    lastCigaretteDate.format(VAPALS.DATE_FORMAT));
            } else {
                $("#sippy").val("");
                $("#sippy-val").text("-");
            }

            const cumulative = computeCumulativePackYears(packYears);
            if (cumulative > 0 && cumulative !== originalCumulativePackYears) {
                $("#sippycu").val(cumulative.toFixed(2));
                const message = "Cumulative pack years will be updated to <strong>" + cumulative.toFixed(2) + "</strong>";
                $("#cumulative-pack-years-message").html(message).show();
            } else {
                $("#cumulative-pack-years-message").hide();
            }
        }

        $(function () {

            {% if mockup %}
                // Allow mockup to run with data necessary to calculate cumulative pack years
                $("#sidof").val(moment().format(VAPALS.DATE_FORMAT));
                $("#sicpd").val("20");
            {% endif %}

            const fv = createFormValidator();
            $("#save-for-later-button").on('click', function () {
                fv.destroy();
            });

            const $tsbFields = $("#sidof, #sidoe");
            $tsbFields.closest(".datepicker").on("dp.change", function () {
                const baselineDate = $("#sidof").val();
                const studyDate = $("#sidoe").val();
                const months = VAPALS.computeMonthsBetween(baselineDate, studyDate);
                $("#sitsb-text").text(months);
                $("#sitsb-alert").toggle(months > 0);
                $("#sitsb").val(months);
            }); //latch onto datetimepicker change events
            $tsbFields.filter(function () {
                return $(this).val();
            }).first().trigger("dp.change"); //trigger on page load for existing data;

            $("#siwco").conditionallyEnable({sourceValues: "o", enable: "#siwcos"});
            $("[name=siwcp]").conditionallyEnable({enable: "#siwcw-container"});
            $("[name=siho]").conditionallyDisplay({enable: "#siho-container"});
            $("#sicdl").conditionallyEnable({sourceValues: "os", enable: "#sicdls"});
            $("[name=sicd]").conditionallyDisplay({enable: "#sicd-container"});
            $("[name=silcs]").conditionallyDisplay({enable: "#silcs-container"});
            $("[name=sier]").conditionallyDisplay({enable: "#sier-container"});
            $("[name=sisa]").conditionallyDisplay({enable: "#sisa-container"});
            $("[name=sittq]").conditionallyDisplay({enable: "#sittq-container"});
            $("#siscl").conditionallyEnable({sourceValues: "l", enable: "#siscos"});
            $("#fucmotot").conditionallyEnable({sourceValues: "1", enable: "#fucmotoo"}); // other contact method
            $("#fucmctot").conditionallyEnable({sourceValues: "1", enable: "#fucmctoo"}); // other contact method
            //Calculate packs per day
            $("#sicpd").on('keyup change', function () {
                const cigsPerDay = $("#sicpd").val();
                const $sippd = $("#sippd");
                const $sippdVal = $("#sippd-val");
                if (cigsPerDay >= 0) {
                    const cpd = VAPALS.calculatePacksPerDay(cigsPerDay);
                    if (cpd > 0) {
                        $sippd.val(cpd);
                        $sippdVal.text(cpd);
                    } else {
                        $sippd.val("");
                        $sippdVal.text("-");
                    }
                    $sippd.change();
                }
            }).trigger('change');

            $("[name=futype]").on('change', function () {
                const interactionType = $("[name=futype]:checked").val() || $("[name=futype]").val();
                let showCT = false;
                let showOther = false;
                if (interactionType == "ct") {
                    showCT = true;
                } else if (interactionType == "other") {
                    showOther = true;
                }
                $(".followup-ct").toggle(showCT);
                $(".followup-other").toggle(showOther);
            }).trigger('change');

            //Calculate pack years and cumulative pack years, displaying and setting field values where appropriate
            $("#sidof, #siq, #sippd").on('keyup change', calculateCumulativePackYears);
            calculateCumulativePackYears();
        });

        /**
         * Retrieves the previous form date relative to this form in the #pack-years-history table.
         * Used to determine the FROM date when calculating pack years.
         * @returns {moment}
         */
        function getPriorFormDate() {
            const $lastHistoryRow = $("#pack-years-history tbody tr").last();
            const $currentFormRow = $("#pack-years-history tbody tr[data-current-form]").last();
            const $priorFormRow = $currentFormRow.length === 1 ? $currentFormRow.prev() : $lastHistoryRow;
            const priorFormDateStr = $priorFormRow.find(".reported-date").text().trim();
            const priorFormDate = VAPALS.toMoment(priorFormDateStr);
            return priorFormDate;
        }

    </script>

{% endblock %}
