{% macro floatingLabel(for, text) -%}
    <label for="{{ for }}" class="visible-xs visible-sm">{{ text }}</label>
    <label for="{{ for }}" class="text-right pull-right hidden-xs hidden-sm">{{ text }}</label>
{%- endmacro %}

{% macro inlineRadio(groupName, id, value, labelText, required, onclick) -%}
    <label class="radio-inline">
        <input type="radio" name="{{ groupName }}" id="{{ id }}"
                {{ " onclick=\""+ onclick + "\"" if onclick else "" }}
                {{ " required=\"required\"" if required else "" }}
               value="{{ value }}">
        {{ labelText }}
    </label>
{%- endmacro %}

{% macro inlineRadioNYQ(groupName) -%}
    {{ inlineRadio(groupName, groupName+"-n","n","No",true) }}
    {{ inlineRadio(groupName, groupName+"-y","y","Yes",true) }}
    {{ inlineRadio(groupName, groupName+"-q","q","?",true) }}
{%- endmacro %}

{% macro inlineRadioNYE(groupName) -%}
    {{ inlineRadio(groupName, groupName+"-n","n","No",true) }}
    {{ inlineRadio(groupName, groupName+"-y","y","Yes",true) }}
    {{ inlineRadio(groupName, groupName+"-e","e","n/v",true) }}
{%- endmacro %}


{% macro checkbox(name, value, labelText) -%}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="{{ name }}" id="{{ name }}" value="{{ value }}">
            {{ labelText }}
        </label>
    </div>
{%- endmacro %}

{% macro datepicker(name, max, requiredMessage) -%}
    <div class="input-group datepicker">
        <!--TODO: inject max date as "today"-->
        <input class="form-control" id="{{ name }}" name="{{ name }}" aria-describedby="{{ name }}-addon"
                {{ " required=\"required\"" if requiredMessage else "" }}
                {{ " data-fv-notempty-message=\"" + requiredMessage + "\"" if requiredMessage else "" }}
               data-fv-date="true"
                {{ " data-fv-max=\""+ max + "\"" if max else "" }}>
        <div class="input-group-addon">
            <div class="input-group-text" id="{{ name }}-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <small class="form-text text-muted">MM/DD/YYYY</small>
{%- endmacro %}


