{% macro floatingLabel(for, text, extraClasses) -%}
    <label for="{{ for }}" 
        class="visible-xs visible-sm {{ extraClasses }}"
    >{{ text }}</label>
    <label for="{{ for }}" class="text-right pull-right hidden-xs hidden-sm {{ extraClasses }}">{{ text }}</label>
{%- endmacro %}

{% macro inlineRadio(groupName, id, value, labelText, required, checked, onclick, tabindex, title) -%}
    <label class="radio-inline" for="{{ id }}">
        <input type="radio" name="{{ groupName }}" id="{{ id }}"
                {{ " onclick=\""+ onclick + "\"" if onclick else "" }}
                {{ " checked" if checked else "" }}
                {{ " required=\"required\" data-fv-notempty-message=\"Please select a value\"" if required else "" }}
                {{ " tabindex=\""+ tabindex + "\"" if tabindex else "" }}
                {{ " title=\""+ title + "\"" if title else "" }}
               value="{{ value }}">
        {{ labelText }}
    </label>
{%- endmacro %}


{% macro inlineRadioNY(groupName, required, tabindex) -%}
    {{ inlineRadio(groupName, groupName+"-n","n","No",required, false, null, tabindex) }}
    {{ inlineRadio(groupName, groupName+"-y","y","Yes",required, false, null, tabindex) }}
{%- endmacro %}

{% macro inlineRadioNYQ(groupName, required, tabindex) -%}
    {{ inlineRadio(groupName, groupName+"-n","n","No",required,false, null, tabindex,"Patient responded with 'No' to this question") }}
    {{ inlineRadio(groupName, groupName+"-y","y","Yes",required, false, null, tabindex,"Patient responded with 'Yes' to this question") }}
    {{ inlineRadio(groupName, groupName+"-q","q","?",required, false, null, tabindex, "Patient did not know the answer to this question") }}
{%- endmacro %}

{% macro inlineRadioNYE(groupName, required, tabindex) -%}
    {{ inlineRadio(groupName, groupName+"-n","n","No",required, false, null, tabindex) }}
    {{ inlineRadio(groupName, groupName+"-y","y","Yes",required, false, null,tabindex) }}
    {{ inlineRadio(groupName, groupName+"-e","e","not visible",required, false, null,tabindex) }}
{%- endmacro %}

{% macro radio(group, id, value, label, required, checked, tabindex) -%}
    <div class="radio">
        <label>
            <input type="radio" name="{{ group }}" id="{{ id }}" value="{{ value }}"
                    {{ "checked" if checked else "" }}
                    {{ "required=\"required\"" if required else "" }}
                    {{ " tabindex=\""+ tabindex + "\"" if tabindex else "" }} >
            {{ label }}
        </label>
    </div>
{%- endmacro %} %}


{% macro checkbox(name, value, labelText, attributes, required) -%}
    {% set attributes = attributes|default({}) %}
    {% if attributes['id'] == null %}
        {{ "" if attributes.update(id=name) else "" }}
    {% endif %}
    {% if required %}
        {{ "" if attributes.update(required=required) else "" }}
    {% endif %}

    <div class="checkbox">
        <label {{ "class=\"required\"" if required else "" }} >
            <input type="checkbox" name="{{ name }}" value="{{ value }}"
            {% for k,v in attributes.items() %}
                {{ k }}="{{ v }}"
            {% endfor %}
            >
            {{ labelText }}
        </label>
    </div>
{%- endmacro %}

{% macro inlineCheckbox(name, value, labelText, attributes, required) -%}
    {% set attributes = attributes|default({}) %}
    {% if attributes['id'] == null %}
        {{ "" if attributes.update(id=name) else "" }}
    {% endif %}
    {% if required %}
        {{ "" if attributes.update(required=required) else "" }}
    {% endif %}

    <label class="checkbox-inline {{ "required" if required else "" }}">
        <input type="checkbox" name="{{ name }}" value="{{ value }}"
        {% for k,v in attributes.items() %}
            {{ k }}="{{ v }}"
        {% endfor %}
        >
        {{ labelText }}
    </label>
{%- endmacro %}

{# 
    requiredMessage - serves both as a flag that the field is required, as well as provies the message
        that is displayed if the field value is not present. This error message is presented only when 
        there is no value provided in the field, and not when any of the date restrictions are not met. 
    dateRestriction - the parameter would accept any string, but honors only 'past' and 'future' to add 
        a restriction on the valid date in the date picker. Note that the error message shown is the
        the standard FV message indicating that the date needs to be before/after the current date
 #}
{% macro datepicker(name, dateRestriction, requiredMessage) -%}
    <div class="input-group datepicker">
        <input class="form-control" id="{{ name }}" name="{{ name }}" aria-describedby="{{ name }}-addon"
                {{ " required=\"required\"" if requiredMessage else "" }}
                {{ " data-fv-notempty-message=\"" + requiredMessage + "\"" if requiredMessage else "" }}              
                {{ " data-fv-date-max=\"VAPALS.todaysDate\"" if dateRestriction=="past" else "" }}
                {{ " data-fv-date-min=\"VAPALS.todaysDate\"" if dateRestriction=="future" else "" }}
                data-fv-date="true">
        <div class="input-group-addon">
            <div class="input-group-text" id="{{ name }}-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <small class="form-text text-muted">MM/DD/YYYY</small>
{%- endmacro %}

{% macro yearpicker(name, pastdateRequired, required, small, helpText, title) -%}
    <input class="form-control {{ "input-sm" if small else "" }} numeric yearpicker" type="text"
           name="{{ name }}" id="{{ name }}" size="5"
            {{ " required=\"required\"" if required else "" }}
            {{ " data-fv-date-max=\"VAPALS.todaysDate\"" if pastDateRequired else "" }}
           data-fv-integer="true" maxlength="4"
           placeholder="YYYY" 
           title="{{title}}"
           >
    {{ "<small class=\"help-block\">" + helpText + "</small>" if helpText else "" }}

{%- endmacro %}

{% macro deleteFormModal(href, mockup, formMethod) -%}
    <div id="delete-confirm-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Are you certain you want to delete this form?</p>
                </div>
                <div class="modal-footer">
                    <a  id="delete-form-cancel" class="btn btn-primary" data-dismiss="modal">No</a>
                    <a  id="delete-form-btn" class="btn btn-danger navigation" data-method="{{ formMethod }}" 
                    data-samiroute="deleteform" href="{{ href if mockup else "#!" }}"
                    data-form="@@FORMKEY@@">Yes</a>
                </div>
            </div>
        </div>
    </div>

{%- endmacro %}

