{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}
{% block head %}
    <style>
        .chart {
            width: 100%;
            min-height: 250px;
        }

        .row {
            margin: 0 !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container-fluid" style="max-width:1550px">
        {% include '_messages.jinja2' %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Participant Lookup</h3>
                    </div>
                    <div class="panel-body">
                        <form id="pt-lookup-form" method="post"
                              action="{{ formPage+".html" if mockup else "/vapals" }}">
                            <input type="hidden" id="pt-lookup-samiroute" name="samiroute" value="">
                            <input type="hidden" id="pt-lookup-dfn" name="dfn" value="">
                            <input type="hidden" id="pt-lookup-name" name="name" value="">
                            <input type="hidden" id="pt-lookup-studyid" name="studyid" value="">
                            <input type="hidden" name="site" value="@@SITE@@">

                            <div class="form-group">
                                <label for="pt-lookup-input">Name or LAST5</label>
                                <input type="text" class="form-control" id="pt-lookup-input" name="pt-lookup-input">
                            </div>
                            <div class="pull-left" id="manual-registration" style="display:none;">
                                <a href="{{ "register.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="addperson">
                                    manual registration...</a>
                            </div>

                            <div class="pull-right">
                                <button id="pt-lookup-btn" type="submit" class="btn btn-primary" disabled>Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="chart-container">
            <div class="col-md-12 text-center">
                <h2 id="chart-rural-heading"></h2>
            </div>

            <div class="clearfix"></div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <canvas id="chart-rural" width="300" height="300"></canvas>
            </div>
        </div>
    </div>

    <div id="pt-inclusion" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Caution:</h4>
                </div>
                <div class="modal-body">
                    <p>Are you certain you want to register this person for VAPALS-ELCAP?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="button" id="pt-inclusion-btn" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const manualRegistrationEnabled = '@@MANUALREGISTRATION@@';
        if (manualRegistrationEnabled !== 'true') {
            $("#manual-registration").remove();
        } else {
            $("#manual-registration").show();
        }

        $(function () {
            // Set up the modal confirmation to include a new participant
            $('#pt-inclusion-btn').on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();

                $('#pt-inclusion').modal('hide');
                $('#pt-lookup-form').submit();
            });

            // Set up the participant lookup submit button
            $('#pt-lookup-btn').on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();

                let particpant = $.extend({}, $('#pt-lookup-input').data('vista').patient);
                $('#pt-lookup-dfn').val(particpant.dfn);
                $('#pt-lookup-name').val(particpant.name);
                $('#pt-lookup-studyid').val(particpant.studyid);

                if (particpant.vapals === 1) {
                    $('#pt-lookup-samiroute').val('casereview');
                    $('#pt-lookup-form').submit();
                } else {
                    $('#pt-lookup-samiroute').val('newcase');
                    $('#pt-inclusion').modal('show');
                }
            });

            // Initialize the participant lookup input widget
            const $participantLookupInput = $('#pt-lookup-input');
            $participantLookupInput.filemanAutocomplete({
                dataOptions: {
                    site: siteId,
                    limit: 25
                }
            });

            $participantLookupInput.on('keydown', function (e) {
                // Set up Return key
                if (e.keyCode === 13 && ($('#pt-lookup-btn').is(':disabled'))) {
                    e.preventDefault();
                }
            }).on("keyup", function () {
                let ptNameVal = $participantLookupInput.val();
                let data = $participantLookupInput.data('vista');
                let participantName = "";
                if (data) {
                    if (data.patient) {
                        participantName = data.patient.name
                    }
                }
                if (ptNameVal === "" || (ptNameVal !== participantName)) {
                    $('#pt-lookup-btn').attr('disabled', 'disabled');
                    $participantLookupInput.trigger("change");
                }
            }).on('filemanautocompleteselect', function () {
                // Enable show buttons
                $('#pt-lookup-btn').removeAttr('disabled');
            }).on('filemanautocompletechange', function () {
                if (!$(this).val()) {
                    // Disable show buttons
                    $('#pt-lookup-btn').attr('disabled', 'disabled');
                }
            }).focus();
        });

        //NB: Rural/Urban demographics is only collected for VA sites, so hide the chart if both conditions are not met.
        if (sysConfig.RURAL_URBAN_CHART_ENABLED && sysConfig.VETERAN_AFFAIRS_SITE) {
            $.ajax("/ruralurbancount", {dataType: "json"}).done(function (json) {
                const ruralData = json.result;
                $("#chart-rural-heading").text("Rural engagement in " + ruralData.site)
                const ctx = document.getElementById('chart-rural');
                new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Rural', 'Urban', 'Unknown'],
                        datasets: [{
                            data: [ruralData.rural, ruralData.urban, ruralData.unknown],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        plugins: {
                            datalabels: {
                                formatter: function (value, ctx) {
                                    let sum = 0;
                                    let dataArr = ctx.chart.data.datasets[0].data;
                                    dataArr.map(function (data) {
                                        sum += data;
                                    });
                                    return (value * 100 / sum).toFixed(2) + "%";
                                },
                                color: '#000',
                            }
                        }
                    }
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $("#chart-rural-heading").hide();
                const $alert = $("<div class='alert alert-warning'></div>");
                $alert.append("<span class=\"glyphicon glyphicon-exclamation-sign\" aria-hidden=\"true\"></span>");
                $alert.append("&nbsp;Unable to view site statistics. <strong>" + errorThrown + "</strong>");
                $('#chart-rural').html("").append($alert);
            });
        } else {
            $("#chart-container").remove();
        }
    </script>

{% endblock %}
