{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Case Review</h3>
                    </div>
                    <div class="panel-body">
                        <form action="casereview.html" method="post">
                            <div class="form-group">
                                <label for="field">Locate By</label>
                                <select name="field" id="field" class="form-control">
                                    <option value="sid"> Study ID
                                    <option value="mrn"> Medical Record Number
                                    <option value="name"> Last Name
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fvalue">Search Key</label>
                                <input type="text" name="fvalue" id="fvalue" class="form-control"/>
                            </div>
                            <div class="pull-right">
                                <input type="submit" value="Submit" class="btn btn-primary" id="submit-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Case</h3>
                    </div>
                    <div class="panel-body">
                        <form action="intake.html" method="post">
                            <div class="form-group">
                                <label for="saminame">Name</label>
                                <input type="text" class="form-control" id="saminame" name="saminame"
                                       placeholder="Last, First">
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $(function () {
            $("#fvalue").focus();
        });
    </script>

{% endblock %}