{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patient Lookup</h3>
                    </div>
                    <div class="panel-body">
                        <form id="pt-lookup-form" method="post" action="/vapals">
                            <input type="hidden" id="pt-lookup-samiroute" name="samiroute" value="">
                            <input type="hidden" id="pt-lookup-dfn" name="dfn" value="">
                            <input type="hidden" id="pt-lookup-name" name="name" value="">
                            <input type="hidden" id="pt-lookup-studyid" name="studyid" value="">
                            
                            <div class="form-group">
                                <label for="pt-lookup-input">Patient</label>
                                <input type="text" class="form-control" id="pt-lookup-input" name="pt-lookup-input"
                                       placeholder="Name or LAST5">
                            </div>
                            <div class="pull-right">
                                <button id="pt-lookup-btn" type="submit" class="btn btn-primary" disabled>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h1>Statistics
            <small>MOCKUPS ONLY</small>
        </h1>

        <div id="projectRural" class="col-lg-3 col-sm-6"></div>
        <div id="siteRural" class="col-lg-3 col-sm-6"></div>
        
        <div id="pt-inclusion" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Caution:</h4>
              </div>
              <div class="modal-body">
                <p>Are you certain you want to register this patient for VA-PALS?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" id="pt-inclusion-btn" class="btn btn-primary">Yes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $(function () {
            // Set up the modal confirmation to include a new patient
            $('#pt-inclusion-btn').click(event, function() {
                event.preventDefault();
                event.stopPropagation();
                
                $('#pt-inclusion').modal('hide');
                $('#pt-lookup-form').submit();
            });
            
            // Set up the patient lookup submit button
            $('#pt-lookup-btn').click(event, function() {
                event.preventDefault();
                event.stopPropagation();
                
                let patient = Object.assign({}, $('#pt-lookup-input').data('vista').patient);
                $('#pt-lookup-dfn').val(patient.dfn);
                $('#pt-lookup-name').val(patient.name);
                $('#pt-lookup-studyid').val(patient.studyid);

                if (patient.vapals == 1) {
                    $('#pt-lookup-samiroute').val('casereview');
                    $('#pt-lookup-form').submit();
                }
                else {
                    $('#pt-lookup-samiroute').val('newcase');
                    $('#pt-inclusion').modal('show');
                }
            });
            
            // Initialize the patient lookup input widget
            var $patientLookupInput = $('#pt-lookup-input');
            $patientLookupInput.filemanAutocomplete();

            $patientLookupInput.on('filemanautocompleteselect', function (event, ui) {
                // Enable show buttons
                $('#pt-lookup-btn').removeAttr('disabled');
            }).on('filemanautocompletechange', function (event, ui) {
                if (!$(this).val()) {
                    // Disable show buttons
                    $('#pt-lookup-btn').attr('disabled', 'disabled');
                }
            }).focus();
        });

        // Load google charts
        google.charts.load('current', {'packages': ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawProject() {
            var projectData = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Rural', 600],
                ['Urban', 400]
            ]);
            new google.visualization.PieChart(document.getElementById('projectRural'))
                .draw(projectData, {
                    'title': 'Project-wide Rural Engagement',
                    height: 300,
                    is3D: true,
                });
        }

        function drawSite() {
            var siteData = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Rural', 68],
                ['Urban', 32]
            ]);


            new google.visualization.PieChart(document.getElementById('siteRural'))
                .draw(siteData, {
                    'title': 'Rural Engagement in Phoenix',
                    height: 300,
                    is3D: true,
                });
        }

        // Draw the chart and set the chart values
        function drawCharts() {
            drawProject();
            drawSite();
            //TODO: redraw on window resize
        }
    </script>

{% endblock %}