{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Case Review</h3>
                    </div>
                    <div class="panel-body">
                        {# TODO: add method=post and proper action #}
                        <form action="casereview.html" method="post">
                            <div class="form-group">
                                <label for="field">Locate By</label>
                                <select name="field" id="field" class="form-control">
                                    <option value="sid"> Study ID
                                    <option value="mrn"> Medical Record Number
                                    <option value="name"> Last Name
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fvalue">Search Key</label>
                                <input type="text" name="fvalue" id="fvalue" class="form-control"/>
                            </div>
                            <div class="pull-right">
                                <input type="submit" value="Submit" class="btn btn-primary" id="submit-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Case</h3>
                    </div>
                    <div class="panel-body">
                        {# TODO: add method=post and proper action #}
                        <form action="intake.html" method="post">
                            <div class="form-group">
                                <label for="saminame">Name</label>
                                <input type="text" class="form-control" id="saminame" name="saminame"
                                       placeholder="Last, First">
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h1>Statistics
            <small>MOCKUPS ONLY</small>
        </h1>

        <div id="projectRural" class="col-lg-3  col-sm-6"></div>
        <div id="siteRural" class="col-lg-3  col-sm-6"></div>
        <div id="patientsEnrolled" class="col-lg-6  col-sm-12"></div>

    </div>
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $(function () {
            $("#fvalue").focus();
        });

        // Load google charts
        google.charts.load('current', {'packages': ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawProject() {
            var projectData = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Rural', 600],
                ['Urban', 400]
            ]);
            new google.visualization.PieChart(document.getElementById('projectRural'))
                .draw(projectData, {
                    'title': 'Project-wide Rural Engagement',
                    height: 300,
                    is3D: true,
                });
        }

        function drawSite() {
            var siteData = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Rural', 68],
                ['Urban', 32]
            ]);


            new google.visualization.PieChart(document.getElementById('siteRural'))
                .draw(siteData, {
                    'title': 'Rural Engagement in Phoenix',
                    height: 300,
                    is3D: true,
                });
        }

        function drawEnrollment() {
            var data = google.visualization.arrayToDataTable([
                ['City', 'Population'],
                ['Brooklyn, NY', 8175],
                ['Philadelphia, PA', 3792],
                ['Chicago, IL', 4695],
                ['Indianapolis, IN', 2099],
                ['Nashville, TN', 1345],
                ['Kansas City, KS', 1526],
                ['Tampa Bay, FL', 1853],
                ['Houston, TX', 3588],
                ['Phoenix, AZ', 5844],
                ['Los Angeles, CA', 7526]
            ]);

            var options = {
                title: 'Enrollment by Site',
                height: 400,
                legend: {
                    position: 'none'
                },
                hAxis: {
                    title: 'Total Population',
                    minValue: 0
                },
                vAxis: {
                    title: 'City'
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('patientsEnrolled'));

            chart.draw(data, options);
        }

        // Draw the chart and set the chart values
        function drawCharts() {
            drawProject();
            drawSite();
            drawEnrollment();
            //TODO: redraw on window resize
        }
    </script>

{% endblock %}