{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
<div class="container-fluid" style="max-width:1550px">
    <h1>
        Sample, Sammy G
        <small class="text-muted" title="Study ID">ST0001</small>
    </h1>
    <h2>{{ title | escape }}
        <small class="text-muted" title="Medical Record Number">1234567890</small>
    </h2>

    <hr/>
    <form action="{{ formPage+".html" if mockup else "/vapals" }}" class="validated" method="{{ formMethod }}"
          id="main-form">
        <input type="hidden" name="samiroute" value="postform"/>
        <input type="hidden" name="studyid" value="@@SID@@"/>
        <input type="hidden" name="form" value="@@FORMKEY@@"/>

        <h3>Pre-enrollment Eligibility</h3>
        <div class="row" id="pre-enrollment-questions">
            <div class="col-sm-3">
                <label for="sipechrt" class="required">Eligible based on chart?</label>
            </div>
            <div class="col-sm-3 form-group">
                {{ f.inlineRadioYN("sipechrt", true) }}
            </div>
            <div class="col-sm-6">
                <div class="alert alert-info" id="sipechrt-y-alert" style="display:none;">
                    Complete the remainder of the form; an intake note will be generated.
                </div>
                <div class="alert alert-info" id="sipechrt-n-alert" style="display:none;">
                    Indicate one or more reasons why the patient is not eligible for lung screening. No intake note will
                    be generated.
                </div>
            </div>
        </div>
        <div class="row" id="discussion-container">
            <div class="col-sm-3">
                <label for="sipedisc" class="required">Eligible based on discussion with patient?</label>
            </div>
            <div class="col-sm-3 form-group">
                {{ f.inlineRadioYN("sipedisc", true) }}
            </div>
        </div>

        <div class="row" id="reason-container">
            <div class="col-md-12 form-group">
                <h4>Reason(s)</h4>
            </div>

            <div class="col-md-12 form-group form-inline" id="reason-medical-container">
                <label for="siremhlc">Medical History</label><br/>
                {{ f.inlineCheckbox("siremhlc","y", "lung cancer") }}
                {{ f.inlineCheckbox("siremhhs","y", "health status") }}
                {{ f.inlineCheckbox("siremhot","y", "other") }}
                <input class="form-control" type="text" name="sireemhoo" id="sireemhoo"
                       placeholder="specify" required="required">
            </div>

            <div class="col-md-12" id="reason-elsewhere-container">
                <div class="form-group form-group-sm form-inline">
                    <label>Receiving Care Elsewhere</label><br/>
                    {{ f.inlineCheckbox("sirecepc","y", "followed in pulmonary clinic") }}
                    {{ f.inlineCheckbox("sirecenc","y", "followed in nodule clinic") }}
                    {{ f.inlineCheckbox("sireceho","y", "followed in Hematology-Oncology") }}
                    {{ f.inlineCheckbox("sirecepc","y", "private care") }}
                    {{ f.inlineCheckbox("sireceot","y", "other") }}
                    <input class="form-control form-inline" type="text" name="sireceoo" id="sireceoo"
                           placeholder="specify" required="required">
                </div>
            </div>

            <div class="col-md-12" id="reason-smoking-container">
                <div class="form-group form-group-sm form-inline">
                    <label>Smoking History</label><br/>
                    {{ f.inlineCheckbox("sireshqd","y", "quit date greater than 15 years") }}
                    {{ f.inlineCheckbox("sireshpy","y", "less than 30 pack years") }}
                    {{ f.inlineCheckbox("sireshnc","y", "non-cigarette Use (e.g. pipe, smokeless, vape, cannabis)") }}
                    {{ f.inlineCheckbox("sireshot","y", "other") }}
                    <input class="form-control form-inline" type="text" name="sireshoo" id="sireshoo"
                           placeholder="specify" required="required">
                </div>
            </div>

            <div class="col-md-12" id="reason-contact-container">
                <div class="form-group form-group-sm form-inline">
                    <label>Unable To Contact</label><br/>
                    {{ f.inlineCheckbox("sireucvm","y", "left voice message") }}
                    {{ f.inlineCheckbox("sireucbp","y", "bad phone number") }}
                    {{ f.inlineCheckbox("sireucot","y", "other") }}
                    <input class="form-control form-inline" type="text" name="sireucoo" id="sireucoo"
                           placeholder="specify" required="required">
                </div>
            </div>
        </div>


        <h3>Contact Information</h3>
        <div class="row">
            <div class="col-sm-4 col-md-3 form-group">
                <label for="sidc" class="required">Date of contact</label>
                {{ f.datepicker("sidc", "past", true) }}
            </div>

            <div class="col-sm-8 col-md-9 form-group">
                <label>How did you learn about the Lung Screening and Surveillance (LSS) program?</label>
                {{ f.checkbox("silnph", "1", "Phone") }}
                {{ f.checkbox("silnls", "1", "Letter sent") }}
                {{ f.checkbox("silnpu", "1", "Pulmonary") }}
                {{ f.checkbox("silnpc", "1", "PCP") }}
                {{ f.checkbox("silnpn", "1", "Oncology") }}
                {{ f.checkbox("silnpp", "1", "Smoking cessation program") }}
                {{ f.checkbox("silnpo", "1", "Other") }}
                <input class="form-control input-sm" type="text" name="silnpos"
                       id="silnpos" title="Other" required="required">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label class="required">Primary address verified</label>
                {{ f.inlineRadio("sipav", "sipav-y","y","Yes", true) }}
                {{ f.inlineRadio("sipav", "sipav-n","n","No") }}
            </div>
        </div>


        <div class="row">
            <div class="form-group col-sm-6 ">
                <label for="sipsa">Preferred address</label>
                <input type="text" name="sipsa" id="sipsa" class="form-control">
            </div>
            <div class="form-group col-sm-2">
                <label for="sipan">Apt # </label>
                <input type="text" name="sipan" id="sipan" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="sipcn">County </label>
                <input type="text" name="sipcn" id="sipcn" class="form-control">
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label for="sipc">City </label>
                <input type="text" name="sipc" id="sipc" class="form-control">
            </div>
            <div class="form-group col-md-1">
                <label for="sips">State </label>
                <input type="text" name="sips" id="sips" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="sipz">Zip </label>
                <input type="text" name="sipz" id="sipz" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="sipcr">Country </label>
                <input type="text" name="sipcr" id="sipcr" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6 ">
                <label for="sippn">Phone number</label>
                <input type="text" name="sippn" id="sippn" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label class="required">Rural status</label>
                {{ f.inlineRadio("sirs", "sirs-u","u","Urban", true) }}
                {{ f.inlineRadio("sirs", "sirs-r","r","Rural") }}
                {{ f.inlineRadio("sirs", "sirs-n","n","Unknown") }}
            </div>
        </div>

        <hr/>

        <h3>Smoking History</h3>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="sies">Have you ever smoked</label>
                <input type="text" name="sies" id="sies" class="form-control"/>
                {{ f.checkbox("siesn","1", "Never smoked") }}
                {{ f.checkbox("siesp","1", "Past") }}
                {{ f.checkbox("siesc","1", "Current") }}
                {{ f.checkbox("siesq","1", "Willing to quit") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('sicpd', 'How many cigarettes did you smoke per day?', "required") }}
            </div>
            <div class="col-sm-2 form-group">
                <input class="form-control numeric" type="text" name="sicpd" id="sicpd" maxlength="4"
                       required="required">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('sippd', 'How many packs of cigarettes did you smoke per day (PPD)?') }}
            </div>
            <div class="col-sm-2 form-group">
                <span id="sippd-val" class="control-label"></span>
            </div>
            <input type="hidden" name="sippd" id="sippd"/>


        </div>
        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('sisny', '# of years', "required") }}
            </div>
            <div class="col-sm-2 form-group">
                <input class="form-control numeric decimalformat" type="text" name="sisny" id="sisny"
                       required="required"
                       maxlength="4">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('sippy', 'Reported pack years') }}
            </div>
            <div class="col-sm-2 form-group">
                <span id="sippy-val"></span>
            </div>
            <input type="hidden" name="sippy" id="sippy"/>

        </div>
        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('siq', 'Quit') }}
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                {{ f.datepicker ("siq", "past") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('sicep', 'Smoking cessation education provided') }}
            </div>
            <div class="col-md-8 form-group">
                <textarea class="form-control" type="text" name="sicep" id="sicep"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('sicadx', 'Lung CA Dx (if applicable)') }}
            </div>
            <div class="col-md-4 form-group">
                {{ f.datepicker ("sicadx", "past") }}
            </div>
            <div class="col-md-4 form-group">
                <input class="form-control" type="text" name="sicadxl" id="sicadxl"/>
                <span class="help-block">Location if not in VA</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ f.floatingLabel('sipldct', 'Prior LDCT') }}
            </div>
            <div class="col-md-4 form-group">
                {{ f.datepicker ("sipldct", "past") }}
            </div>
            <div class="col-md-4 form-group">
                <input class="form-control" type="text" name="sipldctl" id="sipldctl"/>
                <span class="help-block">Location if not in VA</span>
            </div>
        </div>

        <hr/>
        <div class="row">
            <div class="col-md-12 form-group">
                {{ f.checkbox("siidmdc","1", "Informed Decision Making discussion complete", {}, true) }}
            </div>

        </div>
        <p class="alert alert-warning">
            Veteran of age and exposure to cigarette smoke as described above, and without a current
            diagnosis or obvious symptoms suggestive of lung cancer, has been educated today about the
            estimated risk for lung cancer, the possibility of a cure or live prolonging if an early lung
            cancer were to be found during screening, the possibility of imaging abnormalities not being
            lung cancer, the possibility of complications from additional diagnostic procedures, and the
            approximate amount of radiation exposure associated with each screening procedure. In addition,
            the Veteran has been educated today about the importance of avoiding exposure to cigarette
            smoke, available tobacco cessation programs and available lung screening services at this VA
            facility. Education material was provided to the veteran. <br/>
        </p>
        <div class="row" id="enrollment-container">
            <div class="col-md-12 form-group">
                <label class="required">Based on this information, the Veteran has opted to</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="sildct" id="sildct-n" value="n" required="required">
                        Not enroll
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="sildct" id="sildct-l" value="l">
                        Not enroll at this time, okay to contact in the future
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="sildct" id="sildct-y" value="y">
                        Enroll in the Lung Screening and Surveillance (LSS) program and have an LDCT ordered.
                        Coordination of care will be made by the LSS team
                    </label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="siclin" class="control-label">Clinical Indications for Initial Screening CT</label>
                <textarea class="form-control" id="siclin" name="siclin" rows="3"></textarea>
            </div>
        </div>

        <hr/>
        <h3>Current Status</h3>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="sistatus" class="required">Enrollment</label><br/>
                {{ f.inlineRadio("sistatus", "sistatus-active", "active", "Active", true) }}
                {{ f.inlineRadio("sistatus", "sistatus-inactive", "inactive", "Not active") }}
            </div>
        </div>

        <div id="reason-for-change-container" style="display: none;">
            <hr/>
            <h3>Reason for change</h3>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="sistachg" class="required">Reason</label><br/>
                    <select id="sistachg" name="sistachg" required="required" class="form-control">
                        <option value="">-</option>
                        <option value="transferred">Transferred to another institution (specify)</option>
                        <option value="medical">Unable due to medical reason (specify)</option>
                        <option value="unwilling">Unwilling due to personal reason (specify)</option>
                        <option value="refused">Refused to continue</option>
                        <option value="illadvised">Physician advised against</option>
                        <option value="radiation">Concern about radiation</option>
                        <option value="moved">Moved and unable to return</option>
                        <option value="insurance">No insurance, can't have Dx CT</option>
                        <option value="cost">Burden of cost</option>
                        <option value="other">Other (specify)</option>
                        <option value="excluded">Excluded (specify)</option>
                        <option value="complete">Study complete</option>
                        <option value="noresponse">No response to 3 calls + 3 letters</option>
                        <option value="nocontact">Unable to contact</option>
                        <option value="followed">Being followed elsewhere (get results)</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-md-8 form-group">
                    <label for="sistreas" class="required">Explanation</label><br/>
                    <textarea class="form-control" type="text" name="sistreas" id="sistreas"></textarea>
                </div>
            </div>

        </div>

        <div class="row" id="change-log-container">
            <div class="col-sm-12">
                <h4>Change Log</h4>
                <pre class="prettyprint source linenums" id="changelog">{{ "2018-10-31 12:00 PM - {USERNAME} changed to {FIELD} to {VALUE}: {REASON} - {EXPLANATION}" if mockup else "" }}</pre>
            </div>
        </div>

        <hr/>
        <div class="pull-left">
            <input type="hidden" name="samistatus" value=""/>
            <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
            <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
        </div>
        <div class="pull-right">
            <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
        </div>
    </form>
</div>

{{ f.deleteFormModal("intake.html", mockup, formMethod) }}


{% endblock %}

{% block script %}
<script language="JavaScript">


    //purposefully executed before DOM is rendered so section is never visible
    const newForm = "@@NEWFORM@@";
    if (newForm == "true") {
        $("#reason-for-change-container").remove();
        $("#change-log-container").remove();
    }

    const enrolled = $("#sildct-y").is(":checked");
    if (enrolled) {
        const $preSection = $("#pre-enrollment-questions").html("");
        const $preCol = $('<div class="col-lg-5 col-md-6 col-sm-8"/>');
        const $preAlert = $("<div class=\"alert alert-info\">Patient was eligible based on chart and patient discussion.</div>");
        $preCol.append($('<input type="hidden" id="sipechrt" name="sipechrt" value="y"/>'));
        $preCol.append($('<input type="hidden" id="sipedisc" name="sipedisc" value="y"/>'));
        $preCol.append($preAlert);
        $preSection.append($preCol);

        $("#discussion-container").remove();
        $("#reason-container").remove();

        const $enrollSection = $("#enrollment-container").html("");
        const $enrollCol = $('<div class="col-lg-5 col-md-6 col-sm-8"/>');
        const $enrollAlert = $("<div class=\"alert alert-info\">Patient has been enrolled in the Lung Screening and Surveillance (LSS) program.</div>");
        $enrollCol.append($('<input type="hidden" id="sildct" name="sildct" value="y"/>'));
        $enrollCol.append($enrollAlert);
        $enrollSection.append($enrollCol);
    }


    function createFormValidator() {

        const $form = $('#main-form');
        const multiInputValidators = ['sipechrt', 'sipedisc', 'siremhlc', 'sipav', 'sirs', 'sistatus'];

        $form.formValidation({
                fields: {
                    siremhlc: { //use a real element name for the field so conditional plugins can toggle the field
                        selector: '[name^=sire]',
                        validators: {choice: {min: 1, message: 'Select one or more reasons'}}
                    },
                    siremhoo: {validators: {notEmpty: {message: 'Other is required'}}},
                    sireshoo: {validators: {notEmpty: {message: 'Other is required'}}},
                    sireceoo: {validators: {notEmpty: {message: 'Other is required'}}},
                    sireucoo: {validators: {notEmpty: {message: 'Other is required'}}},
                    sidc: {
                        validators: {
                            notEmpty: {message: 'Contact date is required'},
                            date: {max: VAPALS.todaysDate(), message: 'Contact date may not be in the future'}
                        }
                    },
                    silnpos: {validators: {notEmpty: {message: 'Other is required'}}},
                    sipav: {validators: {notEmpty: {message: 'Primary address verification is required'}}},
                    sippn: {validators: {phone: {message: 'Not a valid US phone number', country: 'US'}}},
                    sirs: {validators: {notEmpty: {message: 'Rural status is required'}}},
                    sicpd: {
                        validators: {
                            notEmpty: {message: 'Packs per day is required'},
                            integer: {message: 'must be a whole number'}
                        }
                    },
                    sisny: {
                        validators: {
                            notEmpty: {message: 'Number of years is required'},
                            integer: {message: 'must be a whole number'}
                        }
                    },
                    siidmdc: {validators: {notEmpty: {message: 'Informed decision making is required'}}},
                    sistatus: {validators: {notEmpty: {message: 'Enrollment status is required'}}},
                    sistachg: {validators: {notEmpty: {message: 'Reason for change is required'}}},
                    sistreas: {validators: {notEmpty: {message: 'Explanation is required'}}},
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap3: new FormValidation.plugins.Bootstrap3(),
                    submitButton: new FormValidation.plugins.SubmitButton({selector: "#submit-button"}),
                    defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                    excluded: new FormValidation.plugins.Excluded(), //disable validators on hidden, disabled fields
                    icon: new FormValidation.plugins.Icon({
                        valid: '',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh',
                        onPlaced: function (e) {
                            if (multiInputValidators.indexOf(e.field) > -1) {

                                let selector = "";
                                if (e.element.id) {
                                    selector = "#" + e.element.id
                                }
                                else {
                                    selector = "[name=" + e.element.name + "]"
                                }

                                $(selector).closest(".form-group").append(e.iconElement);
                            }
                        },
                    })
                }
            }
        );


        const fv = $form.data('formValidation');
        if (!enrolled) {
            fv.addField('sipechrt', {validators: {notEmpty: {message: 'Chart review is required'}}});
            fv.addField('sipedisc', {validators: {notEmpty: {message: 'Discussion review is required'}}});
            fv.addField('sildct', {validators: {notEmpty: {message: 'Veterans\' option is required'}}});
        }
        fv.on('core.form.invalid', VAPALS.autoScrollToErrorField);
        fv.on('core.element.validated', VAPALS.hideSuccessFormatting);

        return fv;
    }

    $(function () {

        const fv = createFormValidator();

        $("#sicpd").on('keyup change', function () {
            const cigsPerDay = $("#sicpd").val();
            const $sippd = $("#sippd");
            const $sippdVal = $("#sippd-val");
            if (cigsPerDay >= 0) {
                const cpd = (cigsPerDay / 20).toFixed(2);
                if (cpd > 0) {
                    $sippd.val(cpd);
                    $sippdVal.text(cpd);
                }
                else {
                    $sippd.val("");
                    $sippdVal.text("-");
                }
                $sippd.change();
            }
        }).trigger('change');

        $("#sippd, #sisny").on('keyup change', function () {
            const packsPerDay = $("#sippd").val();
            const cigYears = $("#sisny").val();
            if (packsPerDay > 0 && cigYears > 0) {
                const packYears = (packsPerDay * cigYears).toFixed(1);
                if (packYears > 0) {
                    $("#sippy").val(packYears);
                    $("#sippy-val").text(packYears);
                }
            } else {
                $("#sippy").val("");
                $("#sippy-val").text("-");
            }

        }).first().trigger('change');


        //Pre enrollment: Chart eligibility
        $("[name=sipechrt]").conditionallyDisplay({
            sourceValues: "n",
            enable: "#reason-container, #reason-medical-container, #reason-smoking-container, #reason-elsewhere-container",
            disable: "#discussion-container, #reason-contact-container"
        }).on('change', function () {
            const value = $("[name=sipechrt]:checked").val();
            const $yesAlert = $("#sipechrt-y-alert"), $noAlert = $("#sipechrt-n-alert");
            const fields = [
                'sidc',     //contact date
                'sicpd',    //packs per day
                'sisny',    //packs per year
                'siidmdc',  //informed decision making
                'sildct'    //enrollment
            ];

            if (value === "n") {
                $yesAlert.hide();
                $noAlert.show();

                $.each(fields, function (i, s) {
                    //disable the validiator and remove required asterisk from associated labels
                    fv.disableValidator(s);
                    $("[name='" + s + "']").closest(".form-group").find('label').removeClass('required')
                });

                //auto-select "inactive" status
                $("#sistatus-inactive").click();

            }
            else if (value === "y") {
                $yesAlert.show();
                $noAlert.hide();

                $.each(fields, function (i, s) {
                    //disable the validiator and remove required asterisk from associated labels
                    fv.enableValidator(s);
                    $("[name='" + s + "']").closest(".form-group").find('label').first().addClass('required')
                });

            }
            else {
                $yesAlert.hide();
                $noAlert.hide();
            }
        });

        //Pre-Enrollment: Patient discussion
        $("[name=sipedisc]").conditionallyDisplay({
            sourceValues: "n",
            enable: "#reason-container, #reason-medical-container, #reason-smoking-container, #reason-elsewhere-container, #reason-contact-container"
        });

        //Pre enrollment - other reason fields
        $("#siremhot").conditionallyDisplay({value: "y", enable: "#sireemhoo"});
        $("#sireshot").conditionallyDisplay({value: "y", enable: "#sireshoo"});
        $("#sireceot").conditionallyDisplay({value: "y", enable: "#sireceoo"});
        $("#sireucot").conditionallyDisplay({value: "y", enable: "#sireucoo"});


        //Contact info - how did you learn about LCS
        $("#silnpo").conditionallyEnable({sourceValues: "1", enable: "#silnpos"});


        $("[name=sistatus]").on('change', function () {
            //require reason fields when marking patient as "not active"
            $("#reason-for-change-container").toggle($("#sistatus-inactive").is(":checked"));

        });
    });
</script>
{% endblock %}