{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block head %}
    <style>
        #wizard-bar.affix-top {
            position: static;
        }

        #wizard-bar.affix {
            position: sticky;
            top: 0;
            z-index: 1000;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid" style="max-width:1550px">
    <h1>
        Sample, Sammy G
        <small class="text-muted" title="Study ID">ST0001</small>
    </h1>
    <h2>{{ title | escape }}
        <small class="text-muted" title="Medical Record Number">1234567890</small>
    </h2>

    <hr/>


    {# Build a navigation bar that will affix itself to the top of the screen and highligh active sections#}
    {% set tab_list = [("Chart Eligibility","chart-eligibility"), ("Intake", "intake")] -%}
    <nav class="navbar navbar-default hidden-xs" id="wizard-bar" data-spy="affix" data-offset-top="220"
         data-offset-bottom="70">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav navbar-nav">
                    {% for tab_name,tab_id in tab_list -%}
                        <li><a href="#{{ tab_id }}" id="{{ tab_id }}-tab">{{ tab_name }}</a></li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </nav>


    <form action="{{ formPage+".html" if mockup else "/vapals" }}" class="validated" method="{{ formMethod }}"
          id="main-form">
        <input type="hidden" name="samiroute" value="postform"/>
        <input type="hidden" name="studyid" value="@@SID@@"/>
        <input type="hidden" name="form" value="@@FORMKEY@@"/>

        <div id="chart-eligibility">
            <div class="row">
                <div class="col-md-12">
                    <p class="required lead">
                        The participant was identified as a potential lung screening candidate by:
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        {{ f.radio('siceiden', 'siceiden-referral', 'referral', 'Referral', true) }}
                        {{ f.radio('siceiden', 'siceiden-ldct', 'ldct', 'Low-dose CT placed directly by clinician', true) }}
                        {{ f.radio('siceiden', 'siceiden-lspo', 'outreach', 'Lung screening program outreach', true) }}
                        {{ f.radio('siceiden', 'siceiden-self', 'self', 'Self-referred', true) }}
                    </div>
                </div>
                <div class="col-sm-6" id="referral-container" style="display: none;">
                    <div class="form-group">
                        <label for="sicerfdt" class="required">Date of referral</label>
                        {{ f.datepicker('sicerfdt', 'past', true) }}
                    </div>
                    <div class="form-group">
                        <label class="required doc-heading">Specialty of referring provider</label>
                        <br/>
                        {{ f.checkbox('sicerfpc', 'y', 'Primary Care') }}
                        {{ f.checkbox('sicerfwh', 'y', 'Women\'s Health') }}
                        {{ f.checkbox('sicerfge', 'y', 'Geriatrics') }}
                        {{ f.checkbox('sicerfpu', 'y', 'Pulmonology') }}
                        {{ f.checkbox('sicerfon', 'y', 'Oncology') }}
                        {{ f.checkbox('sicerfsc', 'y', 'Smoking Cessation') }}
                        {{ f.checkbox('sicerfot', 'y', 'Other') }}
                        <input class="form-control form-inline" type="text" name="sicerfoo" id="sicerfoo"
                               placeholder="specify" required="required">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <p class="required lead">Eligible based on chart review?</p>
                </div>
                <div class="col-sm-6 col-md-8 form-group">
                    {{ f.inlineRadioYN("sicechrt", true) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info" id="sicechrt-y-alert" style="display:none;">
                        Complete the remainder of the form; an intake note will be generated.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" id="reason-container" style="display:none;">
                        <div class="alert alert-warning"
                             style="margin-bottom: 0;border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
                            Indicate one or more reasons why the patient is not eligible for lung screening. No intake
                            note will be generated.
                        </div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm form-inline">
                                <label for="sicemhlc">Medical History</label><br/>
                                {{ f.inlineCheckbox("sicemhlc","y", "lung cancer", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("sicemhhs","y", "health status", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("sicemhot","y", "other", {'group':'ineligible-reason'}) }}
                                <input class="form-control" type="text" name="sicemhoo" id="sicemhoo"
                                       placeholder="specify" required="required">
                                <br/>
                                <br/>

                                <label>Receiving Care Elsewhere</label><br/>
                                {{ f.inlineCheckbox("sicecepc","y", "followed in pulmonary clinic", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("sicecenc","y", "followed in nodule clinic", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("siceceho","y", "followed in hematology-Oncology", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("sicecepr","y", "private care", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("siceceot","y", "other", {'group':'ineligible-reason'}) }}
                                <input class="form-control" type="text" name="siceceoo" id="siceceoo"
                                       placeholder="specify" required="required">
                                <br/>
                                <br/>

                                <label>Smoking History</label><br/>
                                {{ f.inlineCheckbox("siceshqd","y", "quit date greater than 15 years", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("siceshpy","y", "less than 30 pack years", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("siceshnc","y", "non-cigarette use (e.g. pipe, smokeless, vape, cannabis)", {'group':'ineligible-reason'}) }}
                                {{ f.inlineCheckbox("siceshot","y", "other", {'group':'ineligible-reason'}) }}
                                <input class="form-control" type="text" name="siceshoo" id="siceshoo"
                                       placeholder="specify" required="required">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="save-chart-eligibility">Submit Chart Eligibility</button>
        </div>
        <div id="pre-enrollment-discussion" style="display:none;">
            <hr/>
            <div class="row">
                <div class="col-sm-12">
                    <p class="required lead">Was a pre-enrollment discussion held?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    {{ f.inlineRadioYN("sipedisc", true) }}
                </div>
            </div>
            <div id="discussion-container">
                <h4>Pre-Enrollment Discussion</h4>
                <div class="row">
                    <div class="col-sm-4 col-md-3 form-group">
                        <label for="sipedc" class="required">Date of contact</label>
                        {{ f.datepicker("sipedc", "past", true) }}
                    </div>

                    <div class="col-sm-8 col-md-9 form-group">
                        <label>The lung screening program reached the participant or was contacted via
                            (check all that apply)?</label>
                        {{ f.checkbox("sipecnip", "1", "In person", {'group':'discussion-contact'}) }}
                        {{ f.checkbox("sipecnte", "1", "Telephone", {'group':'discussion-contact'}) }}
                        {{ f.checkbox("sipecnth", "1", "TeleHealth", {'group':'discussion-contact'}) }}
                        {{ f.checkbox("sipecnml", "1", "Mailed letter", {'group':'discussion-contact'}) }}
                        {{ f.checkbox("sipecnpp", "1", "Message in patient portal", {'group':'discussion-contact'}) }}
                        {{ f.checkbox("sipecnvd", "1", "Video-on-Demand (VOD)", {'group':'discussion-contact'}) }}
                        {{ f.checkbox("sipecnot", "1", "Other", {'group':'discussion-contact'}) }}
                        <input class="form-control input-sm" type="text" name="sipecnoo"
                               id="sipecnoo" title="Other contact method" required="required">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <p class="lead">A pre-enrollment discussion with the participant resulted in:</p>
                        <div class="form-group">
                            {{ f.radio("siperslt","siperslt-y","y", "Participant is interested in discussing lung screening. The program will proceed with enrollment process.", true ) }}
                            {{ f.radio("siperslt","siperslt-u","u", "Participant is unsure of lung screening. Ok to contact in the future.", true ) }}
                            {{ f.radio("siperslt","siperslt-nn","nn", "Participant is not interested in discussing lung screening at this time. Ok to contact in the future.", true ) }}
                            {{ f.radio("siperslt","siperslt-nf","nf", "Participant is not interested in discussing lung screening in the future.", true ) }}
                            {{ f.radio("siperslt","siperslt-na","na", "Unable to reach participant at this time.", true ) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="sipecmnt" class="required">Comments</label>
                            <textarea id="sipecmnt" name="sipecmnt" required="required" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="save-pre-enrollment-discussion">
                    Submit Pre-Enrollment Discussion
                </button>
            </div>
        </div>
        <div id="intake" style="display:none;">
            <hr/>
            <h3>Intake discussion</h3>
            <div class="row">
                <div class="col-sm-4 col-md-3 form-group">
                    <label for="sintdc" class="required">Date of contact</label>
                    {{ f.datepicker("sintdc", "past", true) }}
                </div>

                <div class="col-sm-8 col-md-9 form-group">
                    <label class="doc-heading">The lung screening program reached the participant or was contacted via
                        (check all that apply):</label>
                    {{ f.checkbox("sintcnip", "1", "In person", {'group':'intake-contact'}) }}
                    {{ f.checkbox("sintcnph", "1", "Telephone", {'group':'intake-contact'}) }}
                    {{ f.checkbox("sintcnth", "1", "TeleHealth", {'group':'intake-contact'}) }}
                    {{ f.checkbox("sintcnml", "1", "Mailed letter", {'group':'intake-contact'}) }}
                    {{ f.checkbox("sintcnpp", "1", "Message in patient portal", {'group':'intake-contact'}) }}
                    {{ f.checkbox("sintcnvd", "1", "Video-on-Demand (VOD)", {'group':'intake-contact'}) }}
                    {{ f.checkbox("sintcnot", "1", "Other", {'group':'intake-contact'}) }}

                    <input class="form-control input-sm" type="text" name="sintcnoo"
                           id="sintcnoo" title="Other contact method" required="required">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="required">Primary address verified</label>
                    {{ f.inlineRadio("sintpav", "sipav-y","y","Yes", true) }}
                    {{ f.inlineRadio("sintpav", "sipav-n","n","No") }}
                </div>
            </div>


            <div class="row">
                <div class="form-group col-sm-6 ">
                    <label for="sintpsa">Preferred address</label>
                    <input type="text" name="sintpsa" id="sintpsa" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <label for="sintpan">Apt # </label>
                    <input type="text" name="sintpan" id="sintpan" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label for="sintpcn">County</label>
                    <input type="text" name="sintpcn" id="sintpcn" class="form-control">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label for="sintpc">City </label>
                    <input type="text" name="sintpc" id="sintpc" class="form-control">
                </div>
                <div class="form-group col-md-1">
                    <label for="sintps">State </label>
                    <input type="text" name="sintps" id="sintps" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label for="sintpz">Zip </label>
                    <input type="text" name="sintpz" id="sintpz" class="form-control">
                    <small class="text-muted" id="rural-text"></small>
                </div>
                <div class="form-group col-md-3">
                    <label for="sintpcr">Country </label>
                    <input type="text" name="sintpcr" id="sintpcr" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 ">
                    <label for="sintppn">Phone number</label>
                    <input type="text" name="sintppn" id="sintppn" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="required">Rural status</label>
                    {{ f.inlineRadio("sintrs", "sintrs-u","u","Urban", true) }}
                    {{ f.inlineRadio("sintrs", "sintrs-r","r","Rural") }}
                    {{ f.inlineRadio("sintrs", "sintrs-n","n","Unknown") }}
                </div>
            </div>

            <hr/>

            <h3>Smoking History</h3>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="sintes">Have you ever smoked</label>
                    <input type="text" name="sintes" id="sintes" class="form-control"/>
                    {{ f.checkbox("sintesn","1", "Never smoked") }}
                    {{ f.checkbox("sintesp","1", "Past") }}
                    {{ f.checkbox("sintesc","1", "Current") }}
                    {{ f.checkbox("sintesq","1", "Willing to quit") }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintcpd', 'How many cigarettes did you smoke per day?', "required") }}
                </div>
                <div class="col-sm-2">
                    <input class="form-control numeric" type="text" name="sintcpd" id="sintcpd" maxlength="4"
                           required="required">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintppd', 'How many packs of cigarettes did you smoke per day (PPD)?') }}
                </div>
                <div class="col-sm-2">
                    <span id="sintppd-val" class="control-label"></span>
                </div>
                <input type="hidden" name="sintppd" id="sintppd"/>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintsny', '# of years', "required") }}
                </div>
                <div class="col-sm-2">
                    <input class="form-control numeric decimalformat" type="text" name="sintsny" id="sintsny"
                           required="required" maxlength="4">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintppy', 'Reported pack years') }}
                </div>
                <div class="col-sm-2">
                    <span id="sintppy-val"></span>
                </div>
                <input type="hidden" name="sintppy" id="sintppy"/>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintq', 'Quit') }}
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    {{ f.datepicker ("sintq", "past") }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintcep', 'Smoking cessation education provided') }}
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" type="text" name="sintcep" id="sintcep"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintcadx', 'Lung CA Dx (if applicable)') }}
                </div>
                <div class="col-md-4">
                    {{ f.datepicker ("sintcadx", "past") }}
                </div>
                <div class="col-md-4 form-group">
                    <input class="form-control" type="text" name="sintcadl" id="sintcadl" title="Lung CA Dx location"/>
                    <span class="help-block">Location if not in VA</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sinttxct', 'Any prior thorax CT') }}
                </div>
                <div class="col-md-4">
                    {{ f.datepicker ("sinttxct", "past") }}
                </div>
                <div class="col-md-4 form-group">
                    <input class="form-control numeric" type="text" name="sintcadl" id="sintcadl"
                           title="Number thorax CT"/>
                    <span class="help-block">Number</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    {{ f.floatingLabel('sintpldc', 'Prior LDCT') }}
                </div>
                <div class="col-md-4">
                    {{ f.datepicker ("sintpldc", "past") }}
                </div>
                <div class="col-md-4 form-group">
                    <input class="form-control" type="text" name="sintpldl" id="sintpldl" title="Prior LDCT location"/>
                    <span class="help-block">Location if not in VA</span>
                </div>
            </div>

            <hr/>
            <div id="enrollment-container">
                <div class="row">
                    <div class="col-md-12 form-group">
                        {{ f.checkbox("sintidmd","1", "Informed decision making discussion complete", {}, true) }}
                    </div>
                </div>
                <p class="alert alert-warning">
                    Veteran of age and exposure to cigarette smoke as described above, and without a current
                    diagnosis or obvious symptoms suggestive of lung cancer, has been educated today about the
                    estimated risk for lung cancer, the possibility of a cure or live prolonging if an early lung
                    cancer were to be found during screening, the possibility of imaging abnormalities not being
                    lung cancer, the possibility of complications from additional diagnostic procedures, and the
                    approximate amount of radiation exposure associated with each screening procedure. In addition,
                    the Veteran has been educated today about the importance of avoiding exposure to cigarette
                    smoke, available tobacco cessation programs and available lung screening services at this VA
                    facility. Education material was provided to the veteran. <br/>
                </p>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="required">Based on this information, the Veteran has opted to</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sintldct" id="sintldct-n" value="n" required="required">
                                Not enroll
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sintldct" id="sintldct-l" value="l">
                                Not enroll at this time, okay to contact in the future
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sintldct" id="sintldct-y" value="y">
                                Enroll in the Lung Screening and Surveillance (LSS) program and have an LDCT ordered.
                                Coordination of care will be made by the LSS team
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="sintclin" class="control-label">Clinical Indications for Initial Screening CT</label>
                    <textarea class="form-control" id="sintclin" name="sintclin" rows="3"></textarea>
                </div>
            </div>

            <hr/>
            <h3>Current Status</h3>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="sistatus" class="required">Enrollment</label><br/>
                    {{ f.inlineRadio("sintstat", "sintstat-active", "active", "Active", true) }}
                    {{ f.inlineRadio("sintstat", "sintstat-inactive", "inactive", "Not active") }}
                </div>
            </div>

            <div id="reason-for-change-container" style="display: none;">
                <hr/>
                <h3>Reason for change</h3>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="sintstre" class="required">Reason</label><br/>
                        <select id="sintstre" name="sintstre" required="required" class="form-control">
                            <option value="">-</option>
                            <option value="transferred">Transferred to another institution (specify)</option>
                            <option value="medical">Unable due to medical reason (specify)</option>
                            <option value="unwilling">Unwilling due to personal reason (specify)</option>
                            <option value="refused">Refused to continue</option>
                            <option value="illadvised">Physician advised against</option>
                            <option value="radiation">Concern about radiation</option>
                            <option value="moved">Moved and unable to return</option>
                            <option value="insurance">No insurance, can't have Dx CT</option>
                            <option value="cost">Burden of cost</option>
                            <option value="other">Other (specify)</option>
                            <option value="excluded">Excluded (specify)</option>
                            <option value="complete">Study complete</option>
                            <option value="noresponse">No response to 3 calls + 3 letters</option>
                            <option value="nocontact">Unable to contact</option>
                            <option value="followed">Being followed elsewhere (get results)</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8 form-group">
                        <label for="sintstrx" class="required">Explanation</label><br/>
                        <textarea class="form-control" type="text" name="sintstrx" id="sintstrx"></textarea>
                    </div>
                </div>

            </div>

            <div class="row" id="change-log-container">
                <div class="col-sm-12">
                    <h4>Change Log</h4>
                    <pre class="prettyprint source linenums" id="changelog">{{ "2018-10-31 12:00 PM - {USERNAME} changed to {FIELD} to {VALUE}: {REASON} - {EXPLANATION}" if mockup else "" }}</pre>
                </div>
            </div>

            <hr/>
            <div class="pull-left">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
            <div class="pull-right">
                <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
            </div>
        </div>
    </form>
</div>

{{ f.deleteFormModal("intake.html", mockup, formMethod) }}


{% endblock %}

{% block script %}
<script language="JavaScript">


    //purposefully executed before DOM is rendered so section is never visible
    const newForm = "@@NEWFORM@@";
    if (newForm === "true") {
        $("#reason-for-change-container").remove();
        $("#change-log-container").remove();
    }

    const enrolled = $("#sildct-y").is(":checked");
    if (enrolled) {
        const $preSection = $("#chart-eligibility").html("");
        const $preCol = $('<div class="col-lg-5 col-md-6 col-sm-8"></div>');
        const $preAlert = $("<div class=\"alert alert-info\">Patient was eligible based on chart and patient discussion.</div>");
        $preCol.append($('<input type="hidden" id="sicechrt" name="sicechrt" value="y"/>'));
        $preCol.append($preAlert);
        $preSection.append($preCol);

        $("#pre-enrollment-discussion").remove();
        $("#reason-container").remove();

        const $enrollSection = $("#enrollment-container").html("");
        const $enrollCol = $('<div class="col-lg-5 col-md-6 col-sm-8"></div>');
        const $enrollAlert = $("<div class=\"alert alert-info\">Informed decision making was completed and patient " +
            "has been enrolled in the Lung Screening and Surveillance (LSS) program.</div>");
        $enrollCol.append($('<input type="hidden" id="sintldct" name="sintldct" value="y"/>')); //veterans' option to enroll
        $enrollCol.append($('<input type="hidden" id="sintidmd" name="sintidmd" value="1"/>')); //informed decision making

        $enrollCol.append($enrollAlert);
        $enrollSection.append($enrollCol);
    }


    function createFormValidator() {

        const $form = $('#main-form');
        const multiInputValidators = ['siceiden', 'sicechrt', 'sicemhlc', 'sipedisc', 'sintpav', 'sintrs', 'sintstat'];

        $form.formValidation({
                fields: {
                    siceiden: {
                        validators: {notEmpty: {message: 'Potential candidate is required'}}
                    },
                    sicerfdt: {
                        validators: {
                            notEmpty: {message: 'Referral date is required'},
                            date: {max: VAPALS.todaysDate(), message: 'Referral date may not be in the future'}
                        }
                    },
                    sicerfpc: { //use a real element name for the field so conditional plugins can toggle the field
                        selector: '[name^=sicerf][type=checkbox]',
                        validators: {choice: {min: 1, message: 'Select one or more specialty providers'}}
                    },
                    sicerfoo: {
                        validators: {notEmpty: {message: 'Other referring provider specialty is required'}}
                    },
                    sicemhlc: { //use a real element name for the field so conditional plugins can toggle the field
                        selector: '[group=ineligible-reason]',
                        validators: {choice: {min: 1, message: 'Select one or more reasons'}}
                    },
                    sicemhoo: {validators: {notEmpty: {message: 'Other medical reason is required'}}},
                    siceceoo: {validators: {notEmpty: {message: 'Other care is required'}}},
                    siceshoo: {validators: {notEmpty: {message: 'Other smoking history is required'}}},

                    //Pre-Enrollment Discussion
                    sipedc: {
                        validators: {
                            notEmpty: {message: 'Contact date is required'},
                            date: {max: VAPALS.todaysDate(), message: 'Contact date may not be in the future'}
                        }
                    },
                    sipecnip: { //use a real element name for the field so conditional plugins can toggle the field
                        selector: '[group=discussion-contact]',
                        validators: {choice: {min: 1, message: 'Select one or more contact methods'}}
                    },
                    sipecnoo: {validators: {notEmpty: {message: 'Other contact method is required'}}},
                    siperslt: {validators: {notEmpty: {message: 'Discussion result is required'}}},
                    sipecmnt: {validators: {notEmpty: {message: 'Discussion comments are required'}}},

                    //Intake section

                    sintdc: {
                        validators: {
                            notEmpty: {message: 'Contact date is required'},
                            date: {max: VAPALS.todaysDate(), message: 'Contact date may not be in the future'}
                        }
                    },
                    sintcnip: { //use a real element name for the field so conditional plugins can toggle the field
                        selector: '[group=intake-contact]',
                        validators: {choice: {min: 1, message: 'Select one or more contact methods'}}
                    },
                    sintcnoo: {validators: {notEmpty: {message: 'Other contact method is required'}}},
                    sintpav: {validators: {notEmpty: {message: 'Primary address verification is required'}}},
                    //TODO: shouldn't address be required?
                    sintppn: {validators: {phone: {message: 'Not a valid US phone number', country: 'US'}}},
                    sintrs: {validators: {notEmpty: {message: 'Rural status is required'}}},
                    sintcpd: {
                        validators: {
                            notEmpty: {message: 'Packs per day is required'},
                            integer: {message: 'must be a whole number'}
                        }
                    },
                    sintsny: {
                        validators: {
                            notEmpty: {message: 'Number of years is required'},
                            integer: {message: 'must be a whole number'}
                        }
                    },
                    sintidmd: {validators: {notEmpty: {message: 'Informed decision making is required'}}},
                    sintstat: {validators: {notEmpty: {message: 'Enrollment status is required'}}},
                    sintstre: {validators: {notEmpty: {message: 'Reason for change is required'}}},
                    sintstrx: {validators: {notEmpty: {message: 'Explanation is required'}}},

                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap3: new FormValidation.plugins.Bootstrap3(),
                    submitButton: new FormValidation.plugins.SubmitButton({selector: "#submit-button"}),
                    defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                    excluded: new FormValidation.plugins.Excluded(), //disable validators on hidden, disabled fields
                    icon: new FormValidation.plugins.Icon({
                        valid: '',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh',
                        onPlaced: function (e) {
                            if (multiInputValidators.indexOf(e.field) > -1) {

                                let selector = "";
                                if (e.element.id) {
                                    selector = "#" + e.element.id
                                } else {
                                    selector = "[name=" + e.element.name + "]"
                                }

                                $(selector).closest(".form-group").append(e.iconElement);
                            }
                        },
                    })
                }
            }
        );


        const fv = $form.data('formValidation');
        if (!enrolled) {
            fv.addField('sicechrt', {validators: {notEmpty: {message: 'Chart review is required'}}});
            fv.addField('sipedisc', {validators: {notEmpty: {message: 'Discussion review is required'}}});
            fv.addField('sintldct', {validators: {notEmpty: {message: 'Veterans\' option is required'}}});
        }
        fv.on('core.form.invalid', VAPALS.autoScrollToErrorField);
        fv.on('core.element.validated', VAPALS.hideSuccessFormatting);

        return fv;
    }

    $(function () {

        createFormValidator();
        const initialRuralUrbanValue = $("[name=sintrs]").filter(":checked").val();
        const $zipField = $("#sintpz");
        const RURAL = 'r';
        const URBAN = 'u';
        const UNKNOWN = 'n';
        let zipLookupTimer = 0;

        function zipLookup(updateSelection) {
            const zipcode = $zipField.val();
            const $ruralText = $("#rural-text");
            $.ajax(("/zipru/" + zipcode), {dataType: "json"})
                .done(function (json) {
                    const ruralData = json.result;
                    let message = "";
                    if (ruralData === URBAN) {
                        message = zipcode + " is an <em>urban</em> address";
                        if (updateSelection) {
                            $("[name=sintrs][value='" + URBAN + "']").prop('checked', true);
                        }
                    } else if (ruralData === RURAL) {
                        message = zipcode + " is a <em>rural</em> address";
                        if (updateSelection) {
                            $("[name=sintrs][value='" + RURAL + "']").prop('checked', true);
                        }
                    } else if (ruralData === UNKNOWN) {
                        message = "cannot determine rural/urban status";
                        if (updateSelection) {
                            $("[name=sintrs][value='" + UNKNOWN + "']").prop('checked', true);
                        }
                    }
                    $ruralText.html(message);
                })
                .fail(function () {
                    $ruralText.html("");
                });
        }

        //whenever the zip code is changed, determine the zip code designation, but wait until user stops typing.
        $zipField.on('keyup change', function () {
            if (zipLookupTimer) {
                clearTimeout(zipLookupTimer);
            }
            zipLookupTimer = setTimeout(function () {
                zipLookup(true);
            }, 400);
        });

        if ($zipField.val() !== "") {
            //if selection is blank, select the appropriate value, otherwise just get the help text
            const updateSelection = initialRuralUrbanValue === undefined;
            zipLookup(updateSelection);
        }

        //PRE-ENROLLMENT CHART ELIGIBILITY
        $("[name=siceiden]").conditionallyDisplay({sourceValues: "referral", enable: "#referral-container"});
        $("#sicerfot").conditionallyDisplay({enable: "#sicerfoo"});

        //If not eligible via chart, require the reason, hide the remainder of the form.
        $("[name=sicechrt]").conditionallyDisplay({
            sourceValues: "n",
            enable: "#reason-container",
            disable: "#pre-enrollment-discussion, #intake, #intake-tab"
        }).on('change', function () {
            //when patient is eligible, display informational message requiring remaining sections be completed.
            const eligible = $("[name=sicechrt]:checked").val();
            $("#sicechrt-y-alert").toggle(eligible === "y");
        });

        // "other" fields in reason block
        $("#sicemhot").conditionallyDisplay({enable: "#sicemhoo"}); //other medical history
        $("#siceceot").conditionallyDisplay({enable: "#siceceoo"}); //received care elsewhere
        $("#siceshot").conditionallyDisplay({enable: "#siceshoo"}); //other smoking history

        //start the page by hiding the discussion and intake sections if the current value for eligible based on chart review is not "Y"
        const eligible = $("[name=sicechrt]:checked").val();
        if (eligible === undefined || eligible === 'n') {
            $("#pre-enrollment-discussion, #intake, #intake-tab").hide();
        }

        //PRE-ENROLLMENT PATIENT DISCUSSION

        //enable discussion container when pre-enrollment discussion occurred AND enable intake area when pre-enrollment did NOT occur (default)
        $("[name=sipedisc]")
            .conditionallyDisplay({sourceValues: 'y', enable: '#discussion-container'})
            .conditionallyDisplay({sourceValues: 'n', enable: '#intake,#intake-tab'});

        //enable intake when pre-enrollment result is that the patient want's in.
        $("[name=siperslt]").conditionallyDisplay({enable: '#intake,#intake-tab'});

        $("#sipecnot").conditionallyEnable({sourceValues: "1", enable: "#sipecnoo"}); // other contact method

        // If unselected (initial form), preselect "no" as the default.
        const hadDiscussion = $("[name=sipedisc]:checked").val();
        if (hadDiscussion === undefined) {
            $("#sipedisc-n").prop("checked", true);
        }


        //INTAKE
        $("#sintcnot").conditionallyEnable({sourceValues: "1", enable: "#sintcnoo"});
        $("#sintcpd").on('keyup change', function () {
            const cigsPerDay = $("#sintcpd").val();
            const $sintppd = $("#sintppd");
            const $sintppdVal = $("#sintppd-val");
            if (cigsPerDay >= 0) {
                const cpd = (cigsPerDay / 20).toFixed(2);
                if (cpd > 0) {
                    $sintppd.val(cpd);
                    $sintppdVal.text(cpd);
                } else {
                    $sintppd.val("");
                    $sintppdVal.text("-");
                }
                $sintppd.change();
            }
        }).trigger('change');

        $("#sintppd, #sintsny").on('keyup change', function () {
            const packsPerDay = $("#sintppd").val();
            const cigYears = $("#sintsny").val();
            if (packsPerDay > 0 && cigYears > 0) {
                const packYears = (packsPerDay * cigYears).toFixed(1);
                if (packYears > 0) {
                    $("#sintppy").val(packYears);
                    $("#sintppy-val").text(packYears);
                }
            } else {
                $("#sintppy").val("");
                $("#sintppy-val").text("-");
            }

        }).first().trigger('change');


        $("[name=sintstat]").on('submit', function () {
//require reason fields when marking patient as "not active"
            $("#reason-for-change-container").toggle($("#sintstat-inactive").is(":checked"));

        });

        $('#body').scrollspy({target: '#wizard-bar'})
    });

    //NB: needs to be outside of jquery fx to prevent default
    $("#save-chart-eligibility").on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();
        const fv = $("form").data("formValidation");

        validateSection(fv, $("#chart-eligibility")).then(function (value) {
            if (value) {
                $("[name=samistatus]").val("chart-eligibility");
                $("form").trigger("submit");
            }
        }).catch(function (err) {
            console.error(err)
        });
    });
    $("#save-pre-enrollment-discussion").on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();
        const fv = $("form").data("formValidation");

        validateSection(fv, $("#pre-enrollment-discussion")).then(function (value) {
            if (value) {
                $("[name=samistatus]").val("pre-enrollment-discussion");
                $("form").trigger("submit");
            }
        }).catch(function (err) {
            console.error(err)
        });
    });


    /**
     * Validates all visible input fields within a section of the page using the provided formValidation instance
     * @param fv the form validator
     * @param $section the area to validate.
     * @returns {Promise<boolean>} true if validated without error; otherwise false.
     */
    async function validateSection(fv, $section) {
        const maxWaitMillis = 1000;
        const sleepIntervalMillis = 10;
        const $inputFields = $section.find(":input:visible");
        const fieldNames = $inputFields.map(function () {
            return this.name;
        }).get();
        const distinctNames = fieldNames.filter(VAPALS.unique);

        let remaining = 0;
        let elapsed = 0;
        let success = true;
        if (fv) {
            $.each(distinctNames, function (i, fieldName) {
                if (fieldName in fv.fields) {
                    remaining++;
                    //console.log("validating " + fieldName);
                    fv.validateField(fieldName).then(function (status) {
                        //console.log("Validation result for " + fieldName + " is " + status);
                        if (status === 'Invalid') {
                            success = false;
                        }
                        remaining--;
                    });
                }
            });

            while (remaining !== 0 && elapsed < maxWaitMillis) {
                //console.log("sleeping... remaining=" + remaining);
                await VAPALS.sleep(sleepIntervalMillis);
                elapsed = elapsed + sleepIntervalMillis;
            }
        }
        //console.log("validateSection() returning " + success + ", elapsed=" + elapsed);

        return success;
    }
</script>
{% endblock %}