{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block head %}
    <style>
        #wizard-bar.affix-top {
            position: static;
        }

        #wizard-bar.affix {
            position: sticky;
            top: 0;
            z-index: 1000;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>{{ title }}
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <hr/>

        {# Build a navigation bar that will affix itself to the top of the screen and highligh active sections#}
        {% set tab_list = [("Treatment","treatment"), ("Nodules", "nodules"), ("Emphysema/Coronary Calcifications","emphysema-coronary"),
                            ("Other Abnormalities","abnormalities"), ("Intervention & Follow Up","intervention")] -%}
        <nav class="navbar navbar-default hidden-xs" id="wizard-bar" data-spy="affix" data-offset-top="220"
             data-offset-bottom="70">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav navbar-nav">
                        {% for tab_name,tab_id in tab_list -%}
                            <li><a href="#{{ tab_id }}">{{ tab_name }}</a></li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <form action="{{ formPage+".html" if mockup else "/vapals" }}" method="{{ formMethod }}"
              class="validated" id="main-form">

            <input type="hidden" name="samiroute" value="postform"/>
            <input type="hidden" name="studyid" value="@@SID@@"/>
            <input type="hidden" name="form" value="@@FORMKEY@@"/>
            <div id="treatment" style="padding-top:8px">
                <h3>Treatment</h3> {# will get hidden with affixed menu#}
                <div class="row">
                    <div class="col-md-6">
                        <label for="rbcst8">Clinical TNM status
                            <small>(8th edition)</small>
                        </label>
                        <div class="form-group form-inline">

                            <select name="rbcst8" id="rbcst8" class="form-control">
                                <option value="-"> -</option>
                                <option value="0"> T0</option>
                                <option value="is"> Tis</option>
                                <option value="1am"> T1a mi</option>
                                <option value="1as"> T1a SS</option>
                                <option value="1a1"> T1a</option>
                                <option value="1b"> T1b</option>
                                <option value="1c"> T1c</option>
                                <option value="2v"> T2 Visc Pl</option>
                                <option value="2c"> T2 Centr</option>
                                <option value="2a"> T2a</option>
                                <option value="2b"> T2b</option>
                                <option value="3"> T3</option>
                                <option value="3i"> T3 Inv</option>
                                <option value="3s"> T3 Satell</option>
                                <option value="4"> T4</option>
                                <option value="4i"> T4 Inv</option>
                                <option value="4n"> T4 Ipsi Nod</option>
                                <option value="x"> TX</option>
                            </select>

                            <select name="rbcsn8" id="rbcsn8" class="form-control">
                                <option value="-"> -</option>
                                <option value="0"> N0</option>
                                <option value="1"> N1</option>
                                <option value="2"> N2</option>
                                <option value="3"> N3</option>
                                <option value="X"> NX</option>
                            </select>

                            <select name="rbcsm8" id="rbcsm8" class="form-control">
                                <option value="-"> -
                                <option value="0"> M0</option>
                                <option value="1ap"> M1a Pl Dissem</option>
                                <option value="1ac"> M1a Contr Nod</option>
                                <option value="1b"> M1b Single</option>
                                <option value="1c"> M1c Multi</option>
                                <option value="X"> MX</option>
                            </select>
                            {{ f.checkbox("rbcsx8", "y","Not applicable (specify)") }}
                        </div>
                    </div>

                    <div class="col-md-6" id="rbcsx8-container">
                        <div class="form-group">
                            <label for="rbcsx8s">Specify</label>
                            <input name="rbcsx8s" id="rbcsx8s" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 ">
                        <label for="rbcst8m">Clinical TNM status
                            <small>(8th edition modified)</small>
                        </label>
                        <div class="form-group form-inline">

                            <select name="rbcst8m" id="rbcst8m" class="form-control">
                                <option value="-"> -</option>
                                <option value="0"> T0</option>
                                <option value="is"> Tis</option>
                                <option value="1am"> T1a mi</option>
                                <option value="1as"> T1a SS</option>
                                <option value="1a1"> T1a</option>
                                <option value="1b"> T1b</option>
                                <option value="1c"> T1c</option>
                                <option value="2v"> T2 Visc Pl</option>
                                <option value="2c"> T2 Centr</option>
                                <option value="2a"> T2a</option>
                                <option value="2b"> T2b</option>
                                <option value="3"> T3</option>
                                <option value="3i"> T3 Inv</option>
                                <option value="3s"> T3 Satell</option>
                                <option value="4"> T4</option>
                                <option value="4i"> T4 Inv</option>
                                <option value="4n"> T4 Ipsi Nod</option>
                                <option value="x"> TX</option>
                            </select>

                            <select name="rbcsn8m" id="rbcsn8m" class="form-control">
                                <option value="-"> -</option>
                                <option value="0"> N0</option>
                                <option value="1"> N1</option>
                                <option value="2"> N2</option>
                                <option value="3"> N3</option>
                                <option value="X"> NX</option>
                            </select>

                            <select name="rbcsm8m" id="rbcsm8m" class="form-control">
                                <option value="-"> -</option>
                                <option value="0"> M0</option>
                                <option value="1ap"> M1a Pl Dissem</option>
                                <option value="1ac"> M1a Contr Nod</option>
                                <option value="1b"> M1b Single</option>
                                <option value="1c"> M1c Multi</option>
                                <option value="X"> MX</option>
                            </select>
                            {{ f.checkbox("rbcsx8m", "y","Not applicable (specify)") }}
                        </div>

                    </div>
                    <div class="col-md-6" id="rbcsx8m-container">
                        <div class="form-group">
                            <label for="rbcsxs8m">Specify</label>
                            <input name="rbcsxs8m" id="rbcsxs8m" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="rbcsb">Clinical staging based on:</label>
                        <div class="form-group  form-inline">
                            <label class="radio-inline">
                                <input type="radio" name="rbcsb" id="rbcsb-p" value="p">&nbsp;only PET
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rbcsb" id="rbcsb-b" value="b">&nbsp;both
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rbcsb" id="rbcsb-o" value="o">&nbsp;other (specify)
                            </label>
                        </div>

                    </div>

                    <div class="col-md-6" id="rbcsb-container">
                        <div class="form-group">
                            <label for="rbcsbos">Specify</label>
                            <input type="text" name="rbcsbos" id="sbcsbos" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label for="rbmd">Referring physician</label>
                        <input type="text" name="rbmd" id="rbmd" class="form-control">
                    </div>

                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label for="rbmdp">Referring physician's phone</label>
                        <input type="text" name="rbmdp" id="simdp" class="form-control"
                               data-fv-phone="true" data-fv-phone-country="US">
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label for="rbmdf">Referring physician's fax</label>
                        <input type="text" name="rbmdf" id="rbmdf" class="form-control"
                               data-fv-phone="true" data-fv-phone-country="US">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label for="rbsumd">Treating physician</label>
                        <input type="text" name="rbsumd" id="rbsumd" class="form-control">
                    </div>

                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label for="rbsumdp">Treating physician's phone</label>
                        <input type="text" name="rbsumdp" id="rbsumdp" class="form-control"
                               data-fv-phone="true" data-fv-phone-country="US">
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label for="rbsumdf">Treating physician's fax</label>
                        <input type="text" name="rbsumdf" id="rbsumdf" class="form-control"
                               data-fv-phone="true" data-fv-phone-country="US">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rbloc">Lesion site</label>
                            <select name="rbloc" id="rbloc" class="form-control">
                                <option value="-"> -</option>
                                <option value="lul"> LUL</option>
                                <option value="lll"> LLL</option>
                                <option value="rul"> RUL</option>
                                <option value="rml"> RML</option>
                                <option value="rll"> RLL</option>
                                <option value="e"> Endobronchial</option>
                                <option value="m"> Mediastinum</option>
                                <option value="p"> Pleura</option>
                                <option value="o"> Other (specify)</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6" id="rbloc-container">
                        <div class="form-group">
                            <label for="rblocs">Specify</label>
                            <input name="rblocs" id="rblocs" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rbtri">Indication for treatment</label>
                            <select name="rbtri" id="rbtri" class="form-control">
                                <option value="-"> -</option>
                                <option value="f"> First Lung Cancer</option>
                                <option value="r"> Recurrence</option>
                                <option value="n"> New Primary Lung Cancer</option>
                                <option value="o"> Other (specify)</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-6" id="rbtri-container">
                        <div class="form-group">
                            <label for="rbtric">Specify/Comments</label>
                            <input name="rbtric" id="rbtric" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="form-group col-md-3">
                            <label for="rbto">Treatment option</label>
                            <select id="rbto" name="rbto" class="form-control">
                                <option value="-"> -</option>
                                <option value="s"> Surgery</option>
                                <option value="r"> Radiation Therapy</option>
                                <option value="c"> Chemotherapy</option>
                                <option value="w"> Watchful Waiting</option>
                                <option value="o"> Other</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="rbsud">Treatment date</label>
                            {{ f.datepicker("rbsud", "past") }}
                        </div>

                    </div>

                    <div class="col-md-6" id="rbto-container">
                        <div class="form-group">
                            <label for="rbtos">Specify</label>
                            <input name="rbtos" id="rbtos" class="form-control">
                        </div>
                    </div>
                </div>

                {#Surgical Treatment#}
                <div id="surgery" style="display: none;">
                    <h2>Surgical Treatment Information</h2>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="sbahpft-n">Have you had a pulmonary function test?</label>
                                <br/>
                                <div class="form-group">
                                    {{ f.inlineRadioNY("sbahpft") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-8 form-inline" id="sbahpft-container">
                            <div class="form-group">
                                <label for="sbfev1">FEV1 (L/s)</label>
                                <input class="form-control input-sm" type="text" name="sbfev1" id="sbfev1" size="4">
                            </div>
                            <div class="form-group">
                                <label for="sbfvc">FVC (L)</label>
                                <input class="form-control input-sm" type="text" name="sbfvc" id="sbfvc" size="4">
                            </div>
                            <div class="form-group">
                                <label for="sbcop">Diffusion capacity (mL/min/mm Hg)</label>
                                <input class="form-control input-sm" type="text" name="sbcop" id="sbcop" size="4">
                            </div>
                            <div class="alert alert-info" id="ffr-message" style="display: none; margin-top:5px;">
                                FEV1/FVC (%) is <strong><span id="ffr-value"></span></strong>
                            </div>
                            <input type="hidden" name="sbffr" id="sbffr"/>
                            <div class="form-group">
                                <label for="sbcop">Carbon monoxide (ppm)</label>
                                <input name="sbcop" id="sbcop" class="form-control input-sm" size="3">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-inline">
                                <label for="rbmep-n">Was mediastinoscopy performed?</label>
                                <br/>
                                {{ f.inlineRadioNY("rbmep") }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8" id="mediastinoscopy-alert">
                            <div class="alert alert-warning">
                                Add information to the <em>Lymph node status</em> grid below.<br>
                                These should be in addition to any nodes resected during surgery, if performed.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="rbmed">Procedure date</label>
                                    {{ f.datepicker("rbmed", "past") }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="rbmspid">Specimen ID</label>
                                    <input name="rbmspid" id="rbmspid" class="form-control" size="24">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbmel">Location of procedure</label>
                                <input name="rbmel" id="rbmel" class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbmemd">Physician</label>
                                <input name="rbmemd" id="rbmemd" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="rbmemdp">Physician's phone</label>
                                    <input name="rbmemdp" id="rbmemdp" class="form-control" data-fv-phone="true"
                                           data-fv-phone-country="US">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="rbmemdf">Physician's fax</label>
                                    <input name="rbmemdf" id="rbmemdf" class="form-control" data-fv-phone="true"
                                           data-fv-phone-country="US">
                                </div>
                            </div>
                        </div>
                    </div>


                    <h3>Resection</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="required" for="rbrep-n">Was resection performed?</label>
                            <div class="form-group">
                                {{ f.inlineRadio("rbrep", "rbrep-n", "n", "No", true) }}
                                {{ f.inlineRadio("rbrep", "rbrep-y", "y", "Yes") }}
                                {{ f.inlineRadio("rbrep", "rbrep-r", "r", "Refused") }}
                                {{ f.inlineRadio("rbrep", "rbrep-a", "a", "Aborted due to positive mediastinoscopy or other reasons") }}
                                {{ f.inlineRadio("rbrep", "rbrep-q", "q", "?") }}
                            </div>
                        </div>
                        <div id="rbrep-container">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="rbsurd">If no or refused, give date</label>
                                    {{ f.datepicker("rbsurd", "past", true) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="rbsurr">If no or refused, give reason</label>
                                    <input name="rbsurr" id="rbsurr" class="form-control" size="24">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="form-group">
                                <label for="rbsul">Location of procedure</label>
                                <input name="rbsul" id="rbsul" class="form-control" size="24">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="rbtosv-v">Type of surgery</label>
                            <div class="form-group form-inline">
                                {{ f.checkbox( "rbtosv", "v", "VAT") }}
                                {{ f.checkbox( "rbtost", "t", "Thoracotomy") }}
                                {{ f.checkbox( "rbtosr", "r", "Robotic-assisted") }}
                                {{ f.checkbox( "rbtoso", "o", "Other") }}
                            </div>
                        </div>
                        <div class="col-md-6" id="rbtoso-container">
                            <div class="form-group">
                                <label for="rbtosos">Other (specify)</label>
                                <input name="rbtosos" id="rbtosos" class="form-control" size="24">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="rbvto-n">Was there a conversion of VATS to open?</label>
                            <div class="form-group form-inline">
                                {{ f.inlineRadio("rbvto", "rbvto-n", "n", "No", true) }}
                                {{ f.inlineRadio("rbvto", "rbvto-y", "y", "Yes", true) }}
                            </div>
                        </div>
                        <div id="rbvto-container">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="rbexs">Extent of surgery</label>
                                    <select name="rbexs" id="rbexs" class="form-control">
                                        <option value="-"> -</option>
                                        <option value="w"> Wedge resection</option>
                                        <option value="s"> Segmentectomy</option>
                                        <option value="l"> Lobectomy</option>
                                        <option value="b"> Bilobectomy</option>
                                        <option value="p"> Pneumonectomy</option>
                                        <option value="o"> Other (specify)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="rbexss">Extent (specify)</label>
                                    <input type="text" name="rbexss" id="rbexss" class="form-control" size="24">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning">
                                <em>For all resections, please fill out the following questions on the resection
                                    margin.</em>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbsrm">Distance to the resection margin (mm):</label>
                                <input type="text" name="rbsrm" id="rbsrm" class="form-control" size="6">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="rbrmm-g">Method of margin measurement:</label>
                            <div class="form-group">
                                {{ f.inlineRadio("rbrmm", "rbrmm-g", "g", "Gross", true) }}
                                {{ f.inlineRadio("rbrmm", "rbrmm-m", "m", "Micro", true) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="rbwm-s">Which margin?</label>
                            <div class="form-group form-inline">
                                {{ f.inlineRadio("rbwm", "rbwm-s", "s", "Staple Line", true) }}
                                {{ f.inlineRadio("rbwm", "rbwm-b", "b", "Bronchial", true) }}
                                {{ f.inlineRadio("rbwm", "rbwm-p", "p", "Parenchymal", true) }}
                                {{ f.inlineRadio("rbwm", "rbwm-v", "v", "Vascular", true) }}
                                {{ f.inlineRadio("rbwm", "rbwm-o", "o", "Other", true) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbwmc">Margin comments</label>
                                <input name="rbwmc" id="rbwmc" class="form-control" size="24">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="rbrmws-r">Margin measured with staples:</label>
                            <div class="form-group">
                                {{ f.inlineRadio("rbrmws", "rbrmws-r", "r", "Removed", true) }}
                                {{ f.inlineRadio("rbrmws", "rbrmws-i", "i", "Intact", true) }}
                                {{ f.inlineRadio("rbrmws", "rbrmws-u", "u", "Unknown", true) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="rbrmam-n">If initial margin positive, was additional margin sent?</label>
                            <div class="form-group">
                                {{ f.inlineRadio("rbrmam", "rbrmam-n", "n", "No", true) }}
                                {{ f.inlineRadio("rbrmam", "rbrmam-y", "y", "Yes", true) }}
                                {{ f.inlineRadio("rbrmam", "rbrmam-q", "q", "N/A", true) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbrmas">Additional specimens sent?</label>
                                <input type="text" name="rbrmas" id="rbrmas" class="form-control" size="32">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbspid">Specimen ID</label>
                                <input name="rbspid" id="rbspid" class="form-control" size="24">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="rbras-n">Additional surgery for same lesion?</label>
                            <div class="form-group">
                                {{ f.inlineRadio("rbras", "rbras-n", "n", "No", true) }}
                                {{ f.inlineRadio("rbras", "rbras-y", "y", "Yes", true) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rbrasdt">Date</label>
                                {{ f.datepicker("rbrasdt", "past") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbrasc">Comments</label>
                                <textarea name="rbrasc" id="rbrasc" class="form-control" rows="3" cols="64"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="rbrcs-n">Complications during surgery?</label>
                            <div class="form-group">
                                {{ f.inlineRadio("rbrcs", "rbrcs-n", "n", "No", true) }}
                                {{ f.inlineRadio("rbrcs", "rbrcs-y", "y", "Yes", true) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbrcsc">Comments</label>
                                <textarea name="rbrcsc" id="rbrcsc" class="form-control" rows="3" cols="64"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="rbrch-n">Complications during hospital stay?</label>
                            <div class="form-group">
                                {{ f.inlineRadio("rbrch", "rbrch-n", "n", "No", true) }}
                                {{ f.inlineRadio("rbrch", "rbrch-y", "y", "Yes", true) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbrchc">Comments</label>
                                <textarea name="rbrchc" id="rbrchc" class="form-control" rows="3" cols="64"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rbctrd">Date of chest tube removal</label>
                                {{ f.datepicker("rbctrd", "past") }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rb60dvs">60-day vital status</label>
                                <textarea name="rb60dvs" id="rb60dvs" class="form-control" rows="3"
                                          cols="64"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Pathology tumor size (mm)</label>
                            <div class="form-group form-inline">
                                <label for="rbtsw">Width &nbsp;</label>
                                <input name="rbtsw" id="rbtsw" class="form-control numeric" size="4">
                                <label for="rbtsh">Height &nbsp;</label>
                                <input name="rbtsh" id="rbtsh" class="form-control numeric" size="4">
                                {{ f.inlineCheckbox("rbtsn", "y", "Not applicable (specify)") }}
                            </div>
                        </div>
                        <div class="col-md-6" id="rbtsn-container">
                            <div class="form-group">
                                <label for="rbtsns">Specify</label>
                                <input name="rbtsns" id="rbtsns" class="form-control" size="24">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="rbinv-n">Invasion of other structures</label>
                            <div class="form-group form-inline">
                                {{ f.inlineRadio("rbinv", "rbinv-n", "n", "No", true) }}
                                {{ f.inlineRadio("rbinv", "rbinv-y", "y", "Yes", true) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="rbinv-v">Location</label>
                                {{ f.checkbox("rbinv","v", "Major vascular") }}
                                {{ f.checkbox("rbinp","p", "Pleura") }}
                                {{ f.checkbox("rbina","a", "Angiolymphatic") }}
                                {{ f.checkbox("rbino","o", "Other (specify)") }}
                            </div>
                        </div>
                        <div class="col-md-6" id="rbino-container">
                            <div class="form-group">
                                <label for="rbinvls">Specify</label>
                                <input name="rbinvls" id="rbinvls" class="form-control" size="24">
                            </div>
                        </div>
                    </div>

                    <h4>T Staging</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rbinvt2b">T2 Cen:</label>
                                {{ f.checkbox("rbinvt2b", "b","Main bronchus (not carina)") }}
                                {{ f.checkbox("rbinvt2a", "a","Atelectasis to hilum") }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rbinvc">T3 Inv:</label>
                                {{ f.checkbox("rbinvc", "c","Chest wall") }}
                                {{ f.checkbox("rbinvt3p", "p","Pericardium") }}
                                {{ f.checkbox("rbinvt3n", "p"," Phrenic nerve") }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rbinvm">T4 Inv:</label>
                                {{ f.checkbox("rbinvm", "m","Mediastinum") }}
                                {{ f.checkbox("rbinvt4d", "d","Diaphragm") }}
                                {{ f.checkbox("rbinvt4h", "h","Heart") }}
                                {{ f.checkbox("rbinvt4g", "g","Great vessels") }}
                                {{ f.checkbox("rbinvt4r", "r","Recurrent laryngeal nerve") }}
                                {{ f.checkbox("rbinvt4c", "c","Carina") }}
                                {{ f.checkbox("rbinvt4t", "t","Trachea") }}
                                {{ f.checkbox("rbinvt4e", "e","Esophagus") }}
                                {{ f.checkbox("rbinvt4s", "s","Spine") }}
                            </div>
                        </div>
                    </div>

                    <h3>Lymph nodes status (N)
                        <small>AJCC Levels</small>
                    </h3>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td><label>Node</label></td>
                                <td><label>N1</label></td>
                                <td><label>N2R</label></td>
                                <td><label>N2L</label></td>
                                <td><label>N3</label></td>
                                <td><label>N4R</label></td>
                                <td><label>N4L</label></td>
                                <td><label>N5</label></td>
                                <td><label>N6</label></td>
                                <td><label>N7</label></td>
                                <td><label>N8</label></td>
                                <td><label>N9</label></td>
                                <td><label>&nbsp;</label></td>
                            </tr>

                            <tr>
                                <td><label>Resected</label></td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn1r") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn2rr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn2lr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn3r") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn4rr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn4lr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn5r") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn6r") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn7r") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn8r") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn9r") }}</div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td><label>Number<br/>resected</label></td>
                                <td>
                                    <div class="form-group"><input name="rbn1t" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn2rt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn2lt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn3t" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn4rt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn4lt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn5t" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn6t" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn7t" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn8t" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn9t" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td><label>Number<br/>positive</label></td>
                                <td>
                                    <div class="form-group"><input name="rbn1p" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn2rp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn2lp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn3p" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn4rp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn4lp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn5p" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn6p" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn7p" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn8p" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"><input name="rbn9p" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td colspan="13">&nbsp;</td>
                            </tr>

                            <tr>
                                <td><label>Node</label></td>
                                <td><label>N10R</label></td>
                                <td><label>N10L</label></td>
                                <td><label>N11R</label></td>
                                <td><label>N11L</label></td>
                                <td><label>N12R</label></td>
                                <td><label>N12L</label></td>
                                <td><label>N13R</label></td>
                                <td><label>N13L</label></td>
                                <td><label>N14R</label></td>
                                <td><label>N14L</label></td>
                                <td><label>Peribronchial<br/>lymph nodes</label></td>
                                <td><label>Location<br/>unspecified</label></td>
                            </tr>

                            <tr>
                                <td><label>Resected</label></td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn10rr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn10lr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn11rr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn11lr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn12rr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn12lr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn13rr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn13lr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn14rr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbn14lr") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbnpb") }}</div>
                                </td>
                                <td>
                                    <div class="form-group">{{ f.radioNY("rbnun") }}</div>
                                </td>


                            </tr>

                            <tr>
                                <td><label>Number<br/>resected</label></td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn10rt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn10lt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn11rt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn11lt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn12rt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn12lt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn13rt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn13lt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn14rt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn14lt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbnpbt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbnunt" class="form-control numeric" size="2">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label>Number<br/>positive</label></td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn10rp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn10lp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn11rp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn11lp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn12rp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn12lp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn13rp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn13lp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn14rp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbn14lp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbnpbp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input name="rbnunp" class="form-control numeric" size="2">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="13">
                                    <label for="rbnuns">Specify location</label>
                                    &nbsp; &nbsp;
                                    <input name="rbnuns" id="rbnuns" class="form-control" size="32">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rbal-n">Additional lesions</label>
                                {{ f.inlineRadioNY("rbal") }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-sm form-inline">
                                <label for="rbaln">Number</label>
                                <input name="rbaln" id="rbaln" class="form-control numeric" size="4">
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th><label>Lesion</label></th>
                                <th><label>Location</label></th>
                                <th><label>Length<br/>(mm)</label></th>
                                <th><label>Width<br/>(mm)</label></th>
                                <th><label>Height<br/>(mm)</label></th>
                                <th><label>Pathologic diagnosis</label></th>
                                <th><label>Specify</label></th>
                                <th><label>Seen on CT</label></th>
                            </tr>
                            </thead>


                            {% for i in range(1,5) %}
                                <tr>
                                    <td><label for="rbal{{ i }}lo">{{ i }}</label></td>
                                    <td>
                                        <div class="form-group">
                                            <select name="rbal{{ i }}lo" id="rbal{{ i }}lo" class="form-control">
                                                <option value="-"> -</option>
                                                <option value="lul"> LUL</option>
                                                <option value="lll"> LLL</option>
                                                <option value="rul"> RUL</option>
                                                <option value="rml"> RML</option>
                                                <option value="rll"> RLL</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input name="rbal{{ i }}l" id="rbal{{ i }}l" class="form-control numeric" size="4">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input name="rbal{{ i }}w" id="rbal{{ i }}w" class="form-control numeric" size="4">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input name="rbal{{ i }}h" id="rbal{{ i }}h" class="form-control numeric" size="4">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select name="rbal{{ i }}pd" id="rbal{{ i }}pd" class="form-control">
                                                <option value="-"> -</option>
                                                <option value="aa"> AAH</option>
                                                <option value="ap"> Atyp bronch prolif</option>
                                                <option value="ba"> BAC</option>
                                                <option value="ns"> Unspec. non-small cell</option>
                                                <option value="ad"> Adenocarcinoma</option>
                                                <option value="as"> Adenosquamous</option>
                                                <option value="la"> Large cell</option>
                                                <option value="sq"> Squamous cell</option>
                                                <option value="sm"> Small cell</option>
                                                <option value="ct"> Carcinoid - typical</option>
                                                <option value="ca"> Carcinoid - atypical</option>
                                                <option value="be"> Not malignant</option>
                                                <option value="bs"> Benign specific</option>
                                                <option value="mf"> Multifocal (specify)</option>
                                                <option value="os"> Other (specify)</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <input name="rbal{{ i }}ps" id="rbal{{ i }}ps" class="form-control">
                                    </td>
                                    <td class="text-nowrap">
                                        {{ f.inlineRadioNYQ("rbal"+i|string) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="rbalt3">T3 Satell</label><br/>
                            {{ f.yesCheckbox("rbalt3") }}
                        </div>
                        <div class="form-group col-md-2">
                            <label for="rbalt4">T4 Ipsi Nod</label><br/>
                            {{ f.yesCheckbox("rbalt4") }}
                        </div>
                        <div class="form-group col-md-2">
                            <label for="rbem">Evidence of metastasis</label><br/>
                            {{ f.inlineRadioNY("rbem") }}
                        </div>
                        <div class="form-group col-md-3" id="rbem-container">
                            <label for="rbems">Specify</label>
                            <input name="rbems" id="rbems" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="rbmst">M staging (8th edition)</label>
                            <select name="rbmst" id="rbmst" class="form-control">
                                <option value="-">-</option>
                                <option value="M0">M0</option>
                                <option value="M1ap">M1a Pl Dissem</option>
                                <option value="M1an">M1a Contr Nod</option>
                                <option value="M1b">M1b Single</option>
                                <option value="M1c">M1c Multi</option>
                                <option value="X">MX</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="rbpst8m">Post-surgical TNM status (8th Edition Modified)</label>
                                <div class="form-inline">
                                    <select name="rbpst8m" id="rbpst8m" class="form-control">
                                        <option value="-"> -</option>
                                        <option value="0"> T0</option>
                                        <option value="is"> Tis</option>
                                        <option value="1am"> T1a mi</option>
                                        <option value="1as"> T1a SS</option>
                                        <option value="1a1"> T1a</option>
                                        <option value="1b"> T1b</option>
                                        <option value="1c"> T1c</option>
                                        <option value="2v"> T2 Visc Pl</option>
                                        <option value="2c"> T2 Centr</option>
                                        <option value="2a"> T2a</option>
                                        <option value="2b"> T2b</option>
                                        <option value="3"> T3</option>
                                        <option value="3i"> T3 Inv</option>
                                        <option value="3s"> T3 Satell</option>
                                        <option value="4"> T4</option>
                                        <option value="4i"> T4 Inv</option>
                                        <option value="4n"> T4 Ipsi Nod</option>
                                        <option value="x"> TX</option>
                                    </select>

                                    <select name="rbpsn8m" id="rbpsn8m" class="form-control">
                                        <option value="-"> -</option>
                                        <option value="0"> N0</option>
                                        <option value="1"> N1</option>
                                        <option value="2"> N2</option>
                                        <option value="3"> N3</option>
                                        <option value="X"> NX</option>
                                    </select>

                                    <select name="rbpsm8m" id="rbpsm8m" class="form-control">
                                        <option value="-"> -</option>
                                        <option value="0"> M0</option>
                                        <option value="1ap"> M1a Pl Dissem</option>
                                        <option value="1ac"> M1a Contr Nod</option>
                                        <option value="1b"> M1b Single</option>
                                        <option value="1c"> M1c Multi</option>
                                        <option value="X"> MX</option>
                                    </select>

                                    {{ f.inlineCheckbox("rbpsx8m","y", "not applicable") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" id="rbpsx8m-container">
                            <div class="form-group">
                                <label for="rbpsxs8m">Specify</label>
                                <input name="rbpsxs8m" id="rbpsxs8m" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="rbpst8">Post-surgical TNM status (8th Edition)</label>
                                <div class="form-inline">
                                    <select name="rbpst8" id="rbpst8" class="form-control">
                                        <option value="-"> -</option>
                                        <option value="0"> T0</option>
                                        <option value="is"> Tis</option>
                                        <option value="1am"> T1a mi</option>
                                        <option value="1as"> T1a SS</option>
                                        <option value="1a1"> T1a</option>
                                        <option value="1b"> T1b</option>
                                        <option value="1c"> T1c</option>
                                        <option value="2v"> T2 Visc Pl</option>
                                        <option value="2c"> T2 Centr</option>
                                        <option value="2a"> T2a</option>
                                        <option value="2b"> T2b</option>
                                        <option value="3"> T3</option>
                                        <option value="3i"> T3 Inv</option>
                                        <option value="3s"> T3 Satell</option>
                                        <option value="4"> T4</option>
                                        <option value="4i"> T4 Inv</option>
                                        <option value="4n"> T4 Ipsi Nod</option>
                                        <option value="x"> TX</option>
                                    </select>

                                    <select name="rbpsn8" id="rbpsn8" class="form-control">
                                        <option value="-"> -</option>
                                        <option value="0"> N0</option>
                                        <option value="1"> N1</option>
                                        <option value="2"> N2</option>
                                        <option value="3"> N3</option>
                                        <option value="X"> NX</option>
                                    </select>

                                    <select name="rbpsm8" id="rbpsm8" class="form-control">
                                        <option value="-"> -</option>
                                        <option value="0"> M0</option>
                                        <option value="1ap"> M1a Pl Dissem</option>
                                        <option value="1ac"> M1a Contr Nod</option>
                                        <option value="1b"> M1b Single</option>
                                        <option value="1c"> M1c Multi</option>
                                        <option value="X"> MX</option>
                                    </select>

                                    {{ f.inlineCheckbox("rbpsx8","y", "not applicable") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" id="rbpsx8-container">
                            <div class="form-group">
                                <label for="rbpsxs8">Specify</label>
                                <input name="rbpsxs8" id="rbpsxs8" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="rbofc">Other findings / comments</label>
                            <textarea name="rbofc" id="rbofc" rows="3" cols="64" class="form-control"></textarea>
                        </div>
                    </div>

                </div>

                {#Radiation Therapy Treatment#}
                <div id="radiation" style="display: none;">
                    <h2>Radiation Treatment Information</h2>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="rbrtonco">Radiation Oncologist Name</label>
                            <input name="rbrtonco" id="rbrtonco" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 form-group">
                            <label for="rbrtdoft">First Date of Treatment</label>
                            {{ f.datepicker("rbrtdoft","past") }}
                        </div>

                        <div class="col-md-2 form-group">
                            <label for="rbrtdolt">Last Date of Treatment</label>
                            {{ f.datepicker("rbrtdolt","past") }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-2 form-group">
                            <label for="rbrttdor">Total Dose of Radiation </label>
                            <input name="rbrttdor" id="rbrttdor" class="form-control numeric">
                        </div>
                        <div class="col-md-3 col-lg-2 form-group">
                            <label for="rbrtdpfr">Dose per Fraction of Radiation</label>
                            <input name="rbrtdpfr" id="rbrtdpfr" class="form-control numeric"></div>
                        <div class="col-md-3 col-lg-2 form-group">
                            <label for="rbrtnof">Number of Fractions</label>
                            <input name="rbrtnof" id="rbrtnof" class="form-control numeric">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 form-group">
                            <label for="rbrtfreq-d">Frequency of Radiation</label><br/>
                            {{ f.inlineRadio("rbrtfreq","rbrtfreq-d","d","daily") }}
                            {{ f.inlineRadio("rbrtfreq","rbrtfreq-e","e","every other day") }}
                            {{ f.inlineRadio("rbrtfreq","rbrtfreq-w","w","weekly") }}
                            {{ f.inlineRadio("rbrtfreq","rbrtfreq-o","o","other") }}
                        </div>
                        <div class="col-md-4 form-group" id="radiation-frequency-container">
                            <label for="rbrtfrsp">Specify</label>
                            <input name="rbrtfrsp" id="rbrtfrsp" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="rbrtls">Lesion Site</label>
                            <select class="form-control" name="rbrtls" id="rbrtls">
                                <option value="-"> -</option>
                                <option value="lul"> LUL</option>
                                <option value="lll"> LLL</option>
                                <option value="rul"> RUL</option>
                                <option value="rml"> RML</option>
                                <option value="rll"> RLL</option>
                                <option value="e"> Endobronchial</option>
                                <option value="m"> Mediastinum</option>
                                <option value="p"> Pleura</option>
                                <option value="o"> Other (specify)</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-3 form-group" id="radiation-lesion-container">
                            <label for="rbrtlssp">Specify</label>
                            <input name="rbrtlssp" id="rbrtlssp" class="form-control">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-2 form-group" for="rbrtsgtv">
                            <label for="rbrtsgtv">Size of Gross Tumor Volume (cc)</label>
                            <input name="rbrtsgtv" id="rbrtsgtv" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-2 form-group">
                            <label for="rbrtsitv">Size of Internal Target Volume (cc)</label>
                            <input name="rbrtsitv" id="rbrtsitv" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-2 form-group">
                            <label for="rbrtsptv">Size of Planning Target Volume (cc)</label>
                            <input name="rbrtsptv" id="rbrtsptv" class="form-control numeric">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="rbrttech-3d">Radiation Dose Delivery Technique</label>
                            {{ f.inlineRadio("rbrttech", "rbrttech-3d", "3d","3D-CRT") }}
                            {{ f.inlineRadio("rbrttech", "rbrttech-imrt", "IMRT","IMRT") }}
                            {{ f.inlineRadio("rbrttech", "rbrttech-c", "c","cyberknife") }}
                            {{ f.inlineRadio("rbrttech", "rbrttech-t", "t","tomotherapy") }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdil">V20 of ipsilateral lung (percentage)</label>
                            <input name="rbrtrdil" id="rbrtrdil" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdtl"> V20 of total lung (percentage)</label>
                            <input name="rbrtrdtl" id="rbrtrdtl" class="form-control numeric">
                        </div>

                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdcw">V30 of chest wall (cc)</label>
                            <input name="rbrtrdcw" id="rbrtrdcw" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdme">Maximum Esophageal Dose</label>
                            <input name="rbrtrdme" id="rbrtrdme" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdmd">Maximum Distal Bronchus Dose</label>
                            <input name="rbrtrdmd" id="rbrtrdmd" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdmm"> Maximum Mainstem Bronchus Dose</label>
                            <input name="rbrtrdmm" id="rbrtrdmm" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdpt">D95 of PTV (in Gray)</label>
                            <input name="rbrtrdpt" id="rbrtrdpt" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdbp"> Brachial plexus max [32 Gy]</label>
                            <input name="rbrtrdbp" id="rbrtrdbp" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdhr">Heart/pericardium receiving 32Gy [15cc] </label>
                            <input name="rbrtrdhr" id="rbrtrdhr" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdsd">Max skin dose < 32Gy</label>
                            <input name="rbrtrdsd" id="rbrtrdsd" class="form-control numeric">
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            <label for="rbrtrdis">Ration of Rx isodose vol to PTV < 1.5</label>
                            <input name="rbrtrdis" id="rbrtrdis" class="form-control numeric">
                        </div>
                    </div>
                </div>

                {# Chemotherapy Treatment #}
                <div id="chemotherapy" style="display: none;">
                    <h2>Chemotherapy Treatment Information</h2>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="rbrtchpn">Treating physician name</label>
                            <input name="rbrtchpn" id="rbrtchpn" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="rbrtchls">Lesion Site</label>
                            <select class="form-control" name="rbrtchls" id="rbrtchls">
                                <option value="-"> -</option>
                                <option value="lul"> LUL</option>
                                <option value="lll"> LLL</option>
                                <option value="rul"> RUL</option>
                                <option value="rml"> RML</option>
                                <option value="rll"> RLL</option>
                                <option value="e"> Endobronchial</option>
                                <option value="m"> Mediastinum</option>
                                <option value="p"> Pleura</option>
                                <option value="o"> Other (specify)</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-3 form-group" id="chemo-lesion-container">
                            <label for="rbrtchlo">Specify</label>
                            <input name="rbrtchlo" id="rbrtchlo" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="rbrtchco">Comments</label>
                                <textarea name="rbrtchco" id="rbrtchco" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rbrtchem-n">Chemotherapy?</label>
                                {{ f.inlineRadio("rbrtchem", "rbrtchem-n", "n", "No") }}
                                {{ f.inlineRadio("rbrtchem", "rbrtchem-y", "y", "Yes") }}
                                {{ f.inlineRadio("rbrtchem", "rbrtchem-q", "q", "?") }}
                                {{ f.inlineRadio("rbrtchem", "rbrtchem-r", "r", "Refused") }}
                            </div>
                        </div>
                        <div id="chemo-refusal-container">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="rbrtchrd">Refusal date</label>
                                    {{ f.datepicker("rbrtchrd","past") }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="rbrtchrr">Reason</label>
                                    <input name="rbrtchrr" id="rbrtchrr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="rbrtchsd">If yes, start date</label>
                            {{ f.datepicker("rbrtchsd","past") }}
                        </div>

                        <div class="col-md-3 form-group">
                            <label for="rbrtchhl">Hospital/Office Location</label>
                            <input name="rbrtchhl" id="rbrtchhl" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-2 form-group">
                            <label for="rbrtchrd">Describe treatment</label>
                            <input name="rbrtchdt" id="rbrtchrd" class="form-control">
                        </div>
                        <div class="col-md-3 col-lg-2 form-group">
                            <label for="rbrtchst">Subsequent treatments</label>
                            <input name="rbrtchst" id="rbrtchst" class="form-control">
                        </div>
                        <div class="col-md-3 col-lg-2 form-group">
                            <label for="rbrtchdu">Drugs used</label>
                            <input name="rbrtchdu" id="rbrtchdu" class="form-control">
                        </div>
                        <div class="col-md-3 col-lg-2 form-group">
                            <label for="rbrtchnr">Number of rounds</label>
                            <input name="rbrtchnr" id="rbrtchnr" class="form-control numeric">
                        </div>
                    </div>

                </div>
            </div>

            {#BEGIN Nodules tab#}
            <div id="nodules" style="padding-top:8px">
                <h3>Nodules</h3> {# will get hidden with affixed menu#}
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                        <label for="sidoe" class="control-label required">Baseline CT</label>
                        {{ f.datepicker("sidoe", "past", true) }}
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                        <label for="cedos" class="control-label required">Most recent CT</label>
                        {{ f.datepicker("cedos", "past", true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-inline">
                            <label for="cenncn">Total number of non-calcified nodules</label>
                            <input id="cenncn" name="cenncn" class="form-control numeric" size="2">
                            <small class="text-muted">(parenchymal and endobronchial)</small>
                        </div>
                    </div>

                </div>

                <div class="alert alert-warning">
                    Update the Nodule Status,
                    Action, and Pathologic Diagnosis for each of the nodules affected by
                    this procedure.<br/>Enter any pathologic details given in the surgical
                    pathology report in the Surgical Pathology Details field.
                    <br/>Update the Follow-up section.
                </div>


                {% include '_nodule-grid.jinja2' %}


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="rbpdt">Surgical pathology details</label>
                            <textarea name="rbpdt" id="rbpdt" rows="3" cols="64" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            {#END Nodules tab#}

            {# BEGIN Emphysema tab#}
            <div id="emphysema-coronary" style="padding-top: 1px;">
                <h3>Emphysema/Coronary Calcifications</h3> {# will get hidden with affixed menu#}
                {% include '_emphysema.jinja2' %}
            </div>
            {# END Emphysema tab #}

            {# BEGIN Abnormalities tab#}
            <div id="abnormalities" style="padding-top:8px;">
                <h3>Other Abnormalities</h3> {# will get hidden with affixed menu#}
                {% include '_abnormalities.jinja2' %}
            </div>
            {#  END Abnormalities tab#}

            {# BEGIN Intervention tab#}
            <div id="intervention">
                <h3>Summary of interventions for this malignancy</h3>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label for="rbdos">First intervention</label>
                        {{ f.datepicker("rbdos", "past") }}
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="rbdmr">Most recent intervention</label>
                        {{ f.datepicker("rbdmr", "past") }}
                    </div>
                </div>


                <h3>Follow Up
                    <small>select one or more</small>
                </h3>
                {% include '_followup.jinja2' %}

                {# END Intervention tab#}

                <hr/>
                <div class="pull-left">
                    <input type="hidden" name="samistatus" value=""/>
                    <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                </div>
                <div class="pull-right">
                    <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                </div>

            </div>
        </form>
    </div>

    {{ f.deleteFormModal("intervention.html", mockup, formMethod) }}
{% endblock %}

{% block script %}
    <script language="JavaScript">
        function createFormValidator() {

            const $form = $('#main-form');

            // for certain validators that use multiple inputs like checkboxes and radio groups, change the location
            // of the error icon to be based on the form-group element, instead of being immediately adjacent to the
            // first control in that group
            const multiInputValidators = ['followup'];

            $form.formValidation({
                    fields: {
                        rbcsx8s: {validators: {notEmpty: {message: 'Other clinical TNM status is required'}}},
                        rbcsxs8m: {validators: {notEmpty: {message: 'Other clinical TNM status is required'}}},
                        rbcsbos: {validators: {notEmpty: {message: 'Clinical staging basis is required.'}}},
                        rblocs: {validators: {notEmpty: {message: 'Lesion site is required.'}}},
                        rbtos: {validators: {notEmpty: {message: 'Treatment option is required.'}}},
                        rbsurd: {validators: {notEmpty: {message: 'Resection no/refusal date is required.'}}},
                        rbsurr: {validators: {notEmpty: {message: 'Resection no/refusal reason is required.'}}},
                        rbtosos: {validators: {notEmpty: {message: 'Type of surgery is required.'}}},
                        rbexss: {validators: {notEmpty: {message: 'Extent of surgery is required.'}}},
                        rbtsns: {validators: {notEmpty: {message: 'Tumor size required.'}}},

                        //Nodules Section
                        sidoe: {
                            validators: {
                                notEmpty: {message: 'Baseline CT date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Baseline CT date may not be in the future'}
                            }
                        },
                        cedos: {
                            validators: {
                                notEmpty: {message: 'Study date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Study date may not be in the future'}
                            }
                        },

                        //Nodules, emphysema, abnormality FV additions are done in their respective templates
                        rbrep: {validators: {notEmpty: {message: 'Resection performed is required'}}},
                        //Intervention; virtual fields don't work with fv.addField, so we have to add it here
                        followup: {
                            selector: '[name^=cefu][type=checkbox]',
                            validators: {choice: {min: 1, message: 'Select at least one CT or Other follow up option'}}
                        },

                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bootstrap3: new FormValidation.plugins.Bootstrap3(),
                        submitButton: new FormValidation.plugins.SubmitButton({selector: "#submit-button"}),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        excluded: new FormValidation.plugins.Excluded(), //disable validators on hidden, disabled fields
                        icon: new FormValidation.plugins.Icon({
                            valid: '',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh',
                            onPlaced: function (e) {
                                if (multiInputValidators.indexOf(e.field) > -1) {
                                    $("#" + e.element.id).closest(".form-group").append(e.iconElement);
                                }
                            },
                        })
                    }
                }
            );

            const fv = $form.data('formValidation');

            fv.on('core.form.invalid', VAPALS.autoScrollToErrorField);
            fv.on('core.element.validated', VAPALS.hideSuccessFormatting);

            return fv;
        }

        $(function () {
            const fv = createFormValidator();

            //hook for calculating Pulmonary function test percentage (FFR)
            $("#sbfev1, #sbfvc").on('change', function () {
                const fev1 = $("#sbfev1").val();
                const fvc = $("#sbfvc").val();
                const ffr = VAPALS.calculatePulmonaryFunction(fev1, fvc);
                if (ffr > 0) {
                    $("#sbffr").val(ffr);
                    $("#ffr-value").text(ffr);
                    $("#ffr-message").show();
                } else {
                    $("#sbffr").val("");
                    $("#ffr-message").hide();
                }
            }).first().trigger('change');

            $("#rbcsx8").conditionallyEnable({enable: "#rbcsx8-container"});
            $("#rbcsx8m").conditionallyEnable({enable: "#rbcsx8m-container"});
            $("[name=rbcsb]").conditionallyEnable({sourceValues: "o", enable: "#rbcsb-container"});
            $("[name=rbloc]").conditionallyEnable({sourceValues: "o", enable: "#rbloc-container"});
            $("[name=rbtri]").conditionallyEnable({sourceValues: "o", enable: "#rbtri-container"});
            $("[name=rbto]").conditionallyEnable({sourceValues: "o", enable: "#rbto-container"});

            //Surgical section
            $("[name=sbahpft]").conditionallyEnable({enable: "#sbahpft-container"});
            $("[name=rbmep]").conditionallyDisplay({enable: "#mediastinoscopy-alert"});
            $("[name=rbrep]").conditionallyEnable({sourceValues: "n,r", enable: "#rbrep-container"});
            $("#rbtoso").conditionallyEnable({sourceValues: "o", enable: "#rbtoso-container"});
            $("[name=rbvto]").conditionallyEnable({enable: "#rbvto-container"});
            $("#rbtsn").conditionallyEnable({enable: "#rbtsn-container"});
            $("#rbino").conditionallyEnable({sourceValues: "o", enable: "#rbino-container"});
            $("[name=rbal]").conditionallyDisplay({enable: "#rbal-container"});
            $("[name=rbem]").conditionallyEnable({enable: "#rbem-container"});
            $("[name=rbpsx8m]").conditionallyEnable({enable: "#rbpsx8m-container"});
            $("[name=rbpsx8]").conditionallyEnable({enable: "#rbpsx8-container"});

            //Radiation section
            $("[name=rbrtfreq]").conditionallyEnable({sourceValues: "o", enable: "#radiation-frequency-container"});
            $("#rbrtls").conditionallyEnable({sourceValues: "o", enable: "#radiation-lesion-container"});

            //Chemotherapy section
            $("#rbrtchls").conditionallyEnable({sourceValues: "o", enable: "#chemo-lesion-container"});
            $("[name=chemo]").conditionallyEnable({sourceValues: "r", enable: "#chemo-refusal-container"});

            $("#rbto").on('change', function () {
                const val = $(this).val();
                $("#surgery").toggle(val === 's');
                $("#radiation").toggle(val === 'r');
                $("#chemotherapy").toggle(val === 'c')
            }).trigger('change');

            {# NB: Emphysema, Nodule Grid, Abnormalities, Followup JS functionality is in their own template files#}


            $('#body').scrollspy({target: '#wizard-bar', offset: 10})

        });
    </script>

{% endblock %}