<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='base' content='{{ base }}'>
    <meta name='site' content='{{ site }}'>
    <meta name='version' content='{{ version }}'>
    <meta name='author' content='Domenic DiNatale, domenic.dinatale@paraxialtech.com'>
    <title>@@SITETITLE@@: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ path }}lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path }}lib/fontawesome-pro-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="{{ path }}lib/formvalidation/dist/css/formValidation.min.css">
    <link rel="stylesheet" href="{{ path }}lib/bootstrap-datetimepicker-4.17.47/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="{{ path }}vapals.css">
    <link href="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.structure.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.theme.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/bootstrap-dialog-1.35.4/bootstrap-dialog.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/chart-js-2.9.3/Chart.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/datatables/datatables.min.css" rel="stylesheet"/>
    {% block head %}{% endblock %}
</head>
<body id="body" style="position: relative;">
<script src="{{ path }}lib/es6-shim.js"></script>
<script src="{{ path }}lib/jquery-3.3.1.min.js"></script>
<script src="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="{{ path }}lib/popper.min.js"></script>
<script src="{{ path }}lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="{{ path }}lib/moment.js"></script>

<script src="{{ path }}lib/formvalidation/dist/js/FormValidation.full.min.js"></script>
<script src="{{ path }}lib/formvalidation/dist/js/plugins/Wizard.min.js"></script>
<script src="{{ path }}lib/formvalidation/dist/js/plugins/Bootstrap3.min.js"></script>
<script src="{{ path }}lib/formvalidation/dist/js/plugins/J.min.js"></script>
<script src="{{ path }}lib/bootstrap-datetimepicker-4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ path }}lib/bootstrap-dialog-1.35.4/bootstrap-dialog.min.js"></script>
<script src="{{ path }}lib/clipboard.js"></script>
<script src="{{ path }}lib/chart-js-2.9.3/Chart.min.js"></script>
<script src="{{ path }}lib/chart-js-2.9.3/chartjs-plugin-datalabels.min.js"></script>
<script src="{{ path }}lib/datatables/datatables.min.js"></script>

<script src="{{ path }}jquery-conditonally-enable.js?v={{ version }}"></script>
<script src="{{ path }}jquery-conditonally-display.js?v={{ version }}"></script>
<script src="{{ path }}jqueryui-vista-filemanAutocomplete.js?v={{ version }}"></script>
<script src="{{ path }}vapals.js?v={{ version }}"></script>
<script src="{{ path }}init.js?v={{ version }}"></script>
<script src="{{ path }}nodule-grid.js?v={{ version }}"></script>
<script src="{{ path }}ai.js?v={{ version }}"></script>
<span src="{{ path }}" id="url-prefix"/>


{#Debug information for viewport#}
{#<div class="affix affix-top" style="right:15px; z-index:10000">#}
{#    <span class="label label-warning visible-xs-block">extra small</span>#}
{#    <span class="label label-info visible-sm-block">small</span>#}
{#    <span class="label label-success visible-md-block">medium</span>#}
{#    <span class="label label-primary visible-lg-block">large</span>#}
{#</div>#}

<!--System Navigation-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ "home.html" if mockup else "#!" }}" class="text-nowrap navigation" style="text-decoration: none"
               data-method="{{ formMethod }}" data-samiroute="home">
                <img src="" title="Logo" alt="Logo"
                     class="hidden-xs logo-icon"/>
                <img src="" title="Logo Text" alt="Logo Text" id="image-log-text"
                     class="logo-text"/>
            </a>
        </div>
        {% if withNav == "true" %}
            <div class="navbar-collapse collapse navbar-right" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="{{ "home.html" if mockup else "#!" }}" class="text-nowrap navigation"
                           data-method="{{ formMethod }}" data-samiroute="home">Home</a></li>
                    <li id="studyIdMenu" style="display:none;">
                        <a class="navigation" data-method="{{ formMethod }}" data-samiroute="casereview"
                           href="{{ "casereview.html" if mockup else "#!" }}">Case Review</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="enrollment"
                                   data-start-date="">Enrollment</a>
                            </li>
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="activity">Activity</a>
                            </li>
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="followup"> Participant Follow-up</a>
                            </li>
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="missingct"> Intake But No CT Evaluation</a>
                            </li>
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="incomplete"> Incomplete Form</a>
                            </li>
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="inactive"> Inactive</a>
                            </li>
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="recommend"> CT Eval Recommendations</a>
                            </li>
                            <li id="matchingReport">
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="unmatched"> Matching Report</a>
                            </li>
                            <li>
                                <a href="{{ "table.html" if mockup else "#!" }}" class="navigation"
                                   data-method="{{ formMethod }}" data-samiroute="report"
                                   data-samireporttype="worklist">Work List</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{{ "about.html" if mockup else "#!" }}" class="text-nowrap navigation"
                           data-method="{{ formMethod }}" data-samiroute="about">About</a></li>
                    <li>
                        <a class="navigation" data-method="{{ formMethod }}" data-samiroute="logout" id="logout-link"
                           href="{{ "login.html" if mockup else "#!" }}">Logout</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>

{% block body %}{% endblock %}
{% block footer %}
    <footer>
        <div class="container-fluid" style="max-width:1550px">
            <hr/>
            <a href="https://paraxial.atlassian.net/projects/VAP/" target="_blank" tabindex="9000"> Submit feedback</a>
        </div>
    </footer>
{% endblock %}

<script>
    {# NB: Manually override isLoggedIn and siteId for forms development testing #}
    const userId = "@@USER@@";
    const isLoggedIn = isSet(userId);
    const siteIdVal = "FOO";
    const siteId = isSet(siteIdVal) ? siteIdVal : 'SYS';
    const studyIdVal = "@@SID@@";
    const studyId = isSet(studyIdVal) ? studyIdVal : '';
    const frozen = "@@FROZEN@@";
    const infoMessage = "@@INFO_MESSAGE@@";
    const warnMessage = "@@WARN_MESSAGE@@";
    const errorMessage = "@@ERROR_MESSAGE@@";
    const errorFields = "@@ERROR_FIELDS@@";
    const hasInfoMessage = isSet(infoMessage);
    const hasWarnMessage = isSet(warnMessage);
    const hasErrorMessage = isSet(errorMessage);
    const timeoutMinutes = 60;
    const sysConfig = [];

    function isSet(variable) {
        return variable && variable.indexOf("@@") === -1 && $.trim(variable) !== '';
    }

    function getParameter(key) {
        const params = JSON.parse(sessionStorage.getItem("params." + siteId));
        if (params == null || $.isEmptyObject(params)) {
            return null;
        } else {
            return params[key];
        }
    }

    function getBooleanParameter(key, defaultValue) {
        const val = getParameter(key);
        return val == null ? defaultValue : val;
    }

    function paramSubstitution(siteId) {
        let key = "params." + siteId;
        let params = JSON.parse(sessionStorage.getItem(key));
        if ($.isEmptyObject(params)) {
            console.log("retrieveParams")
            retrieveParams(siteId);
        } else {
            console.log("paramSubstitution")
            substituteParams(params);
        }

        function retrieveParams(siteId) {
            $.ajax('/params', {data: {siteId: siteId}})
                .done(function (data) {
                    console.log("retrieveParams(done)")
                    sessionStorage.setItem(key, JSON.stringify(data));
                    substituteParams(data);
                })
                .fail(function () {
                    substituteParams({});
                });
        }

        function substituteParams(dataMap) {
            $("[data-params-text]").each(function () {
                const $this = $(this);
                const dataKey = $this.attr("data-params-text");
                const dataValue = dataMap[dataKey];

                if (typeof dataValue === "undefined") {
                    console.warn("substituteParams().text: Unknown property, key='%s'", dataKey);
                } else {
                    $this.text(dataValue);
                }
            });

            $("[data-params-attr]").each(function () {
                const $this = $(this);
                const jsonText = $this.attr("data-params-attr");
                const attrObject = JSON.parse(jsonText);
                Object.keys(attrObject).forEach(function (attrName) {
                    const key = attrObject[attrName];
                    const value = dataMap[key];
                    if (typeof value === "undefined") {
                        console.warn("substituteParams().attr: Unknown property, key='%s'", key);
                    } else {
                        $this.attr(attrName, value);
                    }
                });
            });

            //attempt to change logos
            // IF no options are set (VA) do nothing, else logo = defaultIfNull(site, system)
            const iconSrc = dataMap["siteLogoIcon"] || dataMap["systemLogoIcon"] ||
                $("#url-prefix").attr("src") + "img/logo_transparent_50x50.png";
            $("img.logo-icon").attr("src", iconSrc);

            const iconText = dataMap["siteLogoText"] || dataMap["systemLogoText"] ||
                $("#url-prefix").attr("src") + "img/logo_name_50x215.png";
            $("img.logo-text").attr("src", iconText);
        }
    }

    if (isSet(siteId)) {
        paramSubstitution(siteId);

        //Load system configuration with defaults favoring a VA site
        sysConfig["VETERAN_AFFAIRS_SITE"] = getBooleanParameter("veteransAffairsSite", true);
        sysConfig["RURAL_URBAN_CHART_ENABLED"] = getBooleanParameter("ruralUrbanChartEnabled", true);
        sysConfig["MATCHING_REPORT_ENABLED"] = getBooleanParameter("matchingReportEnabled", false);

        $("#logout-link").text("Logout " + siteId);
        $("#studyIdMenu").toggle(studyId !== '');
        $("#matchingReport").toggle(sysConfig["MATCHING_REPORT_ENABLED"]);
        localStorage.setItem("siteid", siteId);
        localStorage.setItem("studyid", studyId);
        if (sysConfig.VETERAN_AFFAIRS_SITE) {
            $("footer").remove();
        } else {
            $(".va-only").remove();
        }

    } else {
        localStorage.removeItem("siteid");
        localStorage.removeItem("studyid");
        $("#navbar-main").remove();
    }

    if (frozen === "true") {
        $("#delete-form").remove();
    }

    function displayStaticMessage(message, alertClass, displayTimeMs) {
        const $msg = $('#message-area-static')
            .empty()
            .html("<div class=\"alert " + alertClass + " alert-sm\" role=\"alert\">" + message + "</div>")
            .show();
        if (displayTimeMs > 0) {
            $msg.delay(displayTimeMs).slideUp(200);
        }
    }

    if (hasErrorMessage) {
        displayStaticMessage(errorMessage, "alert-danger", 0);
    } else if (hasWarnMessage) {
        displayStaticMessage(warnMessage, "alert-warning", 0);
    } else if (hasInfoMessage) {
        displayStaticMessage(infoMessage, "alert-success", 3000);
    }

    $(function () {
        /** These snippets ensure all fields are wrapped in a form-group, which is necessary for form-validation to work properly. **/
        const $forms = $("form.validated");
        $.each($forms.find("select, textarea, input:visible"), function () {
            const $input = $(this);
            if ($input.closest(".form-group").length === 0) {
                console.error("VAPALS: " + $input.attr('name') + " is not wrapped in a form-group; can cause FV 'too much recursion");
            }
        });

        $.each($forms.find("input[type=hidden][required]"), function () {
            console.error("VAPALS: " + $(this).attr('name') + " should not have a required attribute; can cause FV 'too much recursion'");
        });

        const $formMode = $("#formMode"); //displayed on About page.
        if ($formMode.length) {
            $.ajax("/ctversion", {
                success: function (data) {
                    const v = data.ctversion;
                    $formMode.text(v.toUpperCase());
                },
                error: function () {
                    $formMode.text("UNKNOWN");
                }
            });
        }

        $("input[type=checkbox]").change(function () {
            const checked = $(this).is(":checked");
            const fieldName = $(this).attr('name');
            $("input[type=hidden][name='" + fieldName + "']").prop('disabled', function () {
                return checked;
            });
        });

        $.each($("input[type=checkbox]:checked"), function (i, el) {
            $(el).trigger("change");
        });

        const reportsStartDate = VAPALS.toMoment(VAPALS.todaysDate()).subtract(30, "days").format(VAPALS.DATE_FORMAT);
        const reportsEndDate = VAPALS.toMoment(VAPALS.todaysDate()).format(VAPALS.DATE_FORMAT);

        $("a[data-samiroute=report]").attr("data-start-date", reportsStartDate).attr("data-end-date", reportsEndDate);

        $('table.datatables').DataTable();

        if (!sysConfig.VETERAN_AFFAIRS_SITE) {
            setTimeout(function () {
                $("#logout-link").trigger("click");
            }, timeoutMinutes * 1000 * 60);
        }
    });
</script>

{% block script %}{% endblock %}

</body>
</html>

