<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ path }}lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path }}lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ path }}lib/formvalidation/dist/css/formValidation.min.css">
    <link rel="stylesheet" href="{{ path }}lib/bootstrap-datetimepicker-4.17.47/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="{{ path }}vapals.css">
    <link href="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.structure.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.theme.min.css" rel="stylesheet"/>
    <link href="{{ path }}lib/bootstrap-dialog-1.35.4/bootstrap-dialog.min.css" rel="stylesheet"/>
    {% block head %}{% endblock %}
</head>
<body>
<script src="{{ path }}lib/jquery-3.3.1.min.js"></script>
<script src="{{ path }}lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="{{ path }}lib/popper.min.js"></script>
<script src="{{ path }}lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="{{ path }}lib/moment.js"></script>
<script src="{{ path }}lib/formvalidation/dist/js/formValidation.min.js"></script>
<script src="{{ path }}lib/formvalidation/dist/js/framework/bootstrap.min.js"></script>
<script src="{{ path }}lib/bootstrap-datetimepicker-4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ path }}lib/bootstrap-dialog-1.35.4/bootstrap-dialog.min.js"></script>
<script src="{{ path }}lib/clipboard.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ path }}jquery-conditonally-enable.js"></script>
<script src="{{ path }}jquery-conditonally-display.js"></script>
<script src="{{ path }}jqueryui-vista-filemanAutocomplete.js"></script>
<script src="{{ path }}vapals.js"></script>
<script src="{{ path }}init.js"></script>


{#Debug information for viewport#}
{#<span class="badge badge-secondary visible-xs-block">extra small</span>#}
{#<span class="badge badge-secondary visible-sm-block">small</span>#}
{#<span class="badge badge-secondary visible-md-block">medium</span>#}
{#<span class="badge badge-secondary visible-lg-block">large</span>#}


<!--System Navigation-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#TODO: need better image and acutal link to "home"#}
            <a href="home.html">

                <img src="{{ path }}img/new-logo.png" title="VA-PALS" height="50" alt="VA-PALS Logo"/>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="home.html">Home</a></li>
                <li class="dropdown" id="studyIdMenu" style="display:none;">
                    <a class="navigation" data-method="{{ formMethod }}" data-samiroute="casereview" href="{{ "casereview.html" if mockup else "#!" }}">Case Review</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}
<span id="studyid-html-element" style="display:none;" value="@@SID@@"></span>
{% block footer %}
    <footer>
        <div class="container-fluid" style="max-width:1550px">
            <hr/>
            <a href="https://issues.osehra.org/browse/VAP" target="_blank" tabindex="9000">Submit feedback</a>
            <span id="sami-version" style="float:right; font-family: Courier,monospace"><span id="formMode"></span>&nbsp;{{ version }}</span>
        </div>
    </footer>
{% endblock %}

<script language="JavaScript">
    const studyIdVal = $("#studyid-html-element").attr('value');
    const studyId = $.trim(studyIdVal);
    if (studyId && studyId.indexOf("@@") == -1) {
        //store studyid value for use in pages that don't go through the forms processor
        localStorage.setItem("studyid", studyId);
        $("#studyIdMenu").show();
    }

    //purposefully executed before DOM is rendered so delete button is never visible
    const frozen = "@@FROZEN@@";
    if (frozen == "true") {
        $("#delete-form").remove();
    }


    $(function () {
        /** These snippets ensure all fields are wrapped in a form-group, which is necessary for form-validation to work properly. **/
        const $forms = $("form.validated");
        $.each($forms.find("select, textarea, input:visible, [name^='validator-']"), function (i, o) {
            const $input = $(this);
            if ($input.closest(".form-group").length === 0) {
                console.error("VAPALS: " + $input.attr('name') + " is not wrapped in a form-group; can cause FV 'too much recursion");
            }
        });

        $.each($forms.find("input[type=hidden][required]"), function (i, o) {
            const $input = $(this);
            console.error("VAPALS: " + $(this).attr('name') + " should not have a required attribute; can cause FV 'too much recursion'");
        });

        $.ajax("/ctversion", {
            success: function (data, textStatus, jqXHR) {
                const v = data.ctversion;
                $("#formMode").text(v.toUpperCase());
            },
            error: function () {
                $("#formMode").text("UNKNOWN");
            }
        });

        $(".yes-checkbox").change(function() {
            const checked = $(this).is(":checked");
            const fieldName = $(this).attr('name');
            $("input[type=hidden][name='" + fieldName + "']").prop('disabled', function(i, v) { return checked; });
        });

        $.each($(".yes-checkbox:checked"), function(i,el){
            $(el).trigger("change");
        })
    })
</script>

{% block script %}{% endblock %}

</body>
</html>

