<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/formvalidation/dist/css/formValidation.min.css">
    <link rel="stylesheet" href="lib/bootstrap-datetimepicker-4.17.47/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="vapals.css">
</head>
<body>
<script src="lib/jquery-3.2.1.slim.min.js"></script>
<script src="lib/popper.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="lib/moment.js"></script>
<script src="lib/formvalidation/dist/js/formValidation.min.js"></script>
<script src="lib/formvalidation/dist/js/framework/bootstrap.min.js"></script>
<script src="lib/bootstrap-datetimepicker-4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{# TODO: determine actual chart API and use a local copy here #}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="jquery-conditonally-enable.js"></script>
<script src="vapals.js"></script>

<!--Debug information for viewport-->
{#<span class="badge badge-secondary visible-xs-block">extra small</span>#}
{#<span class="badge badge-secondary visible-sm-block">small</span>#}
{#<span class="badge badge-secondary visible-md-block">medium</span>#}
{#<span class="badge badge-secondary visible-lg-block">large</span>#}


<!--System Navigation-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#TODO: need better image and acutal link to "home"#}
            <a href="home.html">
                <img src="img/new-logo.png" title="VA-PALS" height="50" alt="VA-PALS Logo"/>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="home.html">Home</a></li>
                <li class="dropdown" id="studyIdMenu" style="display:none;">
                    <a href="casereview.html" class="navbar-link">Case Review</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

{% block footer %}
    <footer>
        <div class="container-fluid" style="max-width:1550px">
            <hr/>
            <a href="https://issues.osehra.org/browse/VAP" target="_blank">Submit feedback</a>
        </div>
    </footer>
{% endblock %}

<script language="JavaScript">
    //TODO: insert studyId here.
    var studyId = "XX0002";

    if (studyId) {
        $("#studyIdMenu").show();
    }
</script>

{% block script %}{% endblock %}

<script language="JavaScript">
    //Initialize Form Validation
    $(".validated").formValidation({framework: 'bootstrap'});
</script>

</body>
</html>

