{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Sample, Sammy G
            <small class="text-muted" title="Study ID">ST0001</small>
        </h1>
        <h2>{{ title | escape }}
            <small class="text-muted" title="Medical Record Number">1234567890</small>
        </h2>

        <hr/>
        <form action="{{ formPage+".html" if mockup else "/vapals" }}" method="{{ formMethod }}"
              class="validated" id="main-form">

            <input type="hidden" name="samiroute" value="postform"/>
            <input type="hidden" name="studyid" value="@@SID@@"/>
            <input type="hidden" name="form" value="@@FORMKEY@@"/>

            <div class="row">
                <div class="col-sm-4 col-md-3 form-group">
                    <label class="control-label required" for="ptdos">Study date</label>
                    {{ f.datepicker("ptdos", "past", true) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label class="required" for="ptrad">Radiologist</label>
                    <input type="text" class="form-control" id="ptrad" name="ptrad" required="required"/>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                    <label for="ptradnpi">Radiologist NPI</label>
                    <input type="text" class="form-control" id="ptradnpi" name="ptradnpi"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("ptofr-n", "PET scan performed at outside institution") }}
                </div>
                <div class="col-sm-3 form-group">
                    {{ f.inlineRadio("ptofr", "ptofr-n", "n", "No") }}
                    {{ f.inlineRadio("ptofr", "ptofr-y", "yes", "Yes") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("sidoe", "Date of baseline CT", "required") }}
                </div>
                <div class="col-sm-3 form-group">
                    {{ f.datepicker("sidoe", "past", true) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("cedos", "Date of most recent comparative study", "required") }}
                </div>
                <div class="col-sm-3 form-group">
                    {{ f.datepicker("cedos", "past", true) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("ceanod-n", "Are there any nodules noted in the CT scan?") }}
                </div>
                <div class="col-sm-3 form-group">
                    {{ f.inlineRadio("ceanod", "ceanod-n", "n", "No") }}
                    {{ f.inlineRadio("ceanod", "ceanod-y", "yes", "Yes") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("cenncnlt-n", "Are non-calcified nodules noted, all less than 6 mm?") }}
                </div>
                <div class="col-sm-3 form-group">
                    {{ f.inlineRadio("cenncnlt", "cenncnlt-n", "n", "No") }}
                    {{ f.inlineRadio("cenncnlt", "cenncnlt-y", "yes", "Yes") }}
                </div>
            </div>

            <div class="alert alert-info">
                <strong>List any nodule(s) of concern* in the table below. If baseline >= 6 mm or if repeat, >= 3
                    mm</strong>
                <BR>
                Enter the Nodule Uptake values and update the Nodule Status to reflect the results of the PET
                study, and update the neccesary actions for each nodule, as indicated. Enter any details given in
                the PET report in the PET Details field.
                <BR>Update the Follow-up section.
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nodule ID</th>
                        <th>Nodule 1</th>
                        <th>
                            <label for="cefctn">Additional Nodules</label>
                            <select name="cefctn" id="cefctn">
                                <option value="2"> Nodule 2
                                <option value="3"> Nodule 3
                                <option value="4"> Nodule 4
                                <option value="5"> Nodule 5
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label for="cect1ch">Is it new?</label></td>
                        <td>
                            <select name="cect1ch" id="cect1ch" class="form-control">
                                <option value="-"> -
                                <option value="n"> Newly seen
                                <option value="pn"> Prev seen, no change
                                <option value="pd"> Prev seen, slight decr
                                <option value="pe"> Prev seen, marked decr
                                <option value="pi"> Prev seen, slight incr
                                <option value="pj"> Prev seen, marked incr
                                <option value="po"> Prev seen, obscured
                                <option value="pw"> Prev seen, resolved
                                <option value="px"> Prev seen, not a nodule
                                <option value="pr"> Prev seen, resected
                                <option value="rn"> Retrospect, no chg
                                <option value="rd"> Retrospect, decrease
                                <option value="ri"> Retrospect, slight incr
                                <option value="rj"> Retrospect, marked incr
                                <option value="pk"> Not in outside report
                                <option value="pv"> Not included in scan
                            </select>
                        </td>
                        <td>
                            <label class="aria-hidden" for="cect0ch">Is it new?</label>
                            <select name="cect0ch" id="cect0ch" class="form-control">
                                <option value="-"> -
                                <option value="n"> Newly seen
                                <option value="pn"> Prev seen, no change
                                <option value="pd"> Prev seen, slight decr
                                <option value="pe"> Prev seen, marked decr
                                <option value="pi"> Prev seen, slight incr
                                <option value="pj"> Prev seen, marked incr
                                <option value="po"> Prev seen, obscured
                                <option value="pw"> Prev seen, resolved
                                <option value="px"> Prev seen, not a nodule
                                <option value="pr"> Prev seen, resected
                                <option value="rn"> Retrospect, no chg
                                <option value="rd"> Retrospect, decrease
                                <option value="ri"> Retrospect, slight incr
                                <option value="rj"> Retrospect, marked incr
                                <option value="pk"> Not in outside report
                                <option value="pv"> Not included in scan
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cect1ll">Most likely location</label></td>
                        <td>
                            <select name="cect1ll" id="cect1ll" class="form-control">
                                <option value="-"> -
                                <option value="end"> Endobr
                                <option value="lul"> LUL
                                <option value="lll"> LLL
                                <option value="rul"> RUL
                                <option value="rml"> RML
                                <option value="rll"> RLL
                            </select>
                        </td>
                        <td>
                            <label class="aria-hidden" for="cect0ll">Most likely location</label>
                            <select name="cect0ll" id="cect0ll" class="form-control">
                                <option value="-"> -
                                <option value="end"> Endobr
                                <option value="lul"> LUL
                                <option value="lll"> LLL
                                <option value="rul"> RUL
                                <option value="rml"> RML
                                <option value="rll"> RLL
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cect1up">Maximum nodule uptake (SUV)</label>
                        </td>
                        <td>
                            <input type=text name="cect1up" id="cect1up" class="form-control numeric decimalformat">
                        </td>
                        <td>
                            <label class="aria-hidden" for="cect0up">Maximum nodule uptake (SUV)</label>
                            <input type=text name="cect0up" id="cect0up" class="form-control numeric decimalformat">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cect1st">Nodule status</label>
                        </td>
                        <td>
                            <select name="cect1st" id="cect1st" class="form-control">
                                <option value="-"> -
                                <option value="un"> Unknown
                                <option value="bc"> Benign (Ca++)
                                <option value="pc"> Prob benign, prob Ca++
                                <option value="re"> Resolved
                                <option value="rg"> Resolving
                                <option value="tn"> No change - 2 yrs
                                <option value="pp"> PET - positive
                                <option value="pn"> PET - negative
                                <option value="pi"> PET - indeterminate
                                <option value="ub"> Biopsy - unknown
                                <option value="bb"> Biopsy - benign
                                <option value="mb"> Biopsy - malignant
                                <option value="ab"> Biopsy - atyp bronch prolif
                                <option value="om"> Biopsy - metastatic
                                <option value="mr"> Resected - malignant
                                <option value="br"> Resected - benign
                            </select>
                        </td>
                        <td>
                            <label class="aria-hidden" for="cect0st">Nodule status</label>
                            <select name="cect0st" id="cect0st" class="form-control">
                                <option value="-"> -
                                <option value="un"> Unknown
                                <option value="bc"> Benign (Ca++)
                                <option value="pc"> Prob benign, prob Ca++
                                <option value="re"> Resolved
                                <option value="rg"> Resolving
                                <option value="tn"> No change - 2 yrs
                                <option value="pp"> PET - positive
                                <option value="pn"> PET - negative
                                <option value="pi"> PET - indeterminate
                                <option value="ub"> Biopsy - unknown
                                <option value="bb"> Biopsy - benign
                                <option value="mb"> Biopsy - malignant
                                <option value="ab"> Biopsy - atyp bronch prolif
                                <option value="om"> Biopsy - metastatic
                                <option value="mr"> Resected - malignant
                                <option value="br"> Resected - benign
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cect1pd">Pathologic diagnosis</label></td>
                        <td>
                            <select name="cect1pd" id="cect1pd" class="form-control">
                                <option value="-"> -For Pathology Use Only-
                                <option value="aa"> AAH
                                <option value="ap"> Atyp bronch prolif
                                <option value="ba"> BAC
                                <option value="ns"> Unspec. non-small cell
                                <option value="ad"> Adenocarcinoma
                                <option value="as"> Adenosquamous
                                <option value="la"> Large cell
                                <option value="sq"> Squamous cell
                                <option value="sm"> Small cell
                                <option value="ct"> Carcinoid - typical
                                <option value="ca"> Carcinoid - atypical
                                <option value="be"> Not malignant
                                <option value="bs"> Benign specific
                                <option value="os"> Other (specify)
                            </select>
                        </td>
                        <td>
                            <label class="aria-hidden" for="cect0pd">Pathological diagnosis</label>
                            <select name="cect0pd" id="cect0pd" class="form-control">
                                <option value="-"> -For Pathology Use Only-
                                <option value="aa"> AAH
                                <option value="ap"> Atyp bronch prolif
                                <option value="ba"> BAC
                                <option value="ns"> Unspec. non-small cell
                                <option value="ad"> Adenocarcinoma
                                <option value="as"> Adenosquamous
                                <option value="la"> Large cell
                                <option value="sq"> Squamous cell
                                <option value="sm"> Small cell
                                <option value="ct"> Carcinoid - typical
                                <option value="ca"> Carcinoid - atypical
                                <option value="be"> Not malignant
                                <option value="bs"> Benign specific
                                <option value="os"> Other (specify)
                            </select>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("ceinod", "Indicate the index nodule driving follow-up:") }}
                </div>
                <div class="col-sm-3 form-group">
                    <select name="ceinod" id="ceinod" class="form-control">
                        <option value="-"> -
                        <option value="1"> 1
                        <option value="2"> 2
                        <option value="3"> 3
                        <option value="4"> 4
                        <option value="5"> 5
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("celrad", "LungRADS category") }}
                </div>
                <div class="col-sm-3 form-group">
                    <select name="celrad" id="celrad" class="form-control">
                        <option value="-"> -
                        <option value="0"> 0
                        <option value="1"> 1
                        <option value="2"> 2
                        <option value="3"> 3
                        <option value="4A"> 4A
                        <option value="4B"> 4B
                        <option value="4X"> 4X
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("celrads", "LungRADS modifier") }}
                </div>
                <div class="col-sm-3 form-group">
                    {{ f.checkbox("celrads", "S", "S") }}
                    {{ f.checkbox("celradc", "C", "C") }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="ptpdt">PET details - lung and nodules</label>
                    <textarea name="ptpdt" id="ptpdt" class="form-control"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="ptpdtln">PET details - lymph nodes</label>
                    <textarea name="ptpdtln" id="ptpdtln" class="form-control"></textarea>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 form-group">
                    {{ f.floatingLabel("ceaf-n", "Other clinically significant ancillary finding?") }}
                </div>
                <div class="col-sm-8 form-group">
                    {{ f.inlineRadio("ceaf", "ceaf-n", "n", "No") }}
                    {{ f.inlineRadio("ceaf", "ceaf-y", "yes", "Yes") }}
                    {% set r =  [1,2] %}
                    {% for i in r %}
                        <div class="row">
                            <div class="col-xs-6 col-md-4 col-lg-3 form-group">
                                <label for="ceafl{{ i }}">Organ/Location</label>
                                <select name="ceafl{{ i }}" id="ceafl{{ i }}" class="form-control">
                                    <option value="-">-
                                    <option value="b">Breast
                                    <option value="a">Abdomen
                                    <option value="h">Head
                                    <option value="n">Neck
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-8 col-lg-9 form-group">
                                <label for="ceafo{{ i }}">Describe</label>
                                <input type="text" name="ceafo{{ i }}" id="ceafo{{ i }}" class="form-control"/>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="ceafmc">Comments</label>
                        <textarea id="ceafmc" name="ceafmc" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="ceofo">Any other findings</label>
                    <textarea name="ceofo" id="ceofo" class="form-control"></textarea>
                </div>
            </div>

            <hr/>
            <h3>Follow-Up</h3>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="required" for="cefu">Follow-up</label>
                    <select name="cefu" id="cefu" class="form-control" required="required">
                        <option value="-"> -
                        <option value="rs"> Annual repeat CT
                        <option value="dx"> Follow-up CT
                        <option value="af"> Abx + follow-up CT
                        <option value="pe"> PET
                        <option value="cc"> CT w contrast
                        <option value="fn"> CT-guided biopsy
                        <option value="br"> Bronchoscopy
                        <option value="va"> VAT
                        <option value="su"> Resection
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label class="required" for="cefud">When</label>
                    {{ f.datepicker("cefud", "future", true) }}
                    <br/>
                    {{ f.inlineRadio("cefuw", "cefuw-nw", "nw", "Now") }}
                    {{ f.inlineRadio("cefuw", "cefuw-1m", "1m", "1 month") }}
                    {{ f.inlineRadio("cefuw", "cefuw-3m", "3m", "3 months") }}
                    {{ f.inlineRadio("cefuw", "cefuw-6m", "6m", "6 months") }}
                    {{ f.inlineRadio("cefuw", "cefuw-1y", "1y", "1 year") }}
                    {{ f.inlineRadio("cefuw", "cefuw-os", "os", "Other") }}
                </div>
            </div>

            <hr/>
            <h3>Impression</h3>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="required" for="ceimn-rs">Nodules</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimn" id="ceimn-rs" value="rs" required="required"> No evidence
                            of
                            abnormal uptake. Follow-up as recommended above.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimn" id="ceimn-ro" value="ro" required="required"> Uptake as
                            described above. Follow-up as recommended above.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimn" id="ceimn-ru" value="ru" required="required"> Nodule(s)
                            unchanged, as described above. Follow-up as recommended above.
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="required" for="ceimo-no">Other findings</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimo" id="ceimo-rs" value="rs" required="required"> No other
                            abnormalities.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimo" id="ceimo-oa" value="oa" required="required"> Other
                            abnormalities and suggested follow-up as described above.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ceimo" id="ceimo-da" value="da" required="required"> Diffuse
                            abnormalities.
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="ceimre">Impression remarks</label>
                    <textarea name="ceimre" id="ceimre" class="form-control"></textarea>
                </div>
            </div>

            <hr/>
            <div class="pull-left">
                <input type="hidden" name="samistatus" value=""/>
                <button type="submit" class="btn btn-default" id="save-for-later-button">Save for Later</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
            <div class="pull-right">
                <a id="delete-form" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
            </div>
        </form>
    </div>

    {{ f.deleteFormModal("pet.html", mockup, formMethod)}}
{% endblock %}

{% block script %}
    <script lang="JavaScript">


        function createFormValidator() {

            const $form = $('#main-form');
            const multiInputValidators = ['ceimn', 'ceimo'];

            $form.formValidation({
                    fields: {
                        ptdos: {
                            validators: {
                                notEmpty: {message: 'Study date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Study date may not be in the future'}
                            }
                        },
                        ptrad: {validators: {notEmpty: {message: 'Radiologist is required'}}},
                        sidoe: {
                            validators: {
                                notEmpty: {message: 'Baseline CT date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Baseline CT date may not be in the future'}
                            }
                        },
                        cedos: {
                            validators: {
                                notEmpty: {message: 'Date is required'},
                                date: {max: VAPALS.todaysDate(), message: 'Date may not be in the future'}
                            }
                        },
                        cefu: {validators: {callback: {callback: notDash, message: 'Select a value'}}},
                        cefud: {
                            validators: {
                                notEmpty: {message: 'Follow-up date is required'},
                                date: {min: VAPALS.todaysDate(), message: 'Date may not be in the past'}
                            }
                        },
                        ceimn: {validators: {notEmpty: {message: 'Nodule impression is required'}}},
                        ceimo: {validators: {notEmpty: {message: 'Other findings is required'}}},
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bootstrap3: new FormValidation.plugins.Bootstrap3(),
                        submitButton: new FormValidation.plugins.SubmitButton({selector: "#submit-button"}),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        excluded: new FormValidation.plugins.Excluded(), //disable validators on hidden, disabled fields
                        icon: new FormValidation.plugins.Icon({
                            valid: '',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh',
                            onPlaced: function (e) {
                                if (multiInputValidators.indexOf(e.field) > -1) {

                                    let selector = "";
                                    if (e.element.id) {
                                        selector = "#" + e.element.id
                                    }
                                    else {
                                        selector = "[name=" + e.element.name + "]"
                                    }

                                    $(selector).closest(".form-group").append(e.iconElement);
                                }
                            },
                        })
                    }
                }
            );

            const fv = $form.data('formValidation');
            fv.on('core.form.invalid', VAPALS.autoScrollToErrorField);
            fv.on('core.element.validated', VAPALS.hideSuccessFormatting);

            return fv;
        }

        $(function () {

            const fv = createFormValidator();

            //follow-up date calculator.
            $("[name=cefuw]").on("change", function () {
                const when = $("[name='cefuw']:checked").val();
                switch (when) {
                    case "nw":
                        $("#cefud").val(moment().format(VAPALS.DATE_FORMAT));
                        break;
                    case "1m":
                        $("#cefud").val(moment().add(1, 'month').format(VAPALS.DATE_FORMAT));
                        break;
                    case "3m":
                        $("#cefud").val(moment().add(3, 'month').format(VAPALS.DATE_FORMAT));
                        break;
                    case "6m":
                        $("#cefud").val(moment().add(6, 'month').format(VAPALS.DATE_FORMAT));
                        break;
                    case "1y":
                        $("#cefud").val(moment().add(1, 'year').format(VAPALS.DATE_FORMAT));
                        break;
                    default:
                        $("#cefud").val("").focus();
                }

                fv.revalidateField('cefud');
            });
        });
    </script>

{% endblock %}