{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
    <h1>
        Sample, Sammy G
        <small class="text-muted" title="Study ID">ST0001</small>
    </h1>
    <h2>{{ title | escape }}
        <small class="text-muted" title="Medical Record Number">1234567890</small>
    </h2>

    <hr/>
    {# @formatter:off#}
<pre id="report-text">
{% if mockup %}
CT examination of the entire thorax was performed at low-dose CT settings.

Nodule 1 located in the right lower lobe, within 0 mm of the costal pleura, was previously seen and is
unchanged. The maximum length is 15 mm and the maximum width is 5 mm. It is non-calcified, solid, and has irregularly
marginated edges (series 2, image 74).

Nodule 2 located in the left upper lobe, within 0 mm of the costal pleura, was previously seen and is
unchanged. The maximum length is 7 mm and the maximum width is 6 mm. It is non-calcified, nonsolid, and has irregularly
marginated edges (series 2, image 151).

Nodule 3 located in the left upper lobe, within 13 mm of the costal pleura, was previously seen and shows a
slight increase. The maximum length is 20 mm and the maximum width is 15 mm. It is non-calcified, part solid, and
has smooth edges (series 2, image 196). CT-guided biopsy is recommended.

Nodule 4 located in the right lower lobe, within 0 mm of the costal pleura, was previously seen and is
unchanged. The maximum length is 25 mm and the maximum width is 18 mm. It is non-calcified, nonsolid, and has smooth
edges (series 2, image 239).

Nodule 5 located in the right lower lobe, within 3 mm of the costal pleura, was previously seen and is
unchanged. The maximum length is 8.5 mm and the maximum width is 6 mm. It is non-calcified, nonsolid, and has smooth
edges (series 2, image 198).

Nodule 6 located in the left upper lobe, within 1 mm of the costal pleura, was previously seen and is
unchanged. The maximum length is 2 mm and the maximum width is 1.5 mm. It is non-calcified, nonsolid, and has smooth
edges (series 2, image 144).

Nodule 7 located in the left upper lobe, within 5 mm of the costal pleura, was previously seen and is
unchanged. The maximum length is 2 mm and the maximum width is 2 mm. It is calcified, solid, and has smooth edges
(series 2, image 170).

No emphysema is noted.

Scarring is seen in the RUL and LUL (apical bilateral).
No pleural effusions are seen.

Coronary calcifications are seen as follows: none in the left main artery, moderate in the left anterior descending
artery, minimal in the circumflex artery, and moderate in the right coronary artery. The Visual Coronary Artery
Calcium (CAC) Score is 5.

No pericardial effusion is seen.

No abnormalities are seen in the neck or mediastinum.
Calcification is seen in the right breast.

Limited view of the upper abdomen reveals no abnormalities.
Impression:
Nodule(s) as described above.

Other abnormalities as described above.

The Visual Coronary Artery Calcium (CAC) Score is 5. Since your Visual CAC Score is above 3, we recommend that you
consult with your physician for a clinical interpretation, as you may be at risk for coronary artery disease.

No emphysema is noted.

Recommendations:


Recommend CT-guided biopsy at this time on 02/Jan/2013.

Interpreted by: IJL+DY
{% endif %}
</pre>
    {#@formatter:off#}



    <div class="pull-right">
        <button class="btn btn-default" data-clipboard-target="#report-text">
            <i class="glyphicon glyphicon-copy" alt="Copy to clipboard"></i> Copy to clipboard
        </button>
    </div>
    <div class="clearfix"></div>



{% endblock %}

{% block script %}
    <script language="JavaScript">

        new ClipboardJS('.btn').on("success", function(e){
            $(e.trigger).tooltip({title:"Copied!", delay: { "hide": 1000 }}).show();
            e.clearSelection();
        }).on('error', function(e) {
            $(e.trigger).tooltip({title:"Press ctrl-C"}).show();
        });
    </script>

{% endblock %}