{% import 'forms.jinja2' as f %}

{% macro answer(name, label, value) -%}
    <div class="col-md-2 form-group">
        {{ f.inlineRadio(name,name+"-"+value, value, label) }}
    </div>
{%-endmacro %}

{% macro sf12(prefix) -%}
    <div class="row">
        <div class="col-md-12">
            <p>1. Overall, how would you rate your health during the <em>past 4 weeks</em>?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb1","Excellent", "1") }}
        {{ answer(prefix + "sfb1","Very good", "2") }}
        {{ answer(prefix + "sfb1","Good", "3") }}
        {{ answer(prefix + "sfb1","Fair", "4") }}
        {{ answer(prefix + "sfb1","Poor", "5") }}
        {{ answer(prefix + "sfb1","Very Poor", "6") }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>2. During the <strong style="text-decoration: underline;">past 4 weeks</strong> how much did physical
                health problems limit your usual physical activities(such as walking or climbing stairs)?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb2","Not at all", "1") }}
        {{ answer(prefix + "sfb2","Very little", "2") }}
        {{ answer(prefix + "sfb2","Somewhat", "3") }}
        {{ answer(prefix + "sfb2","Quite a lot", "4") }}
        {{ answer(prefix + "sfb2","Could not do physical activities", "5") }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>3. During the <strong style="text-decoration: underline;">past 4 weeks</strong> how much difficulty did
                you have doing your daily work, both at home and away from home, because of your physical health?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb3","None at all", "1") }}
        {{ answer(prefix + "sfb3","A little bit", "2") }}
        {{ answer(prefix + "sfb3","Some", "3") }}
        {{ answer(prefix + "sfb3","Quite a lot", "4") }}
        {{ answer(prefix + "sfb3","Could not do daily work", "5") }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>4. How much <span style="text-decoration: underline;">bodily</span> pain have you had during the <strong
                    style="text-decoration: underline;">past 4 weeks</strong>?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb4","None", "1") }}
        {{ answer(prefix + "sfb4","Very mild", "2") }}
        {{ answer(prefix + "sfb4","Mild", "3") }}
        {{ answer(prefix + "sfb4","Moderate", "4") }}
        {{ answer(prefix + "sfb4","Severe", "5") }}
        {{ answer(prefix + "sfb4","Very Severe", "5") }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>5. During the <strong style="text-decoration: underline;">past 4 weeks</strong> how much energy did you
                have?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb5","Very much", "1") }}
        {{ answer(prefix + "sfb5","Quite a lot", "2") }}
        {{ answer(prefix + "sfb5","Some", "3") }}
        {{ answer(prefix + "sfb5","A little", "4") }}
        {{ answer(prefix + "sfb5","None", "5") }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>6. During the <strong style="text-decoration: underline;">past 4 weeks</strong> how much did your physical health or emotional problems limit your usual social activities with family or friends?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb6","Not at all", "1") }}
        {{ answer(prefix + "sfb6","Very little", "2") }}
        {{ answer(prefix + "sfb6","Somewhat", "3") }}
        {{ answer(prefix + "sfb6","Quite a lot", "4") }}
        {{ answer(prefix + "sfb6","Could not do social activities", "5") }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>7. During the <strong style="text-decoration: underline;">past 4 weeks</strong> how much have you been bothered by <strong style="text-decoration: underline;">emotional problems</strong> (such as feeling anxious, depressed or irritable)?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb7","Not at all", "1") }}
        {{ answer(prefix + "sfb7","Slightly", "2") }}
        {{ answer(prefix + "sfb7","Moderately", "3") }}
        {{ answer(prefix + "sfb7","Quite a lot", "4") }}
        {{ answer(prefix + "sfb7","Extremely", "5") }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>8. During the <strong style="text-decoration: underline;">past 4 weeks</strong> how much did personal or emotional problems keep you from doing your usual work, school or other daily activities?</p>
        </div>
    </div>
    <div class="row">
        {{ answer(prefix + "sfb8","Not at all", "1") }}
        {{ answer(prefix + "sfb8","Very little", "2") }}
        {{ answer(prefix + "sfb8","Somewhat", "3") }}
        {{ answer(prefix + "sfb8","Quite a lot", "4") }}
        {{ answer(prefix + "sfb8","Could not do daily activities", "5") }}
    </div>
{%-endmacro %}