{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}

    <div class="container-fluid" style="max-width:1550px">
        <h1> PAGE NAME
            <small>CRITERIA</small>
        </h1>
        {% include '_messages.jinja2' %}
        <form action="{{ formPage+".html" if mockup else "/vapals" }}" class="validated" method="{{ formMethod }}"
              id="main-form">
            <input type="hidden" name="site" value="@@SITE@@">
            <input type="hidden" name="samiroute" value="report"/>
            <input type="hidden" name="samireporttype" value="@@REPORTTYPE@@"/>
            <div class="row">
                <div class="col-md-2 col-sm-3 form-group">
                    <label for="start-date">Start</label>
                    {{ f.datepicker("start-date") }}
                </div>
                <div class="col-md-2 col-sm-3 form-group">
                    <label for="end-date">End</label>
                    {{ f.datepicker("end-date") }}
                </div>
                <div class="col-md-2 col-sm-3 col-xs-2" style="height:45px;">
                    <button type="submit" class="btn btn-primary" id="submit-button"
                            style="top: 24px;position: absolute;">Submit
                    </button>
                </div>
            </div>
        </form>

        <hr/>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th><span data-params-text="socialSecurityNumber.short">SSN</th>
                </tr>
                </thead>
                <tbody>
                {% if mockup %}
                    <tr>
                        <td>Lorem Imspum</td>
                        <td>987-65-4321</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
