{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1> PAGE NAME </h1>
        <hr/>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>SSN</th>
                </tr>
                </thead>
                <tbody>
                {% if mockup %}
                    <tr>
                        <td>Lorem Imspum</td>
                        <td>987-65-4321</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}