{% extends 'layout.jinja2' %}
{% import 'forms.jinja2' as f %}
{% block title %}{{ title | escape }}{% endblock %}

{% set noduleArray = range(1,11) %}
{% block body %}
    <div class="container-fluid" style="max-width:1550px">
        <h1>
            Toggle ELCAP/LungRADS
        </h1>
        <div class="well">Clicking these buttons will set the SITE mode immediately and for ALL USERS.</div>
        <div class="alert alert-danger" style="display: none">
            <span id="error-message"></span>
        </div>
        <div class="alert alert-success" style="display: none">
            <span id="success-message"></span>
            <br/>
            <a class="navigation" data-method="{{ formMethod }}" data-samiroute="casereview"
               href="{{ "casereview.html" if mockup else "#!" }}">Back to Case Review</a>
        </div>

        <hr/>
        <button type="button" class="btn btn-default btn-lg" onclick="toggle('elcap')">ELCAP</button>
        <button type="button" class="btn btn-default btn-lg" onclick="toggle('lungrads')">Lung-RADS</button>
    </div>


{% endblock %}

{% block script %}
    <script language="JavaScript">
        function toggle(mode) {
            $(".alert").hide();
            $.ajax("/set" + mode, {
                success: function () {
                    const studyId = localStorage.getItem('studyid');
                    const caseReview = studyId != "" && studyId != "@@SID@@";
                    $("a.navigation").toggle(caseReview);
                    $("#success-message").text("Successfully enabled " + mode.toUpperCase() + "!").closest(".alert").show();
                    $("#formMode").text(mode.toUpperCase());
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#error-message").text("Unable to toggle to " + mode.toUpperCase() + ". " + errorThrown).closest(".alert").show();
                }
            });
        }
    </script>

{% endblock %}