@charset "utf-8";
/* CSS Document */

body{
	background: url(images/logo.png) 20px 20px no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 7pt;
	/*margin: 10px 20px;*/
	}

font{ font-size: inherit; }

table{
	font-size: inherit;
	/* margin-top: 20px; */
	border-collapse: collapse;

}

h1{ background-color: rgb(92, 109, 141);
	color: rgb(240, 240, 240);
	padding: 3px 0 3px 10px;}
h2{ color: rgb(10, 10, 10);}
h3{ color: rgb(141, 122, 92);}

a{ color: rgb(92, 109, 141); }

a.yellow
{ color: rgb(255,255,255);
	background-color: rgb(196,139,0);
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 10px;
	border:none;
	margin-left: 10px;}

a.yellow:hover{
	background-color: rgb(247,240,222); }


.note{
	color: rgb(92, 109, 141);
	font-style: italic;
}

.important{
	padding: 5px 0 5px 30px;
	color: rgb(204, 0,0);
	background: transparent url(images/important.png) no-repeat;
	margin: 20px 0;
	font-weight: bold;
}

/** use these classes for tables with borders and defined rows**/
table.uxassist{
	border: 1px solid rgb(152,152,152);

}

table.uxassist td{ padding: 3px 5px; }

table.uxassist tr:first-child td,
table.uxassist th{
	background-color: rgb(92, 109, 141);
	color: rgb(255,255,255);
}

table.uxassist td:nth-child(even),
table.uxassist.noheading tr:first-child td:nth-child(even){
	background-color: rgb(248, 242, 227);
}

table.uxassist table tr:first-child td,
table.uxassist table td:nth-child(even),
table.uxassist.noheading tr td table td:nth-child(even),
table.uxassist.noheading tr:first-child td,
table.uxassist.noheading table tr:first-child td:nth-child(even){
	background-color: transparent;
	color: #333;
}

input {
        border: 2px solid #000;
}

input[type=range] {
  border: 0px;
}

select {
  border: 2px solid #000;
}

textarea {
        border: 2px solid #000;
        }

.print-select {
	padding: 10px;
	width: 40%;
	border: 1px solid #ccc;
	display: block;
	page-break-inside: avoid;
}

.question {
	page-break-inside: avoid;
}

.slider-float {
  float: left;
  width: 100mm;
  margin: 10px;
}

.sliderAmount {
  width: 10em;
}

.candidate-slider {
  width: 100mm;
}

.column-left3 {
  float: left;
  width: 33%;
  text-align: left;
  margin-left: 12px;
}

.column-center3 {
  display: inline-block;
  width: 33%;
  text-align: center;

}
.column-right3 {
  float: right;
  width: 33%;
  text-align: right;
  margin-left: -10px;
}

.slider-group:after {
  content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.floatleft {
  float: left;
  width: 90%;
}

.floatright {
  margin: 10px;
  float: right;
  text-align: left;
}

.question-options td {
	padding: 0px 0px 0px 0px;
}
