@charset "utf-8";
/* CSS Document */

body{
	background: rgb(255, 255, 255) url(images/logo.png) 20px 20px no-repeat;
		color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	/*margin: 10px 20px;*/
	margin: 8px 8px 8px 8px;
	}

font{ font-size: inherit; }

table{
	font-size: inherit;
	/* margin-top: 20px; */
	border-collapse: collapse;

}

h1{ background-color: rgb(92, 109, 141);
	color: rgb(240, 240, 240);
	padding: 3px 0 3px 10px;}
h2{ color: rgb(10, 10, 10);}
h3{ color: rgb(141, 122, 92);}

a{ color: rgb(92, 109, 141); }

a.yellow
{ color: rgb(255,255,255);
	background-color: rgb(196,139,0);
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 10px;
	border:none;
	margin-left: 10px;}

a.yellow:hover{
	background-color: rgb(247,240,222); }


.note{
	color: rgb(92, 109, 141);
	font-style: italic;
}

.important{
	padding: 5px 0 5px 30px;
	color: rgb(204, 0,0);
	background: transparent url(images/important.png) no-repeat;
	margin: 20px 0;
	font-weight: bold;
}

/** use these classes for tables with borders and defined rows**/
table.uxassist{
	border: 1px solid rgb(152,152,152);

}

table.uxassist td{ padding: 3px 5px; }

table.uxassist tr:first-child td,
table.uxassist th{
	background-color: rgb(92, 109, 141);
	color: rgb(255,255,255);
}

table.uxassist td:nth-child(even),
table.uxassist.noheading tr:first-child td:nth-child(even){
	background-color: rgb(224, 229, 240);
}

table.uxassist table tr:first-child td,
table.uxassist table td:nth-child(even),
table.uxassist.noheading tr td table td:nth-child(even),
table.uxassist.noheading tr:first-child td,
table.uxassist.noheading table tr:first-child td:nth-child(even){
	background-color: transparent;
	color: #333;
}

.indent1 {
	padding-left: 4em;
}
.indent2 {
	padding-left: 8em;
}

table, th, td {
  border: 0px;
}

.table-3opt td {
  width: 15%;
  text-align: center;
}

.table-3opt td:first-child, .table-4opt td:first-child {
  width: 55%;
  text-align: left;
}

.table-3opt tr:first-child, .table-4opt tr:first-child {
  background-color: rgb(220,220,220)
}

.table-3opt table, .table-3opt th, .table-3opt td, .table-4opt table, .table-4opt th, .table-4opt td {
  border: 2px solid black;
}

.table-4opt td {
  width: 10%;
  text-align: center;
}
.table-4opt td:first-child {
  width: 40%;
  text-align: left;
}

#minicog-wordlist table {
  border: 2px solid black;
}

#minicog-wordlist tr:first-child {
  border-bottom: 2px solid black;
  background-color: rgb(220,220,220);
}

#minicog-wordlist td, #minicog-wordlist th {
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: 16%;
}

#borg-scale table {
  border: 2px solid black;
}

#borg-scale tr:first-child {
  border-bottom: 2px solid black;
  background-color: rgb(220,220,220);
}

#borg-scale td, #borg-scale th {
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
}

.print-select {
	display: none;
}

.slider-group {
  /*width: 100%;*/
  /*width: 100mm;*/
  display: inline-block;
}

.slider-float {
  float: left;
  width: 800px;
  margin: 10px;
}

.sliderAmount {
  width: 10em;
}

.candidate-slider {
  width: 800px;
}

.column-left3 {
  float: left;
  width: 33%;
  text-align: left;
  margin-left: 12px;
}
.column-center3 {
  display: inline-block;
  width: 33%;
  text-align: center;

}
.column-right3 {
  float: right;
  width: 33%;
  text-align: right;
  margin-left: -10px;
}

.slider-group:after {
  content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.floatleft {
  float: left;
  width: 90%;
}
.floatright {
  margin: 10px;
  float: right;
  text-align: left;
}

.subq td {
  padding-left: 2em;
  vertical-align: top;
}

.cytohist {
	float: left;
	width: 50%;
}

.cytohist img {
	width: 90%;
	max-width: 600px;
}

.ctimg {
	width: 50%;
	margin: 0 auto;
}

.error {
	color: rgb(255,0,0);
	font-weight: bold;
}
